<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>Billing home</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datatables.net-dt/css/jquery.dataTables.css}"/>

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style-refactor.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/lib/underscore-min.js}"></script>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/datatables.net/js/jquery.dataTables.js}"/>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/bill/billHome.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/css/bootstrap-select.min.css}"/>

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/js/bootstrap-select.min.js}"/>

    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/js/i18n/defaults-en_US.min.js}"/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}" >
                <img th:src="@{/assets-__${applicationVersion}__/dist/img/logo.png}" class="logo-img"/>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-left"/>
        <ul>
            <a>
                <div onclick="ChangeProfile()" class="logout_image"/>
                <div id="user_name_div" class="logout">
                    <span sec:authentication="name"/>
                </div>
            </a>
        </ul>
    </div>
</nav>

<nav  class="navbar navbar-inverse sub">
    <div class="container-fluid ">
        <ul class="nav navbar-nav navbar-left">
            <li class="nav_stn"><a th:href="@{/billing}">Billing</a></li>
            <li class="nav_stn"><a th:href="@{/billing/generated-bill}">Generated Bills</a></li>
            <li class="nav_stn"><a th:href="@{/billing/tr-report}">Transmission Report</a></li>
        </ul>
        <form th:action="@{/logout}" id="log-out-form" method="POST">
            <i class="fa fa-sign-out" aria-hidden="true"/>
            <a class="logout_tag" href="javascript:$('#log-out-form').submit();">Log Out</a>
        </form>
    </div>
</nav>

<!--########################## -->
<div id="billig-main-div" class="container">
    <div class="col-md-1">
    </div>

    <div class="col-md-12 content_area">
        <div class="well header_well">
            <p class="header_well_pa">Work Orders</p>
        </div>
        <div class="modal-body" style="padding-left: 0px; padding-right: 0px;">
            <div id="billing_expired_div" class="table-responsive well middle_well_workorder wrapper-div">
                <div class="row">
                    <div class="form-group">

                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-workOrder-id">Work Order ID</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                <input type="number" class="form-control" id="txt-workOrder-id" name="txt-workOrder-id" value=""/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-agent">Agent</label>
                            <div id="drp-agent" class="control-label col-sm-8 col-md-8 col-lg-8">
                                <!-- <input type="text" class="form-control" id="txt-agent" name="txt-agent" value="">
                                 <span class="help-block"></span>-->
                                <select id="txt-agent" name="txt-agent" class="form-control">
                                    <option value="-1">Select Agent</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-client">Client</label>
                            <div id="drp-client" class="control-label col-sm-8 col-md-8 col-lg-8">
                                <!--<input type="text" class="form-control" id="txt-client" name="txt-client" value="">
                                <span class="help-block"></span>-->
                                <select id="txt-client" name="txt-client" class="form-control">
                                    <option value="-1">Select Client</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-product">Product</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                <input type="text" class="form-control" id="txt-product" name="txt-product" value=""/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">

                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-me">ME</label>
                            <div  id="drp-me" class="control-label col-sm-8 col-md-8 col-lg-8">
                                <select id="txt-me" name="txt-agent" class="form-control">
                                    <option value="">Select ME</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-wo-type">WO type</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8"><div class="dropdown">
                                <select id="txt-wo-type" name="txt-wo-type" class="form-control" >
                                    <option value="select">Select type</option>
                                    <option value="General">General</option>
                                    <option value="Trading">Trading</option>
                                    <option value="Contra">Contra</option>
                                </select>
                            </div>
                            </div>
                        </div>
                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-invoice-type">Invoice Type</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8"><div class="dropdown">
                                <select id="txt-invoice-type" name="txt-invoice-type" class="form-control" >
                                    <option value="select">Select Invoice Type</option>
                                    <option value="15-Direct">15 Direct</option>
                                    <option value="15-Agency">15 Agency</option>
                                    <option value="0-Direct">0 Direct</option>
                                    <option value="0-Agency">0 Agency</option>
                                </select>
                            </div>
                            </div>
                        </div>
                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-schedule-ref">Schedule Ref</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                <input type="text" class="form-control" id="txt-schedule-ref" name="txt-schedule-ref" value=""/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="form-group">

                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="revenue-month">Rev Month</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                <select id="revenue-month" name="revenue-month" class="form-control" >
                                    <option value="">Select rev month</option>
                                    <option value="January">January</option>
                                    <option value="February">February</option>
                                    <option value="March">March</option>
                                    <option value="April">April</option>
                                    <option value="May">May</option>
                                    <option value="June">June</option>
                                    <option value="July">July</option>
                                    <option value="August">August</option>
                                    <option value="September">September</option>
                                    <option value="October">October</option>
                                    <option value="November">November</option>
                                    <option value="December">December</option>
                                </select>
                            </div>

                        </div>

                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-end">End</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                <div id="div-end-date" class="input-append">
                                    <div class="input-group">
                                        <input id="txt-end" name="txt-end" data-format="yyyy-MM-dd" class="form-control" type="text"/>
                                        <span class="add-on input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-status">Status</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8"><div class="dropdown">
                                <select id="txt-status" name="txt-status" class="form-control" >
                                    <option value="select">Select status</option>
                                    <option value="Initial">Initial</option>
                                    <option value="IncompleteSchedule">Incomplete Schedule</option>
                                    <option value="CompleteSchedule">Complete schedule</option>
                                    <option value="Revised">Revised</option>
                                    <option value="Hold">Hold</option>
                                    <option value="CompleteAiring">Complete Airing</option>
                                    <option value="CompleteInvoicing">Complete Invoicing</option>
                                    <option value="PaymentDone">Payment Done</option>
                                </select>
                            </div>
                            </div>
                        </div>

                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="control-label col-sm-4 col-md-4 col-lg-4"></div>

                                <div class="control-label col-sm-4 col-md-4 col-lg-4">
                                    <button type="button" onclick="clearFilter()" class="btn btn_color" id="btn-clear" >Clear</button>
                                </div>

                                <div class="control-label col-sm-4 col-md-4 col-lg-4">
                                    <button type="submit" class="btn btn_color" id="btn-search" >Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>
                    <div class="row">
                        <div class="control-label col-md-4 col-lg-4">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="revenue-month">
                                Billing Type
                            </label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                <div class="control-label col-sm-7">
                                    <input type="radio" id="scheduled-opt" name="billingType" value="scheduled"/>
                                    <label for="scheduled-opt">Scheduled</label>
                                </div>
                                <div class="control-label col-sm-5">
                                    <input type="radio" id="aired-opt" name="billingType" value="aired"/>
                                    <label for="aired-opt">Aired</label>
                                </div>
                            </div>
                        </div>
                        <div class="control-label col-sm-5 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="control-label col-sm-6">
                                    <button type="button" class="btn btn_color" onclick="generateBills()">Generate Bills</button>
                                </div>
                                <div class="control-label col-sm-6">
                                    <a id="report_download" class="btn btn_color" role="button" style="height:28px;" disabled="true" aria-pressed="true">
                                        <p>Download Bills</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                <hr/>
                <div class="row" >
                    <table id="tb-all-billingWorkOrder" class="table table-responsive table-workorder cell-border">
                        <thead>
                        <tr>
                            <th>Billing</th>
                            <th>ID</th>
                            <th>Agent</th>
                            <th>Client</th>
                            <th>Product</th>
                            <th>ME</th>
                            <th>WO type</th>
                            <th>Invoice Type</th>
                            <th>Schedule Ref</th>
                            <th>Rev Month</th>
                            <th>Amount</th>
                            <th>Spot</th>
                            <th>Aired</th>
                            <th>End</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--########################## -->
</div>
<!--End content area-->
<h1></h1>
<nav  class="navbar navbar-inverse sub footer">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>

</body>
</html>
