<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">

    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

    <title>Billing view</title>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/bill/billingView.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"></script>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}" >
                <img th:src="@{/assets-__${applicationVersion}__/dist/img/logo.png}" class="logo-img"/>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-left"/>
        <ul>
            <a>
                <div onclick="ChangeProfile()" class="logout_image"/>
                <div id="user_name_div" class="logout">
                    <span sec:authentication="name"/>
                </div>
            </a>
        </ul>
    </div>
</nav>

<nav  class="navbar navbar-inverse sub">
    <div class="container-fluid ">
        <ul class="nav navbar-nav navbar-left">
            <li class="nav_stn"><a th:href="@{/billing}">Billing</a></li>
            <li class="nav_stn"><a th:href="@{/billing/generated-bill}">Generated Bills</a></li>
            <li class="nav_stn"><a th:href="@{/billing/tr-report}">Transmission Report</a></li>
        </ul>
        <form th:action="@{/logout}" id="log-out-form" method="POST">
            <i class="fa fa-sign-out" aria-hidden="true"/>
            <a class="logout_tag" href="javascript:$('#log-out-form').submit();">Log Out</a>
        </form>
    </div>
</nav>


<div class="container">
    <div class="col-md-1">
    </div>
    <div style="height:auto; !important" class="col-md-12 content_area">
        <div style="width: 105%; margin-left: -23px;" class="well header_well">
            <p class="header_well_pa">Billing view</p>
        </div>
        <div class="modal-body">
            <div class="row fullwith">
                <div style="width: 105%; margin-left: -23px; height: 1300px !important" class="well middle_well_workorder" id="">
                    <div class="form-group  col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms" for="lbl-ref"></label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms" for="lbl-woid">WO ID : </label>
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_no_with f-we-10" id="lbl-woid"></label>

                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms" for="lbl-agency">Agency : </label>
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_no_with f-we-10" id="lbl-agency"></label>

                        </div>
                    </div>

                    <div class="form-group  col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms" for="lbl-ref"></label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms" for="lbl-client">Start : </label>
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_no_with f-we-10" id="lbl-start"></label>

                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms" for="lbl-end">End : </label>
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms f-we-10" id="lbl-end"></label>

                        </div>
                    </div>

                    <div class="form-group  col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms" for="lbl-ref"></label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms" for="lbl-ref">Ref : </label>
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_no_with f-we-10" id="lbl-ref"></label>

                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms" for="lbl-client">Client : </label>
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms f-we-10" id="lbl-client"></label>

                        </div>
                    </div>

                    <div class="form-group  col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms" for="lbl-ref"></label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms" for="lbl-wotype">WO Type:  </label>
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_no_with f-we-10"  id="lbl-wotype"></label>

                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms" for="lbl-invoice">Invoice Type : </label>
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms f-we-10" id="lbl-invoice"></label>

                        </div>
                    </div>

                    <div class="form-group  col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms" for="lbl-ref"></label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms" for="lbl-budget">Budget :</label>
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_no_with f-we-10" id="lbl-budget"></label>

                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms" for="lbl-comment">Comment:  </label>
                            <label class="control-label col-sm-4 col-md-4 col-lg-4 lable_forms_no_with f-we-10"  id="lbl-comment"></label>

                        </div>
                    </div>

                    <!-- <div class="form-group col-sm-12 col-md-12 col-lg-12">
                         <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms lable_forms_billing" for="txt_work_order_id">WO ID</label>
                         <div class="control-label col-sm-2 col-md-2 col-lg-2">
                             <input type="text" class="form-control" id="txt_work_order_id" name="Work oredr id" placeholder="Work order id" readonly="">
                         </div>

                         <label class="control-label col-sm-2 col-md-2 col-lg-2 lable_forms " for="txt_work_name">WO Name</label>
                         <div class="control-label col-sm-3 col-md-3 col-lg-3">
                             <input type="text" class="form-control" id="txt_work_name" name="Work oredr name" placeholder="Work order name" readonly="">
                         </div>

                         <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms lable_forms_billing" for="txt_start_date">Start</label>
                         <div class="control-label col-sm-2 col-md-2 col-lg-2">
                             <input type="text" class="form-control" id="txt_start_date" name="Start date" placeholder="Start date" readonly="">
                         </div>


                     </div>

                     <div class="form-group col-sm-12 col-md-12 col-lg-12">
                         <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms lable_forms_billing" for="txt_end_date">End</label>
                         <div class="control-label col-sm-2 col-md-2 col-lg-2">
                             <input type="text" class="form-control" id="txt_end_date" name="End date" placeholder="End date" readonly="">
                         </div>
                         <label class="control-label col-sm-2 col-md-2 col-lg-2 lable_forms " for="txt_end_date">Comment</label>
                         <div class="control-label col-sm-6 col-md-6 col-lg-6">
                             <input type="text" class="form-control" id="txt_comment" name="End date" placeholder="Comment" readonly="">
                         </div>
                     </div>-->

                    <div id="w_details_div">
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms_billing" >Channel:</label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms_billing" >TVC</label>

                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms_billing" >TVC spots/Air:</label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms_billing" >0/0</label>

                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms_billing" >Logo spots/Air:</label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms_billing" >0/0</label>

                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms_billing" >Crowler spots/Air:</label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms_billing" >0/0</label>

                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms_billing" >L Sqeeze spots/Air:</label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms_billing" >0/0</label>

                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms_billing" >V Sqeeze spots/Air:</label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms_billing" >0/0</label>

                        </div>
                    </div>
                    <div id="bill_category" class="form-group col-sm-12 col-md-12 col-lg-12">
                    </div>

                    <div id="channel_detail_div" class="col-xs-12 table-responsive table-height">
                        <!--	<table id="channel_detail_table" class="table">
                        <thead class="thead-inverse">
                                        <tr >
                                                <th>Channel name</th>
                                                <th>Air advert count</th>
                                                <th>Rate</th>
                                                <th>Total amount</th>
                                        </tr>
                                </thead>
                                <tbody>

                                </tbody>
                        </table>-->
                    </div>


                    <div class="form-group col-sm-12 col-md-12 col-lg-12" id="sub_total_div">
                        <!--<label class="control-label col-sm-7 col-md-7 col-lg-7" ></label>
                        <label class="control-label col-sm-2 col-md-2 col-lg-2" >Sub Total</label>
                        <label class="control-label col-sm-1 col-md-1 col-lg-1" >:</label>
                        <label class="control-label col-sm-1 col-md-1 col-lg-1 text-right" id="sub_total" ></label>
                        <label class="control-label col-sm-1 col-md-1 col-lg-1" ></label>-->
                    </div>

                    <div class="form-group col-sm-12 col-md-12 col-lg-12" id="adjustment_filed">
                        <!--<label class="control-label col-sm-7 col-md-7 col-lg-7" ></label>
                        <label class="control-label col-sm-1 col-md-1 col-lg-1" >Adjust total amount</label>
                        <div class="control-label ccol-sm-1 col-md-1 col-lg-1">
                                <input type="text" class="form-control Padding0px" id="txt_adjust" name="adjustment" value="" onkeyup="setAdjustment(this.value)" title="Please enter commission" placeholder="commission">
                        </div>
                        <label class="control-label col-sm-1 col-md-1col-lg-1" >:</label>
                        <label class="control-label col-sm-1 col-md-1 col-lg-1 text-right" id="adjust_lbe"></label>
                        <label class="control-label col-sm-1 col-md-1 col-lg-1" ></label>-->
                    </div>


                    <div id="agency_commision_div" class="form-group col-sm-12 col-md-12 col-lg-12">
                        <!--<label class="control-label col-sm-7 col-md-7 col-lg-7" ></label>
                        <label class="control-label col-sm-1 col-md-1 col-lg-1" >Agency Commission</label>
                        <div class="control-label ccol-sm-1 col-md-1 col-lg-1">
                                <input type="text" class="form-control Padding0px" id="txt_commission" name="commission" value="" onkeyup="setCommission(this.value)" title="Please enter commission" placeholder="commission">
                        </div>
                        <label class="control-label col-sm-1 col-md-1col-lg-1" >:</label>
                        <label class="control-label col-sm-1 col-md-1 col-lg-1 text-right" id="commission_lbe"></label>
                        <label class="control-label col-sm-1 col-md-1 col-lg-1" ></label>-->
                    </div>

                    <div id="after_sub_total_div" class="form-group col-sm-12 col-md-12 col-lg-12">
                        <!--<label class="control-label col-sm-7 col-md-7 col-lg-7" ></label>
                        <label class="control-label col-sm-2 col-md-2 col-lg-2" >Sub Total after commission</label>
                        <label class="control-label col-sm-1 col-md-1 col-lg-1" >:</label>
                        <label class="control-label col-sm-1 col-md-1 col-lg-1 text-right" id="after_sub_total" ></label>
                        <label class="control-label col-sm-1 col-md-1 col-lg-1" ></label>-->
                    </div>

                    <div id="tax_div">
                        <!--<div class="form-group col-sm-12 col-md-12 col-lg-12">
                                <label class="control-label col-sm-7 col-md-7 col-lg-7" ></label>
                                <label class="control-label col-sm-2 col-md-2 col-lg-2" >Agency Commision</label>
                                <label class="control-label col-sm-1 col-md-1 col-lg-1" >:</label>
                                <label class="control-label col-sm-2 col-md-2 col-lg-2" >0/0</label>
                        </div>-->
                    </div>
                    <div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <label class="control-label col-sm-5 col-md-5 col-lg-5" ></label>
                            <div class="control-label col-sm-2 col-md-2 col-lg-2"  id="sap_div">

                            </div>
                            <label class="control-label col-sm-2 col-md-2 col-lg-2" ></label>
                            <div class="control-label col-sm-2 col-md-2 col-lg-2" id="bill_div">

                            </div>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1" ></label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<nav  class="navbar navbar-inverse sub">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>
<div id = "loading" class="ui-loader-background"></div>
</body>
</html>
