<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>Edit Details</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/bill/editDetails.js}"/>

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style-refactor.css}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"></script>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<input th:type="hidden" id= "invoice_id" th:value="${invoiceId}"/>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}" >
                <img th:src="@{/assets-__${applicationVersion}__/dist/img/logo.png}" class="logo-img"/>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-left"/>
        <ul>
            <a>
                <div onclick="ChangeProfile()" class="logout_image"/>
                <div id="user_name_div" class="logout">
                    <span sec:authentication="name"/>
                </div>
            </a>
        </ul>
    </div>
</nav>

<nav  class="navbar navbar-inverse sub">
    <div class="container-fluid ">
        <ul class="nav navbar-nav navbar-left">
            <li class="nav_stn"><a th:href="@{/billing}">Billing</a></li>
            <li class="nav_stn"><a th:href="@{/billing/generated-bill}">Generated Bills</a></li>
            <li class="nav_stn"><a th:href="@{/billing/tr-report}">Transmission Report</a></li>
        </ul>
        <form th:action="@{/logout}" id="log-out-form" method="POST">
            <i class="fa fa-sign-out" aria-hidden="true"/>
            <a class="logout_tag" href="javascript:$('#log-out-form').submit();">Log Out</a>
        </form>
    </div>
</nav>

    <div class="container">
        <div class="col-md-1">
        </div>
        <div style="height:500px; !important" class="col-md-10 content_area">
            <div class="well header_well" id="div-topic">
                <p class="header_well_pa">Edit Details</p>
            </div>
            <div class="modal-body">
                <div class="row" >
                    <div style="height:490px;" class="well">
                        <form id="new_channel_form" role="form">
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4 col-lg-4  lable_forms new" for="txt-invoice-date">Invoice date (SAP):</label>
                                <div class="control-label col-sm-8">
                                    <div id="invoice-date" class="input-append">
                                        <div class="input-group">
                                            <input type="text"  data-format="yyyy-MM-dd" class="form-control" id="txt-invoice-date" value="" required="required"/>
                                            <span class="add-on input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                    </span>
                                        </div>
                                    </div>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="pull-left control-label col-sm-4 col-md-4 col-lg-4 lable_forms new" for="txt-invoice-no">Invoice no:</label>
                                <div class="control-label col-sm-8">
                                    <input type="text" class="form-control" id="txt-invoice-no" value="" required="" />
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4 col-lg-4 lable_forms new" for="txt-hand-over-me">Hand over (ME) :</label>
                                <div class="control-label col-sm-8">
                                    <input type="text" class="form-control" id="txt-hand-over-me" value="" required="" />
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4 col-lg-4 lable_forms new" for="txt-hand-over-agency">Hand over (Agen):</label>
                                <div class="control-label col-sm-8">
                                    <input type="text" class="form-control" id="txt-hand-over-agency" value="" required=""/>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4 col-lg-4 lable_forms new" for="txt-payment-date">Payment date:</label>
                                <div class="control-label col-sm-8">
                                    <div id="payment-date" class="input-append">
                                        <div class="input-group">
                                            <input type="text" data-format="yyyy-MM-dd" class="form-control" id="txt-payment-date" value="" required=""/>
                                            <span class="add-on input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                    </span>
                                        </div>
                                    </div>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4 col-lg-4 lable_forms new" for="txt-paid-ref">Paid ref (cheque):</label>
                                <div class="control-label col-sm-8">
                                    <input type="text" class="form-control" id="txt-paid-ref" value="" required=""/>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4 col-lg-4 lable_forms new" for="txt-paid-amount">Paid Amount:</label>
                                <div class="control-label col-sm-8">
                                    <input type="text" class="form-control" id="txt-paid-amount" value="" required=""/>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4 col-lg-4 lable_forms new" for="txt-difference">Difference:</label>
                                <div class="control-label col-sm-8">
                                    <input type="text" class="form-control" id="txt-difference" value="" required=""/>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4 col-lg-4 lable_forms new" for="txt-clearin-doc">Clearing Doc, No</label>
                                <div class="control-label col-sm-8">
                                    <input type="text" class="form-control" id="txt-clearin-doc" value="" required=""/>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <button class="btn save add btn_color" type="button" onclick="addDetailsAfterValidation(this.form)">Save</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <nav  class="navbar navbar-inverse sub footer">
        <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
    </nav>

    <div id = "loading" class="ui-loader-background"></div>
    <div id='msg_info'></div>
</body>
</html>
