<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>Generated Bill</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/bill/generatedBill.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"></script>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}" >
                <img th:src="@{/assets-__${applicationVersion}__/dist/img/logo.png}" class="logo-img"/>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-left"/>
        <ul>
            <a>
                <div onclick="ChangeProfile()" class="logout_image"/>
                <div id="user_name_div" class="logout">
                    <span sec:authentication="name"/>
                </div>
            </a>
        </ul>
    </div>
</nav>

<nav  class="navbar navbar-inverse sub">
    <div class="container-fluid ">
        <ul class="nav navbar-nav navbar-left">
            <li class="nav_stn"><a th:href="@{/billing}">Billing</a></li>
            <li class="nav_stn"><a th:href="@{/billing/generated-bill}">Generated Bills</a></li>
            <li class="nav_stn"><a th:href="@{/billing/tr-report}">Transmission Report</a></li>
        </ul>
        <form th:action="@{/logout}" id="log-out-form" method="POST">
            <i class="fa fa-sign-out" aria-hidden="true"/>
            <a class="logout_tag" href="javascript:$('#log-out-form').submit();">Log Out</a>
        </form>
    </div>
</nav>

<div class="container">
    <div class="col-md-1">
    </div>
    <div style="height:700px; !important" class="col-md-12 content_area">
        <div style="width: 105%; margin-left: -23px;" class="well header_well">
            <p class="header_well_pa">Generated Bill</p>
        </div>
        <div class="modal-body">
            <div class="row fullwith">
                <div style="height:630px; width: 105%; margin-left: -23px;" class="well middle_well_workorder wrapper-div " id="">

                    <div id="generated_bill_div" class="table-responsive">
                        <table id="generated_bill_table" class="table table-bordered table-workorder">
                            <thead>
                            <tr>
                                <th>Invoice Id</th>
                                <th>Work order Id</th>
                                <th>Billing Client</th>
                                <th>Commission Rate</th>
                                <th>Total Amount</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="bill_view_pop" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Bill view</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-sm-6 col-md-6 col-lg-6">
                        <label class="form-group col-sm-12 col-md-12 col-lg-12">Customer Details</label>
                        <label class="form-group col-sm-12 col-md-12 col-lg-12">Customer Details</label>
                        <label class="form-group col-sm-12 col-md-12 col-lg-12">Customer Details</label>
                        <label class="form-group col-sm-12 col-md-12 col-lg-12">Customer Details</label>
                        <label class="form-group col-sm-12 col-md-12 col-lg-12">Customer Details</label>
                    </div>
                    <div class="form-group col-sm-6 col-md-6 col-lg-6">
                        <label class="form-group col-sm-12 col-md-12 col-lg-12">End Customer Details</label>
                        <label class="form-group col-sm-12 col-md-12 col-lg-12">End Customer Details</label>
                        <label class="form-group col-sm-12 col-md-12 col-lg-12">End Customer Details</label>
                        <label class="form-group col-sm-12 col-md-12 col-lg-12">End Customer Details</label>
                        <label class="form-group col-sm-12 col-md-12 col-lg-12">End Customer Details</label>
                    </div>
                </div>

                <div id="channel_detail_pop_div" class="col-xs-12 table-responsive table-height">
                    <table id="channel_detail_pop_table" class="table">
                        <thead class="thead-inverse">
                        <tr >
                            <th>Channel name</th>
                            <th>Air advert count</th>
                            <th>Rate</th>
                            <th>Total amount</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" onclick="saveAdvertisement()" class="btn btn-success btn-block">Save</button>
            </div>
        </div>
    </div>
</div>
<nav  class="navbar navbar-inverse sub">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>
<div id = "loading" class="ui-loader-background"></div>
</body>
</html>
