<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />
    <title>Transmission Report</title>

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles2.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datatables.net-dt/css/jquery.dataTables.css}"/>

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/css/datepickerchanged.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datepicker/datepicker.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/bill/transmissionReport.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/datepicker/bootstrap-datepicker.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/datatables.net/js/jquery.dataTables.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>
    <style>
            .datepicker,
            .table-condensed {
                font-size: small;
            }
        </style>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}" >
                <img th:src="@{/assets-__${applicationVersion}__/dist/img/logo.png}" class="logo-img"/>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-left"/>
        <ul>
            <a>
                <div onclick="ChangeProfile()" class="logout_image"/>
                <div id="user_name_div" class="logout">
                    <span sec:authentication="name"/>
                </div>
            </a>
        </ul>
    </div>
</nav>

<nav  class="navbar navbar-inverse sub">
    <div class="container-fluid ">
        <ul class="nav navbar-nav navbar-left">
            <li class="nav_stn"><a th:href="@{/billing}">Billing</a></li>
            <li class="nav_stn"><a th:href="@{/billing/generated-bill}">Generated Bills</a></li>
            <li class="nav_stn"><a th:href="@{/billing/tr-report}">Transmission Report</a></li>
        </ul>
        <form th:action="@{/logout}" id="log-out-form" method="POST">
            <i class="fa fa-sign-out" aria-hidden="true"/>
            <a class="logout_tag" href="javascript:$('#log-out-form').submit();">Log Out</a>
        </form>
    </div>
</nav>

<div class="container">
    <div class="col-md-1">
    </div>
    <div style="height:700px; !important" class="col-md-12 content_area">
        <div style="width: 105%; margin-left: -23px;" class="well header_well">
            <p class="header_well_pa">Transmission Report</p>
        </div>
        <div class="modal-body">
            <div class="row fullwith">
                <div style="height:630px; width: 105%; margin-left: -23px;" class="well middle_well_workorder wrapper-div ">

                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="form-group col-sm-3 col-md-3 col-lg-3">
                                <div class="input-group">
                                    <span class="input-group-addon lable_forms_trans">Channels</span>
                                    <select id="channelList" name="channelId" class="form-control">

                                    </select>
                                </div>
                                <span id="CN_vali" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-3 col-md-3 col-lg-3">
                                <div class="input-group" id="workOrderList_div">
                                    <span class="input-group-addon lable_forms_trans">Work Oder</span>
                                    <select id="workOrderList" name="workOrderId" class="form-control" onchange="workOrderSelectionChange()">

                                    </select>
                                </div>
                                <span id="CN_vali" class="text-danger"></span>
                            </div>
                            <div class="form-group control-label filterform-groups pull-right paddingright15">
                                <div class="input-group">
                                    <button id="filterbtn" type="button" onclick="filter()" class="btn btn-info filter">Filter</button>
                                </div>
                                <span class="text-danger"></span>
                            </div>
                            <div id="filterform-group1" class="form-group col-sm-2 col-md-2 col-lg-2 control-label filterform-groups pull-right">

                                <div class="input-group">
                                    <span class="input-group-addon lable_forms_trans">To</span>
                                    <input id="to" class="form-control" type="text" name="to" value="" size="30" placeholder="yyyy-mm-dd"/>
                                </div>
                                <span id="toDateVali"></span>
                            </div>
                            <div class="form-group col-sm-3 col-md-3 col-lg-3 control-label filterform-groups pull-right">

                                <div class="input-group">
                                    <span class="input-group-addon lable_forms_trans">From</span>
                                    <input id="from" class="form-control" type="text" name="from" value="" size="30" placeholder="yyyy-mm-dd"/>

                                </div>
                                <span id="fromDateVali"></span>
                            </div>


                            <div class="col-xs-12 table-responsive table-height">

                                <table id="table_id" class="table table-bordered table-hover display nonSorting">
                                    <thead>
                                    <tr>
                                        <th>Client</th>
                                        <th>Channel</th>
                                        <th>Work Oder</th>
                                        <th>Advertisment Name</th>
                                        <th>Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th>Schedule  Time</th>
                                        <th>Aired</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody id="trancemissionReportTableBody">
                                    </tbody>
                                </table>
                            </div>
                            <div class="row col-sm-12 col-md-12 col-lg-12 paddingTop15" id="">
                                <div id="downloadPDF_div">

                                </div>
                                <button onclick="printReport()" type="submit" class="btn btn-primary pull-right print">&nbsp;&nbsp;&nbsp;&nbsp; Print PDF &nbsp;&nbsp;&nbsp;&nbsp;</button>
                                <button onclick="printReportExcell()" type="submit" class="btn btn-primary pull-right print">&nbsp;&nbsp;&nbsp;&nbsp; Print Excel &nbsp;&nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav  class="navbar navbar-inverse sub">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>

<div id = "loading" class="ui-loader-background"></div>
</body>
</html>
