<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">

    <title>Change User Profile</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/user/changeProfile.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>

    <!--<script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/js/i18n/defaults-en_US.min.js}"/>-->
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: user-management-menu-bar"/>
</div>

<div class="container">
    <div class="col-md-1">
    </div>
    <div style="height:750px; !important" class="col-md-10 content_area">
        <div class="well header_well">
            <p class="header_well_pa">Change User Profile</p>
        </div>

        <div class="modal-body">
            <div class="row" >
                <div style="height: 700px;" class="well">
                    <form style="margin-left: 30px;" id="new_channel_form" role="form">

                        <div class="form-group">
                            <label class="control-label col-sm-3 lable_forms new" for="txt_channel_lon">User Name:</label>
                            <div class="control-label col-sm-8">
                                <input type="text" class="form-control control" id="username" name="" value="" required="required" title="" placeholder="" readonly="true"/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 lable_forms new" for="txt_channel_lon">Name:</label>
                            <div class="control-label col-sm-8">
                                <input type="text" class="form-control control" id="name" name="name" value="" required="required" title="" placeholder=""/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 lable_forms new" for="txt_channel_lon">Employee Id:</label>
                            <div class="control-label col-sm-8">
                                <input type="text" class="form-control control" id="emp_id" name="emp_id" value="" required="required" title="" placeholder=""/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group" id="password_div">
                            <label class="control-label col-sm-3 lable_forms new" for="txt_channel_lon">Old Password:</label>
                            <div class="control-label col-sm-8">
                                <input type="password" class="form-control control" id="password" name="" value="" required="required"  title="" placeholder=""/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 lable_forms new" for="txt_channel_lon">New Password:</label>
                            <div class="control-label col-sm-8">
                                <input type="password" class="form-control control" id="newPassword" name="" value=""  title="" placeholder=""/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 lable_forms new" for="txt_channel_lon">Confirm Password:</label>
                            <div class="control-label col-sm-8">
                                <input type="password" class="form-control control" id="confirmpassword" name="" value="" title="" placeholder=""/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 lable_forms new" for="txt_channel_lon">Address:</label>
                            <div class="control-label col-sm-8">
                                <input type="text" class="form-control control" id="address" name="" value="" required="required" title="" placeholder=""/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 lable_forms new" for="txt_channel_lon">Email:</label>
                            <div class="control-label col-sm-8">
                                <input type="email" class="form-control control" id="e_mail" name="" value="" required="required" title="" placeholder=""/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 lable_forms new" for="txt_channel_lon">Contact Number:</label>
                            <div class="control-label col-sm-8">
                                <input type="tel" pattern="[0|7][0-9]{9}" class="form-control control" id="contact" name="" value="" required="required" title="" placeholder=""/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group" id="wocreate_div">
                            <label class="control-label col-sm-3 lable_forms new" for="wo_create_premission">Work order create:</label>
                            <div class="control-label col-sm-8">
                                <input id="wo_create_premission" type="checkbox" name="vehicle" value="Bike"/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group" id="userGroup_droup"></div>

                        <!--<div class="form-group">-->
                            <!--<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#dashboard-user-groups">Dashboard Settings</button>-->
                        <!--</div>-->

                        <div class="form-group" id="dashboard-user-groups">
                            <!--<label class="">Dashboard User Groups:</label>-->
                            <div class="clearfix"/>
                        </div>
                        <button class="btn btn_color btn-block save add admin_add" type="button" onclick="updateUserAfterValidation(form)">Update</button><!--validateInputFields(this.form) && -->
                        <div id="active_button">

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!--End content area-->

<!--<nav  class="navbar navbar-inverse sub">-->
    <!--<p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>-->
<!--</nav>-->
<div id = "loading" class="ui-loader-background"></div>
</body>
</html>
