<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>Team Management</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
   <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/user/teamManagement.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/css/bootstrap-select.min.css}"/>
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/js/bootstrap-select.min.js}"/>
    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/js/i18n/defaults-en_US.min.js}"/>


    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: user-management-menu-bar"/>
</div>

<div class="container">
    <div class="col-md-1">
    </div>
    <div style="height:700px; !important" class="col-md-12 content_area">
        <div style="width: 105%; margin-left: -23px;" class="well header_well">
            <p class="header_well_pa">Team Management</p>
        </div>
        <div class="modal-body">

            <div style="height:630px; width: 105%; margin-left: -23px;" class="well middle_well_workorder wrapper-div " id="">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3" for="txt_create_teams">Create/Edit Teams</label>
                        <div class="control-label col-sm-7 col-md-7 col-lg-7">
                            <input type="text" class="form-control" id="txt_create_teams" name="txt_create_teams" value="" required="" title="Please enter Schedule ref no." placeholder=""/>
                            <span class="help-block"/>
                        </div>
                        <div class="control-label col-sm-2 col-md-2 col-lg-2">
                            <button type="button" class="btn btn-default sche_advert_delete" onclick="checkTeamName()">Save</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3 ">Administrators</label>
                        <div class="control-label col-sm-7 col-md-7 col-lg-7 ">
                            <select id="txt-me" name="txt-me"  class="selectpicker" multiple="true" >
                                <option value="">Select admin</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                        <div class="control-label col-sm-2 col-md-2 col-lg-2">
                            <!--<button type="submit" class="btn btn-default sche_advert_delete">Save</button>-->
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div id="team_details_div" class="table-responsive">
                        <table id="team_details_table" class="table table-bordered table-workorder">
                            <thead>
                                <tr>
                                    <th>All Teams</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="all_teams_table">
                                <!--<tr class="tb_align_center">-->
                                    <!--<td id="t1c1_3">Team one</td>-->
                                    <!--<td><button type="submit" id="4" class="btn btn-default sche_advert_delete">Details</button></td>-->
                                <!--</tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav  class="navbar navbar-inverse sub">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>
<div id = "loading" class="ui-loader-background"></div>
<div id='msg_info'></div>
</body>
</html>
