<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">

    <title>User Groups</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style-refactor.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/user/userGroup.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>

    <!--<script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/js/i18n/defaults-en_US.min.js}"/>-->
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: user-management-menu-bar"/>
</div>

<div class="container">
    <div class="col-md-1">
    </div>
    <div style="height:491px; !important" class="col-md-10 content_area">
        <button class="btn pull-right btn_place btn_color" data-toggle="modal" data-target="#addNewGroup" type="button">New group</button>
        <div class="well header_well">
            <p class="header_well_pa">User Group</p>
        </div>

        <div class="modal-body">
            <div class="row" >
                <div style="height: 422px;" class="well">
                    <form style="margin-left: 30px;" id="new_channel_form" role="form">

                        <div class="form-group">
                            <div class="row">
                                <div id="group_seleter" class="control-label col-sm-8">
                                    <select id="groupdropdown" class="form-control control">
                                        <option VALUE="-111" >--Select Group--</option>
                                    </select>
                                    <span class="help-block"></span>
                                </div>
                                <div class="control-label col-sm-3">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div id="page_seleter" class="control-label col-sm-8">
                                    <select id="pagedropdown" class="form-control control">
                                        <option VALUE="-111" >--Select Page--</option>
                                    </select>
                                    <span class="help-block"></span>
                                </div>
                                <div class="control-label col-sm-4">
                                    <button class="btn btn-block save add admin_add2 add567 btn_color" type="button" onclick="AddData()">Add</button>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div id="userGroup_table_div" class="well middle_well_usergroup">
                                <table id="userGroup_table" class="table table-bordered table-workorder">
                                    <thead>
                                    <tr>
                                        <th>Page</th>
                                        <th>Read</th>
                                        <th>Write</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <button class="btn save btn_color" onclick="savaUserDroup()" type="button" >Save</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<!--End content area-->
<!--Add New group Modal -->
<div class="modal fade" id="addNewGroup" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>New Group</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-2" for="">Group Name:</label>
                        <div class="control-label col-sm-6">
                            <input type="text" class="form-control" id="txt_groupName" value=""/>
                            <span class="help-block"></span>
                        </div>
                        <div class="control-label col-sm-4">
                            <button class="btn btn-block save add admin_add2 add567 btn_color" type="button" onclick="AddGeoupName()">Add</button>
                        </div>
                    </div>
                </div>
                <h1>&nbsp;</h1>
            </div>
        </div>
    </div>
</div>
<!--Add New group Modal -->
<nav  class="navbar navbar-inverse sub footer">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>
<div id = "loading" class="ui-loader-background"></div>
<div id='msg_info'></div>
</body>
</html>
