<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>Client Revenue Report</title>
    <meta http-equiv='cache-control' content='no-cache'/>
    <meta http-equiv='pragma' content='no-cache'/>
    <meta http-equiv='expires' content='0'/>

    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/css/bootstrap-select.min.css}"/>

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/js/bootstrap-select.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/reporting/clientRevenueReport.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: reporting-menu-bar"/>
</div>

<div id="all-advert-main-div" class="container">

    <div class="col-lg-12 content_area">
        <div class="row well header_well">
            <p class="header_well_pa">Client Revenue Report</p>
        </div>

        <div class="modal-body">
            <div class="row" >
                <div style="height:600px;" class="well middle_well_workorder2 wrapper-div">
                    <div class="row">

                        <div class="control-label col-md-3">
                            <div id="wo-id-div" class="input-append">
                                <div class="input-group">
                                    <span class="input-group-addon">Client</span>
                                    <div class="dropdown">
                                        <select id="client-list" name="client-list"  class="selectpicker" multiple="true">
                                            <option value="-111">Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <span class="help-block"></span>
                        </div>

                        <div class="control-label col-md-2">
                            <div id="wo-id-div" class="input-append">
                                <div class="input-group">
                                    <span class="input-group-addon">Years</span>
                                    <div class="dropdown">
                                        <select id="year-list" name="year-list"  class="form-control">
                                            <option value="-111">Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <span class="help-block"></span>
                        </div>

                        <div class="control-label col-md-2">
                            <div id="wo-id-div" class="input-append">
                                <div class="input-group">
                                    <span class="input-group-addon">Months</span>
                                    <div class="dropdown">
                                        <select id="month-list" name="month-list"  class="form-control">
                                            <option value="All">Select</option>
                                            <option value="January">January</option>
                                            <option value="February">February</option>
                                            <option value="March">March</option>
                                            <option value="April">April</option>
                                            <option value="May">May</option>
                                            <option value="June">June</option>
                                            <option value="July">July</option>
                                            <option value="August">August</option>
                                            <option value="September">September</option>
                                            <option value="October">October</option>
                                            <option value="November">November</option>
                                            <option value="December">December</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <span class="help-block"></span>
                        </div>

                        <div class="control-label col-md-3">

                        </div>

                        <div class="control-label col-md-1">
                            <button type="button" onclick="getClientRevenueData()" class="btn btn_color pull-left" >Search</button>
                        </div>
                        <div class="control-label col-md-1">
                            <button type="button" onclick="clearFilter()" class="btn btn_color pull-left" >Clear</button>
                        </div>
                    </div>
                    <div class="row p-t-10">
                        <table id="client-revenue-table" class="table table-bordered table-workorder">
                            <thead>
                            <tr>
                                <th>Client</th>
                                <th>Not Set Revenue</th>
                                <th>Jan</th>
                                <th>Feb</th>
                                <th>Mar</th>
                                <th>Apr</th>
                                <th>May</th>
                                <th>Jun</th>
                                <th>Jul</th>
                                <th>Aug</th>
                                <th>Sep</th>
                                <th>Oct</th>
                                <th>Nov</th>
                                <th>Dec</th>
                                <th>Grand Total</th>
                            </tr>
                            </thead>
                            <tbody id="client-revenue-table-body">

                            </tbody>
                        </table>
                    </div>
                    <div class="row p-t-10">
                        <div class="control-label col-md-8"></div>
                        <div class="control-label col-md-3">
                            <button type="button" onclick="generateExcel()" class="btn btn_color pull-right" >Generate Excel</button>
                        </div>
                        <div class="control-label col-md-1"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id = "loading" class="ui-loader-background"></div>

<nav  class="navbar navbar-inverse sub">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>
</body>
</html>
