<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">

    <title>Commercial Availability-Channel wise</title>
    <meta http-equiv='cache-control' content='no-cache'/>
    <meta http-equiv='pragma' content='no-cache'/>
    <meta http-equiv='expires' content='0'/>

    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/reporting/comAvailabilityChannelWise.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: reporting-menu-bar"/>
</div>

<div id="all-advert-main-div" class="container">

    <div class="col-lg-12 content_area">
        <div class="row well header_well">
            <p class="header_well_pa">Commercial Availability-Channel wise</p>
        </div>

        <div class="modal-body">
            <div class="row" >
                <div style="height:600px;" class="well middle_well_workorder2 wrapper-div">
                    <div class="row">
                        <div class="control-label col-md-3">
                            <div id="startDate-selecter" class="input-append">
                                <div class="input-group">
                                    <span class="input-group-addon">Start date</span>
                                    <input id="start-date" name="start-date" data-format="yyyy-MM-dd" class="form-control" type="text"/>
                                    <span class="add-on input-group-addon">
                                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                    </span>
                                </div>
                            </div>
                            <span class="help-block"></span>
                        </div>
                        <div class="control-label col-md-3">
                            <div id="endDate-selecter" class="input-append">
                                <div class="input-group">
                                    <span class="input-group-addon">End date</span>
                                    <input id="end-date" name="end-date" data-format="yyyy-MM-dd" class="form-control" type="text"/>
                                    <span class="add-on input-group-addon">
                                          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                    </span>
                                </div>
                            </div>
                            <span class="help-block"></span>
                        </div>
                        <div class="control-label col-md-3">
                            <div class="dropdown">
                                <select id="channel-list" name="channel-list" class="form-control" required="">
                                </select>
                            </div>
                        </div>
                        <div class="control-label col-md-1">
                            <button type="button" onclick="getComAvailabilityChannelWiseData()" class="btn btn_color pull-left" >Search</button>
                        </div>
                        <div class="control-label col-md-2">
                            <div class="dropdown">
                                <select id="com-availability-value" onChange="changeValue()" name="clientName" class="form-control" required="">
                                    <option value="-1">Select value</option>
                                    <option value="1">Advertisement count</option>
                                    <option value="2">Advertisement duration</option>
                                    <option value="3">% of Inventory Utilization</option>
                                    <option value="4">% of Actual Utilization</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row p-t-10">
                        <table id="com-availability-channelWise-table" class="table table-bordered table-workorder">
                            <thead>
                            <tr>
                                <th>Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="row p-t-10">
                        <div class="control-label col-md-8"></div>
                        <div class="control-label col-md-3">
                            <button type="button" onclick="generateExcel()" class="btn btn_color pull-right" >Generate Excel</button>
                        </div>
                        <div class="control-label col-md-1"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id='msg_info'></div>
<div id = "loading" class="ui-loader-background"></div>

<nav  class="navbar navbar-inverse sub">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>
</body>
</html>
