<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
    <head th:with="applicationVersion=${@environment.getProperty('application.version')}">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta th:name="_applicationVersion" th:content="${@environment.getProperty('application.version')}"/>


        <title>Manual channels</title>

        <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

        <!-- custom css -->
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/animate.min.css}"/>
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/fonts/DSDIGI/font-dsdigi.css}"/>
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/dashboard-custom.css}"/>
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/report-dashboard-style.css}"/>
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>
        <!-- JavaScript -->
        <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
        <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
        <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>
        <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
        <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"></script>
        <script th:src="@{/assets-__${applicationVersion}__/js/reporting/auto-manual-dashboard.js}"/>
        <style>
            .datepicker,
            .table-condensed {
                width: 220px;
                height: 250px;
                font-size: small;
            }
        </style>
    </head>
    <body th:with="applicationVersion=${@environment.getProperty('application.version')}">
        <div id="includedMenubar">
            <th:block th:include="common-components :: reporting-menu-bar"/>
        </div>
        <div class="top-row">

            <div class=" p-a-15">
                <div id="Format1" class="pull-right"></div>
                <label class="tvc p-a-1em ">TVC</label>
                <label class="cg p-a-1em">CG</label>
                <label class="lc p-a-1em">LOGO</label>
                <label class="cg p-a-1em bg-white black"><i class="glyphicon glyphicon-arrow-down animated infinite slideOutDown black"></i>MISSED</label>
                <label class="cg p-a-1em bg-white red"><i class="glyphicon glyphicon-arrow-up animated infinite slideOutUp red"></i> UPDATED</label>
                <label class="cg p-a-1em bg-white green"><i class="glyphicon glyphicon-ok green"></i> SYSTEM MONITORING</label>
                <label class="cg p-a-1em bg-white purple newly-added b-radius-8"> NEWLY ADDED</label>

                <label class="cg p-a-1em bg-white arrow pull-right" onclick="clickNextDay()" > &#x27A4;</label>
                <label class="cg p-a-1em bg-white arrow pull-right"  onclick="clickPreviousDay()" style="transform: scale(-1, 1); "> &#x27A4;</label>

                <div class="control-label col-sm-1 pull-right">
                    <button type="button" onclick="goToDate()" class="btn btn_color" >Go</button>
                </div>

                <div class="control-label col-md-3 pull-right">
                    <div id="date-selecter" class="input-append">
                        <div class="input-group">
                            <span class="input-group-addon">Date</span>
                            <input id="setected-date" name="setected-date" data-format="yyyy/MM/dd" class="form-control" type="text"/>
                            <span class="add-on input-group-addon">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-row">
            <div id="channel-column">
            </div>
            <div id="table-column">
                <div class="c">
                    <div class="a">
                        <table class="table table-bordered" id="tbl_dashboard">
                            <tbody>

                            </tbody>
                        </table>


                    </div>
                    <div class="b">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th value="00.00">
                                        00.00-01.00
                                    </th>
                                    <th value="01.00">
                                        01.00-02.00
                                    </th>
                                    <th value="02.00">
                                        02.00-03.00
                                    </th>
                                    <th value="03.00">
                                        03.00-04.00
                                    </th>
                                    <th value="04.00">
                                        04.00-05.00
                                    </th>
                                    <th value="05.00">
                                        05.00-06.00
                                    </th>
                                    <th value="06.00">
                                        06.00-07.00
                                    </th>
                                    <th value="07.00">
                                        07.00-08.00
                                    </th>
                                    <th value="08.00">
                                        08.00-09.00
                                    </th>
                                    <th value="09.00">
                                        09.00-10.00
                                    </th>
                                    <th value="10.00">
                                        10.00-11.00
                                    </th>
                                    <th value="11.00">
                                        11.00-12.00
                                    </th>
                                    <th value="12.00">
                                        12.00-13.00
                                    </th>
                                    <th value="13.00">
                                        13.00-14.00
                                    </th>
                                    <th value="14.00">
                                        14.00-15.00
                                    </th>
                                    <th value="15.00">
                                        15.00-16.00
                                    </th>
                                    <th value="16.00">
                                        16.00-17.00
                                    </th>
                                    <th value="17.00">
                                        17.00-18.00
                                    </th>
                                    <th value="18.00">
                                        18.00-19.00
                                    </th>
                                    <th value="19.00">
                                        19.00-20.00
                                    </th>
                                    <th value="20.00">
                                        20.00-21.00
                                    </th>
                                    <th value="21.00">
                                        21.00-22.00
                                    </th>
                                    <th value="22.00">
                                        22.00-23.00
                                    </th>
                                    <th value="23.00">
                                        23.00-24.00
                                    </th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
                        var leftOffset = parseInt($("#channel-column").css('left'));
                        $(window).scroll(function () {
                            $('#channel-column').css({
                                'left': $(this).scrollLeft() + leftOffset
                            });
                            $('#hour-row').css({
                                'left': $(this).scrollLeft() + leftOffset
                            });
                        });
                        ////

                        $(function () {
                            setInterval(function () {
                                var now = new Date();
                                var hours = now.getHours();
                                //console.log(hours);
                                $('table tr th').each(function (i, v) {
                                    if ($(this).attr("value") == hours)
                                        $(this).addClass("hightlight");
                                    else
                                        $(this).removeClass("hightlight");
                                });
                                $('table tr td').each(function (i, v) {
                                    if ($(this).attr("value") == hours)
                                       $(this).addClass("hightlight");
                                    else
                                        $(this).removeClass("hightlight");
                                });
                            }, 1000);
                        });
                        /////

                        $(document).scroll(function (e) {
                            $('.b').css({
                                'left': 56 - $(document).scrollLeft()
                            });
                        });

        </script>
        
        <script language="JavaScript">
            //Get Current Date////
            var Currdate = new Date();
            var Sday = Currdate.getDate();
            var Syear = Currdate.getFullYear();
            var MonIndex = Currdate.getMonth();

            //Declare Full month Array Variable
            var FullMonth = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

            //Assign Final Output
            var FinalOut = Sday + " " + FullMonth[MonIndex] + " " + Syear
            document.getElementById("Format1").innerHTML = " " + FinalOut + " "

        </script>
        <div id='msg_info'></div>
        <div id = "loading" class="ui-loader-background"></div>
    </body>
</html>