<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">

    <title>Material Analysis</title>
    <meta http-equiv='cache-control' content='no-cache'/>
    <meta http-equiv='pragma' content='no-cache'/>
    <meta http-equiv='expires' content='0'/>

    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/css/bootstrap-select.min.css}"/>

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/js/bootstrap-select.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/reporting/materialAnalysis.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: reporting-menu-bar"/>
</div>

<div id="all-advert-main-div" class="container">

    <div class="col-lg-12 content_area">
        <div class="row well header_well">
            <p class="header_well_pa">Material Analysis</p>
        </div>

        <div class="modal-body">
            <div class="row" >
                <div style="height:600px;" id="new_work_order_div" class="well middle_well_workorder2 wrapper-div">

                    <div class="row" >
                        <div class="control-label col-sm-3">
                            <div id="wo-id-div" class="input-append">
                                <div class="input-group">
                                    <span class="input-group-addon">Cut ID</span>
                                    <div class="dropdown">
                                        <select id="cut-id-list" name="cut-id-list" class="selectpicker" multiple="true">

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <span class="help-block"></span>
                        </div>
                        <div class="control-label col-sm-3">
                            <div id="wo-id-div" class="input-append">
                                <div class="input-group">
                                    <span class="input-group-addon">Client</span>
                                    <div class="dropdown">
                                        <select id="client-list" name="client-list" class="selectpicker" multiple="true">

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <span class="help-block"></span>
                        </div>

                        <div class="control-label col-md-4"></div>

                        <div class="control-label col-md-1">
                            <button type="button" onclick="getMaterialAnalysisReport()" class="btn btn_color pull-left" >Search</button>
                        </div>

                        <div class="control-label col-md-1">
                            <button type="button" onclick="clearFilter()" class="btn btn_color pull-left" >Clear</button>
                        </div>


                    </div>


                    <div class="row">
                        <table id="material_table" class="table table-bordered table-workorder">
                            <thead>
                            <tr>
                                <th>Cut ID</th>
                                <th>Advertisement</th>
                                <th>Agency</th>
                                <th>Client</th>
                                <th>Captured date</th>
                                <th>Last Aired date</th>
                                <th>Expired date</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody id="material_table_body">

                            </tbody>
                        </table>
                    </div>
                    <div class="row p-t-10">
                        <button type="button" onclick="generateExcel()" class="btn btn_color pull-right" >Generate Excel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id = "loading" class="ui-loader-background"></div>

<nav  class="navbar navbar-inverse sub">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>
</body>
</html>
