<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>Missed Spot Count</title>

    <meta http-equiv='cache-control' content='no-cache'/>
    <meta http-equiv='pragma' content='no-cache'/>
    <meta http-equiv='expires' content='0'/>

    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/css/bootstrap-select.min.css}"/>

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/js/bootstrap-select.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/reporting/missedSpotCount.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>

    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>-->
    <!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/lib/autosearch/jquery-ui.min.js}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/lib/autosearch/jquery-ui.min.css}"/>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

    <div id="includedMenubar">
        <th:block th:include="common-components :: reporting-menu-bar"/>
    </div>

    <div id="all-advert-main-div" class="container">

        <div class="col-lg-12 content_area">
            <div class="row well header_well">
                <p class="header_well_pa">Missed Spot Count</p>
            </div>

            <div class="modal-body">

                <div class="row" >
                    <div style="height:600px;" id="new_work_order_div" class="well middle_well_workorder2 wrapper-div">

                        <div class="row">
                            <div class="form-group">

                                <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-start">Start</label>
                                    <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                        <div id="div-start-date" class="input-append">
                                            <div class="input-group">
                                                <input id="txt-start" name="txt-start" data-format="yyyy-MM-dd" class="form-control" type="text"/>
                                                <span class="add-on input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-end">End</label>
                                    <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                        <div id="div-end-date" class="input-append">
                                            <div class="input-group">
                                                <input id="txt-end" name="txt-end" data-format="yyyy-MM-dd" class="form-control" type="text"/>
                                                <span class="add-on input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-wk-order">Wk Order</label>
                                    <div id="drp-wr" class="control-label col-sm-8 col-md-8 col-lg-8">
                                        <select id="txt-wk-order" name="txt-wk-order" class="selectpicker" multiple="true">
                                        </select>
                                    </div>
                                </div>
                                <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-chanel">Channel</label>
                                    <div id="drp-client" class="control-label col-sm-8 col-md-8 col-lg-8">
                                        <select id="txt-channel" name="txt-channel" class="selectpicker" multiple="true">

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">

                                <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-advert">Advert</label>
                                    <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" class="form-control" id="txt-advert" name="txt-advert" value=""/>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-type">Type</label>
                                    <div id="drp-type" class="control-label col-sm-8 col-md-8 col-lg-8">
                                        <select id="txt-type" name="txt-type" class="form-control">
                                            <option value="-111">--All Type--</option>
                                            <option value="ADVERT">TVC</option>
                                            <option value="LOGO">Logo</option>
                                            <option value="CRAWLER">Crawler</option>
                                            <option value="V_SHAPE">V squeeze</option>
                                            <option value="L_SHAPE">L squeeze</option>
                                            <option value="FILLER">Filler</option>
                                            <option value="SLIDE">Slide</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-status">Status</label>
                                    <div id="drp-status" class="control-label col-sm-8 col-md-8 col-lg-8">
                                        <select id="txt-status" name="txt-status" class="form-control">
                                            <option value="-1">Select Status</option>
                                            <option value="9">Suspended</option>
                                            <option value="5">Missed</option>
                                            <option value="8">Dummy</option>
                                            <option value="11">Skipped</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-time-belt">Hour</label>
                                    <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                        <select id="txt-time-belt" name="txt-time-belt" class="form-control" >
                                            <option VALUE="all" selected=""> --All--</option>
                                            <option VALUE="0" >00:00</option>
                                            <option VALUE="1" >01:00</option>
                                            <option VALUE="2" >02:00</option>
                                            <option VALUE="3" >03:00</option>
                                            <option VALUE="4" >04:00</option>
                                            <option VALUE="5" >05:00</option>
                                            <option VALUE="6" >06:00</option>
                                            <option VALUE="7" >07:00</option>
                                            <option VALUE="8" >08:00</option>
                                            <option VALUE="9" >09:00</option>
                                            <option VALUE="10" >10:00</option>
                                            <option VALUE="11" >11:00</option>
                                            <option VALUE="12" >12:00</option>
                                            <option VALUE="13" >13:00</option>
                                            <option VALUE="14" >14:00</option>
                                            <option VALUE="15" >15:00</option>
                                            <option VALUE="16" >16:00</option>
                                            <option VALUE="17" >17:00</option>
                                            <option VALUE="18" >18:00</option>
                                            <option VALUE="19" >19:00</option>
                                            <option VALUE="20" >20:00</option>
                                            <option VALUE="21" >21:00</option>
                                            <option VALUE="22" >22:00</option>
                                            <option VALUE="23" >23:00</option>
                                        </select>
                                        <!--<input type="text" class="form-control" id="txt-time-belt" name="txt-time-belt" value=""/>-->
                                        <!--<span class="help-block"></span>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">

                                <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                    <!--                                        <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-advert">Advert</label>
                                                                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                                                                <input type="text" class="form-control" id="txt-workOrder-id" name="txt-advert" value="">
                                                                                <span class="help-block"></span>
                                                                            </div>-->
                                </div>
                                <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                    <!--                                        <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-type">Type</label>
                                                                            <div id="drp-type" class="control-label col-sm-8 col-md-8 col-lg-8">
                                                                                <select id="txt-type" name="txt-type" class="form-control">
                                                                                    <option value="-1">Select type</option>
                                                                                </select>
                                                                            </div>-->
                                </div>
                                <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4"></label>
                                    <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                        <button type="button" onclick="clearFilter()" class="btn btn_color" id="btn-clear" >Clear</button>
                                    </div>
                                </div>

                                <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4"></label>
                                    <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                        <button type="button" onclick="search()" class="btn btn_color" id="btn-search" >Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">

                            </div>
                        </div>

                        <div class="row">
                            <table id="media_delete_table" class="table table-bordered table-workorder">
                                <thead>
                                <tr>
                                    <th>Time Belt</th>
                                    <th>Channel Name</th>
                                    <th>Date</th>
                                    <th>Scheduled Time</th>
                                    <th>Shifted From</th>
                                    <th>Aired Time</th>
                                    <th>Advert Name</th>
                                    <th>Duration</th>
                                    <th>Cluster</th>
                                    <th>Type</th>
                                    <th>Client</th>
                                    <th>ID</th>
                                    <th>Status</th>
                                    <th>Comment</th>
                                    <th>Played User</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <div class="row p-t-10">
                            <button type="button" onclick="generateExcel()" class="btn btn_color pull-right" >Generate Excel</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id='msg_info'></div>
    <div id = "loading" class="ui-loader-background"></div>

    <nav  class="navbar navbar-inverse sub">
        <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
    </nav>
    </body>
</html>
