<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">

    <title>Sales Report</title>
    <meta http-equiv='cache-control' content='no-cache'/>
    <meta http-equiv='pragma' content='no-cache'/>
    <meta http-equiv='expires' content='0'/>

    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/css/bootstrap-select.min.css}"/>

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/js/bootstrap-select.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/reporting/sellerReport.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: reporting-menu-bar"/>
</div>

<div id="all-advert-main-div" class="container">

    <div class="col-lg-12 content_area">
        <div class="row well header_well">
            <p class="header_well_pa">Sales Report</p>
        </div>

        <div class="modal-body">
            <div class="row" >
                <div style="height:600px;" id="new_work_order_div" class="well middle_well_workorder2 wrapper-div">

                    <div class="row" >
                        <div class="control-label col-sm-3">
                            <div id="wo-id-div" class="input-append">
                                <div class="input-group">
                                    <span class="input-group-addon">Wo Type</span>
                                    <div class="dropdown">
                                        <select id="wo-type" name="wo-type" class="selectpicker" multiple="true">
                                            <option value="General">General</option>
                                            <option value="Trading">Trading</option>
                                            <option value="Contra">Contra</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <span class="help-block"></span>
                        </div>
                        <div class="control-label col-sm-3">
                            <div id="wo-id-div" class="input-append">
                                <div class="input-group">
                                    <span class="input-group-addon">Client</span>
                                    <div class="dropdown">
                                        <select id="client-list" name="client-list" class="selectpicker" multiple="true">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <span class="help-block"></span>
                        </div>
                        <div class="control-label col-sm-3">
                            <div id="wo-id-div" class="input-append">
                                <div class="input-group">
                                    <span class="input-group-addon">Agency</span>
                                    <div class="dropdown">
                                        <select id="agency-list" name="agency-list" class="selectpicker" multiple="true">

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <span class="help-block"></span>
                        </div>

                        <div class="control-label col-sm-3">
                            <div id="wo-id-div" class="input-append">
                                <div class="input-group">
                                    <span class="input-group-addon">ME</span>
                                    <div class="dropdown">
                                        <select id="me-list" name="me-list" class="selectpicker" multiple="true">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="control-label col-sm-3">
                            <div id="wo-id-div" class="input-append">
                                <div class="input-group">
                                    <span class="input-group-addon">Month</span>
                                    <div class="dropdown">
                                        <select id="month-list" name="month-list" class="selectpicker" multiple="true">
                                            <option value="January">January</option>
                                            <option value="February">February</option>
                                            <option value="March">March</option>
                                            <option value="April">April</option>
                                            <option value="May">May</option>
                                            <option value="June">June</option>
                                            <option value="July">July</option>
                                            <option value="August">August</option>
                                            <option value="September">September</option>
                                            <option value="October">October</option>
                                            <option value="November">November</option>
                                            <option value="December">December</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <span class="help-block"></span>
                        </div>

                        <div class="control-label col-sm-3">
                            <div id="wo-id-div" class="input-append">
                                <div class="input-group">
                                    <span class="input-group-addon">Year</span>
                                    <div class="dropdown">
                                        <select id="year-list" name="year-list" class="selectpicker" multiple="true">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <span class="help-block"></span>
                        </div>

                        <div class="control-label col-md-3"></div>

                        <div class="control-label col-md-1">
                            <button type="button" onclick="getSellerReport()" class="btn btn_color pull-left" >Search</button>
                        </div>

                        <div class="control-label col-md-1">
                            <button type="button" onclick="clearFilter()" class="btn btn_color pull-left" >Clear</button>
                        </div>
                    </div>

                    <div class="row">
                        <table id="sellers_table" class="table table-bordered table-workorder">
                            <thead>
                            <tr>
                                <th>Work Order ID</th>
                                <th>Agency Name</th>
                                <th>Client Name</th>
                                <th>WO Type</th>
                                <th>Invoice Type</th>
                                <th>Month</th>
                                <th>ME</th>
                                <th>Amount</th>
                                <th>Prime s/count</th>
                                <th>Non Prime s/ count</th>
                                <th>Rate</th>
                                <th>WO Status</th>
                                <th>Invoice Date</th>
                                <th>Invoice No</th>
                                <th>Payment</th>
                            </tr>
                            </thead>
                            <tbody id="sellers_table_body">

                            </tbody>
                        </table>
                    </div>
                    <div class="row p-t-10">
                        <button type="button" onclick="generateExcel()" class="btn btn_color pull-right" >Generate Excel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id = "loading" class="ui-loader-background"></div>

<nav  class="navbar navbar-inverse sub">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>
</body>
</html>
