<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">

    <title>Schedule Analysis</title>
    <meta http-equiv='cache-control' content='no-cache'/>
    <meta http-equiv='pragma' content='no-cache'/>
    <meta http-equiv='expires' content='0'/>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap_3.3.6/multiselect/js/bootstrap-multiselect.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/css/bootstrap-select.min.css}"/>

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/js/bootstrap-select.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/reporting/scheduleAnalysis.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: reporting-menu-bar"/>
</div>

<div id="all-advert-main-div" class="container">

    <div class="col-lg-12 content_area">
        <div class="row well header_well">
            <p class="header_well_pa">Schedule Analysis</p>
        </div>

        <div class="modal-body">
            <div class="row" >
                <div style="height:600px;" class="well middle_well_workorder2 wrapper-div">
                    <div class="row">
                        <div class="control-label col-md-3">
                            <div id="wo-id-div" class="input-append">
                                <div class="input-group">
                                    <span class="input-group-addon">WO ID</span>
                                    <div class="dropdown">
                                        <select id="wo-id-list" name="wo-id-list" class="selectpicker" multiple="true">
                                            <option value="-111">Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <span class="help-block"></span>
                        </div>

                        <div class="control-label col-md-3">
                            <div id="wo-id-div" class="input-append">
                                <div class="input-group">
                                    <span class="input-group-addon">Agency</span>
                                    <div class="dropdown">
                                        <select id="agency-list" name="agency-list" class="form-control">
                                            <option value="-111">Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <span class="help-block"></span>
                        </div>

                        <div class="control-label col-md-2">
                            <div id="wo-id-div" class="input-append">
                                <div class="input-group">
                                    <span class="input-group-addon">Client</span>
                                    <div class="dropdown">
                                        <select id="client-list" name="client-list"  class="form-control">
                                            <option value="-111">Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <span class="help-block"></span>
                        </div>

                        <div class="control-label col-md-2">
                            <div class="dropdown">
                                <select id="com-availability-value" onChange="changeValue()" name="clientName" class="form-control" required="">
                                    <option value="-1">Select value</option>
                                    <option value="1">Advertisement count</option>
                                    <option value="2">Advertisement duration</option>
                                    <option value="3">% of Inventory Utilization</option>
                                    <option value="4">% of Actual Utilization</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-label col-md-1">
                            <button type="button" onclick="getScheduleAnalysisData()" class="btn btn_color pull-left" >Analysis</button>
                        </div>
                        <div class="control-label col-md-1">
                            <button type="button" onclick="clearFilter()" class="btn btn_color pull-left" >Clear</button>
                        </div>
                    </div>
                    <div class="row p-t-10" id="channels-table"/>
                    <div class="row p-t-10">
                        <div class="control-label col-md-8"></div>
                        <div class="control-label col-md-3">
                            <button type="button" onclick="generateExcel()" class="btn btn_color pull-right" >Generate Excel</button>
                        </div>
                        <div class="control-label col-md-1"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id = "loading" class="ui-loader-background"></div>

<nav  class="navbar navbar-inverse sub">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>
</body>
</html>
