<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>User Wise Report</title>

    <meta http-equiv='cache-control' content='no-cache'/>
    <meta http-equiv='pragma' content='no-cache'/>
    <meta http-equiv='expires' content='0'/>

    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/css/bootstrap-select.min.css}"/>

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/js/bootstrap-select.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/reporting/userWiseReport.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>

    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>-->
    <!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/lib/autosearch/jquery-ui.min.js}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/lib/autosearch/jquery-ui.min.css}"/>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

    <div id="includedMenubar">
        <th:block th:include="common-components :: reporting-menu-bar"/>
    </div>

    <div id="all-advert-main-div" class="container">

        <div class="col-lg-12 content_area">
            <div class="row well header_well">
                <p class="header_well_pa">User Wise Report</p>
            </div>

            <div class="modal-body">

                <div class="row" >
                    <div style="height:600px;" id="new_work_order_div" class="well middle_well_workorder2 wrapper-div">

                        <div class="row">
                            <div class="form-group">

                                <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-start">Start</label>
                                    <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                        <div id="div-start-date" class="input-append">
                                            <div class="input-group">
                                                <input id="txt-start" name="txt-start" data-format="yyyy-MM-dd" class="form-control" type="text"/>
                                                <span class="add-on input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-end">End</label>
                                    <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                        <div id="div-end-date" class="input-append">
                                            <div class="input-group">
                                                <input id="txt-end" name="txt-end" data-format="yyyy-MM-dd" class="form-control" type="text"/>
                                                <span class="add-on input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-user">User</label>
                                    <div id="drp-client" class="control-label col-sm-8 col-md-8 col-lg-8">
                                        <select id="txt-user" name="txt-user" class="selectpicker" multiple="true">
                                            <option value="All">--All User--</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-channel">Channel</label>
                                    <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                        <select id="txt-channel" name="txt-channel" class="selectpicker" multiple="true">
                                            <option value="-111">--All Channel--</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">

                                <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                    <!--                                        <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-advert">Advert</label>
                                                                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                                                                <input type="text" class="form-control" id="txt-workOrder-id" name="txt-advert" value="">
                                                                                <span class="help-block"></span>
                                                                            </div>-->
                                </div>
                                <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                    <!--                                        <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-type">Type</label>
                                                                            <div id="drp-type" class="control-label col-sm-8 col-md-8 col-lg-8">
                                                                                <select id="txt-type" name="txt-type" class="form-control">
                                                                                    <option value="-1">Select type</option>
                                                                                </select>
                                                                            </div>-->
                                </div>
                                <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4"></label>
                                    <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                        <button type="button" onclick="clearFilter()" class="btn btn_color" id="btn-clear" >Clear</button>
                                    </div>
                                </div>

                                <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4"></label>
                                    <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                        <button type="button" onclick="search()" class="btn btn_color" id="btn-search" >Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">

                            </div>
                        </div>

                        <div class="row">
                            <table id="user_wise_table" class="table table-bordered table-workorder">
                                <thead>
                                <tr>
                                    <th>Channel Name</th>
                                    <th>Login Date</th>
                                    <th>Login Time</th>
                                    <th>Logout Date</th>
                                    <th>Logout Time</th>
                                    <th>Session Duration</th>
                                    <th>User Name</th>
                                    <th>IP Address</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <div class="row p-t-10">
                            <button type="button" onclick="generateExcel()" class="btn btn_color pull-right" >Generate Excel</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id='msg_info'></div>
    <div id = "loading" class="ui-loader-background"></div>

    <nav  class="navbar navbar-inverse sub">
        <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
    </nav>
    </body>
</html>
