<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>Add advertisement</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta th:name="_applicationVersion" th:content="${@environment.getProperty('application.version')}"/>
    <meta th:name="_filePathSeparator" th:content="${@environment.getProperty('file.path.separator')}"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/video_upload/vanilla.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/video_upload/vanilla.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/video_upload/vendor/jquery.ui.widget.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/video_upload/jquery.iframe-transport.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/video_upload/jquery.fileupload.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/video_upload/uploadfunction.js}"/>

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/progress_bar.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/lib/underscore-min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/addAdvertisement.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/advertisementCommon.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

    <style type="text/css">
            .row{
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
            }
            .expand{
                margin-bottom: 40px;
            }
            .expand .content {
                display: none;
                padding : 5px;
            }
            .upload_state{
                margin-top:-40px;
                margin-right:-20px;
                float:right;
            }
     </style>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}" >
                <img th:src="@{/assets-__${applicationVersion}__/dist/img/logo.png}" class="logo-img"/>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-left"/>
        <ul>
            <a>
                <div onclick="ChangeProfile()" class="logout_image"/>
                <div id="user_name_div" class="logout">
                    <span sec:authentication="name"/>
                </div>
            </a>
        </ul>
    </div>
</nav>

<nav  class="navbar navbar-inverse sub">
    <div class="container-fluid ">
        <ul class="nav navbar-nav navbar-left">
            <li class="nav_stn"><a th:href="@{/advertisement-v4}">Advertisements</a></li>
            <li class="nav_stn"><a th:href="@{/advertisement-v4/new}">New</a></li>
        </ul>
        <form th:action="@{/logout}" id="log-out-form" method="POST">
            <i class="fa fa-sign-out" aria-hidden="true"/>
            <a class="logout_tag" href="javascript:$('#log-out-form').submit();">Log Out</a>
        </form>
    </div>
</nav>

<div class="container">
    <div class="col-md-1">
    </div>
    <div style="height:700px; !important" class="col-md-12 content_area">
        <div style="width: 102%; margin-left: -7px;" class="well header_well">
            <p class="header_well_pa">Add New Advertisement</p>
        </div>
        <div class="modal-body">
            <div class="row fullwith">
                <div style="height:630px; width: 105%; margin-left: -23px;" class="well middle_well_workorder wrapper-div ">
                    <form role="form" id ="advert_data">
                        <div class="row row form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms add_adv" for="txt_client_advert">Client Name</label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                            <div id="client_select" class="control-label col-sm-8 col-md-8 col-lg-8">
                                <select id="cmbClient" name="" class="form-control" required="" onChange="loadProducts()">
                                    <option >Select Client</option>
                                </select>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="row row form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms add_adv" for="txt_product_brand">Product/Brand/Code</label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                            <div id="product_select" class="control-label col-sm-8 col-md-8 col-lg-8">
                                <select id="cmbProduct" name="" class="form-control" required="">
                                    <option value="-1">Select Product/Brand/Code</option>
                                </select>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms add_adv">Advertisement Name</label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                <input type="text" class="form-control" id="txt_advert_name_add_a" name="Advertisement name" value="" required="" title="Please enter Advertisement name"/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms add_adv" for="txt_advert_path_add_a">Advertisement Path</label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                <input type="text" class="form-control" id="txt_advert_path_add_a" name="comment" title="Please enter Advertisement path" placeholder="Advertisement Path" readonly="true"/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms add_adv" for="dro_advertisement_type_add_a">Advertisement Type</label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8" id ="dro_advertisement_type_add_a">
                                <div class="dropdown">
                                    <select id="advertisement_type_Dropdown" name="clientName" class="form-control" onchange="advertTypeDropDownChange(value)" required="">
                                        <option value="-1"></option>
                                        <option value="ADVERT">TVC</option>
                                        <option value="LOGO">Logo</option>
                                        <option value="LOGO_CONTAINER">Logo Container</option>
                                        <option value="CRAWLER">Crawler</option>
                                        <option value="V_SHAPE">V squeeze</option>
                                        <option value="L_SHAPE">L squeeze</option>
                                        <option value="FILLER">Filler</option>
                                        <option value="SLIDE">Slide</option>
                                    </select>
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="row form-group" id="logo_list_table">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms add_adv">Logo List</label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                            <div class="col-sm-7">
                                <div id="advert_main_table_div" class="table">
                                    <table style=" margin-left: 12px;" id="advert_main_table" class="table table-bordered table-workorder">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Duration(Sec)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <button style="margin-top:2px; width: 140px !important;margin-right:0px!important;" type="button" class="btn btn-default add_channel save" onclick="//setPopUpAdvertTable()" data-toggle="modal" data-target="#addAdvertisementModal">Add</button>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms add_adv" for="dro_commerical_category_add_a">Commerical Category</label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8" id ="dro_commerical_category_add_a">
                                <div class="dropdown">
                                    <select id="commerical_categoryDropdown" name="clientName" class="form-control" required="">
                                        <option value="-1">Select Advertisement Category</option>
                                        <!--<option >None</option>
                                        <option >Beverage</option>
                                        <option >Bank</option>
                                        <option >Telecommunication</option>
                                        <option >Furniture</option>
                                        <option >Education</option>
                                        <option >Jewellery</option>-->
                                    </select>
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms add_adv" for="txt_language_add_a">Language</label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                <div class="dropdown">
                                    <select id="cmbLanguage" name="" class="form-control" required="">
                                        <option value="-1"></option>
                                        <option value="Sin">Sinhala</option>
                                        <option value="Eng">English</option>
                                        <option value="Tam">Tamil</option>
                                    </select>
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms add_adv" for="txt_language_add_a">Video Type:</label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                <div class="dropdown">
                                    <select id="cmbVideoType" name="" class="form-control" required="">
                                        <option value="-1">--Select video type--</option>
                                        <option value="SD">SD</option>
                                        <option value="HD">HD</option>
                                    </select>
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms add_adv" for="txt_duration_add_a">Duration</label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                <input type="text" pattern="\d*" class="form-control" id="txt_duration_add_a" name="comment" value="0" required="" title="Please enter duration" placeholder=""/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms add_adv" >Expire Date</label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                            <div class="control-label col-md-8">
                                <div id="expire-date" class="input-append">
                                    <div class="input-group">
                                        <input id="txt_expireDate" name="expireDate" data-format="yyyy-MM-dd" class="form-control" type="text"/>
                                        <span class="add-on input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                </span>
                                    </div>
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms add_adv" >Suspend Date</label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                            <div class="control-label col-md-8">
                                <div id="suspend-date" class="input-append">
                                    <div class="input-group">
                                        <input id="txt_suspendDate" name="suspendDate" data-format="yyyy-MM-dd" class="form-control" type="text"/>
                                        <span class="add-on input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                </span>
                                    </div>
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="row form-group expand">
                            <div id="expand_header" class="header" onclick="toggleProperties()">
                                <label class="control-label col-md-12 lable_forms add_adv">Advance Properties &#x25BC;</label><br/>
                            </div>
                            <div class="content">
                                <div class="row form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms add_adv" for="txt_width">Width</label>
                                    <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                                    <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" class="form-control" id="txt_width" name="comment" value="0" required="" title="Please enter Width" placeholder=""/>
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms add_adv" for="txt_hight">Height</label>
                                    <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                                    <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" class="form-control" id="txt_hight" name="comment" value="0" required="" title="Please enter Hight" placeholder=""/>
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms add_adv" for="txt_x_position">X Position</label>
                                    <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                                    <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" class="form-control" id="txt_x_position" name="comment" value="0" required="" title="Please enter X_position" placeholder=""/>
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms add_adv" for="txt_y_position">Y Position</label>
                                    <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                                    <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" class="form-control" id="txt_y_position" name="comment" value="0" required="" title="Please enter Y_position" placeholder=""/>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div id="logo_container" class="row form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms add_adv" >Logo Container</label>
                                    <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                                    <div id="logo_select" class="control-label col-sm-8 col-md-8 col-lg-8">
                                        <div class="dropdown">
                                            <select id="cmbLogoContainer" name="" class="form-control" required="">
                                                <option value="-1">Select Container</option>
                                            </select>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div><br/>
                            <div class="row form-group">
                                <div class="control-label col-sm-2 col-md-2 col-lg-2">
                                    <button type="button" onclick="saveAdvertAfterValidation(this.form)" class="btn btn-block btn_color">Save Advertisement</button>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div id = "file_upload">
                        <div class="row form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms add_adv" for="file_selecter"><h3>Upload File</h3></label>
                        </div>
                        <div class="row form-group">
                            <div class="control-label col-md-8">
                                <video id = "video" width="500" height="400" th:attr="poster=@{/assets-__${applicationVersion}__/dist/img/Video-Icon.png}" controls="true">
                                </video>
                                <object id = "flash" width="500" height="400" data="">
                                </object>
                                <img src="" alt="Preview" id ="image" style="width:500px;height:400px;"/>
                            </div>
                            <div id="dropzone" class="control-label col-md-4">
                                <br/>
                                <div id="progress" class="progress">
                                    <div class="bar" style="width: 0%;"></div>
                                </div>
                                <span id ="state" class="glyphicon upload_state"></span>
                                <input id="fileupload" type="file" name="files[]"/>
                                <span class="help-block"></span>
                                <input class="btn btn-block btn_color advert_upload_size" type="button" id="subbutton" value="Upload"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id = "loading" class="ui-loader-background"></div>


<!--Add Advertisement Modal -->
<div class="modal fade" id="addAdvertisementModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="span-select2">Add Logo</p>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label col-sm-4 lable_forms" for="channal_list_pop:">Select Logo</label>
                    <div class="control-label col-sm-4" id="advert_list_pop_div">
                        <select id="advertDropdown_pop" name="channelName" class="form-control">
                            <option id="1" value="30">Select Advertsement</option>
                            <option id="2" value="120">Select Advertsement-1</option>
                            <option id="3" value="180">Select Advertsement-2</option>
                        </select>
                    </div>
                    <div class="control-label col-sm-4">
                        <button type="button" onclick="addAdvertisement()" class="btn btn-default sche_advert_add">Add</button>
                    </div>

                    <h1>&nbsp;</h1>

                    <div id="advertisement_table_pop_div" class="table">
                        <table id="advertisement_table_pop" class="table table-bordered table-workorder">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Duration(Sec)</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="saveAdvertisement()" class="btn btn-block sche_advert_save">Save</button>
            </div>
        </div>
    </div>
</div>
<!--Add Advertisement Modal -->

<nav  class="navbar navbar-inverse sub">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>
<div id='msg_info'></div>
</body>
</html>
