<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">

    <title>All Advertisement</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta th:name="_applicationVersion" th:content="${@environment.getProperty('application.version')}"/>
    <meta th:name="_filePathSeparator" th:content="${@environment.getProperty('file.path.separator')}"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datatables.net-dt/css/jquery.dataTables.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/datatables.net/js/jquery.dataTables.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/allAdvertisement.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>


<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}" >
                <img th:src="@{/assets-__${applicationVersion}__/dist/img/logo.png}" class="logo-img"/>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-left"/>
        <ul>
            <a>
                <div onclick="ChangeProfile()" class="logout_image"/>
                <div id="user_name_div" class="logout">
                    <span sec:authentication="name"/>
                </div>
            </a>
        </ul>
    </div>
</nav>

<nav  class="navbar navbar-inverse sub">
    <div class="container-fluid ">
        <ul class="nav navbar-nav navbar-left">
            <li class="nav_stn"><a th:href="@{/advertisement-v4}">Advertisements</a></li>
            <li class="nav_stn"><a th:href="@{/advertisement-v4/new}">New</a></li>
        </ul>
        <form th:action="@{/logout}" id="log-out-form" method="POST">
            <i class="fa fa-sign-out" aria-hidden="true"/>
            <a class="logout_tag" href="javascript:$('#log-out-form').submit();">Log Out</a>
        </form>
    </div>
</nav>

<div id="all-advert-main-div" class="container">

    <div class="col-md-12 content_area">
        <div class="row well header_well">
            <p class="header_well_pa">All Advertisement</p>
        </div>

        <div class="modal-body">
            <div class="row" >
                <div style="height:600px;" id="new_work_order_div" class="well middle_well_workorder2 wrapper-div">
                    <div class="row p-b-20">
                        <div class="col-sm-9 col-md-9 col-lg-9"></div>
                        <div class="col-sm-1 col-md-1 col-lg-1"><div class="col-sm-3 col-md-3 col-lg-3 square expir"></div><div class="col-sm-9 col-md-9 col-lg-9">Expire</div></div>
                        <div class="col-sm-1 col-md-1 col-lg-1"><div class="col-sm-3 col-md-3 col-lg-3 square suspend"></div><div class="col-sm-9 col-md-9 col-lg-9">Suspended</div></div>
                        <div class="col-sm-1 col-md-1 col-lg-1"><div class="col-sm-3 col-md-3 col-lg-3 square dummy"></div><div class="col-sm-9 col-md-9 col-lg-9">Dummy</div></div>
                    </div>

                    <div class="row">
                        <div id="advert_name" class="form-group col-sm-2 col-md-2 col-lg-2 control-label filterform-groups pull-left">
                            <div class="input-group">
                                <span class="input-group-addon span-select">Cut ID</span>
                                <input id="adverId" class="form-control" type="number" name="to" value="" placeholder="Cut ID"/>
                            </div>
                            <span id="toDateVali"></span>
                        </div>

                        <div class="form-group col-sm-2 col-md-2 col-lg-2">
                            <div class="input-group" id="clientList_div">
                                <span class="input-group-addon span-select">Clients</span>
                                <select id="client_list" name="client_id" class="form-control">
                                    <option VALUE="-111">--All clients--</option>1

                                </select>
                            </div>
                            <span id="CN_vali" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-2 col-md-2 col-lg-2">
                            <div class="input-group" id="category_div">
                                <span class="input-group-addon span-select">Type</span>
                                <select id="category_drop" name="category" class="form-control">
                                    <option value="-111">--All Type--</option>
                                    <option value="ADVERT">TVC</option>
                                    <option value="LOGO">Logo</option>
                                    <option value="CRAWLER">Crawler</option>
                                    <option value="V_SHAPE">V squeeze</option>
                                    <option value="L_SHAPE">L squeeze</option>
                                    <option value="FILLER">Filler</option>
                                    <option value="SLIDE">Slide</option>
                                </select>
                            </div>
                            <span id="CN_vali" class="text-danger"></span>
                        </div>
                        <div id="advert_name" class="form-group col-sm-4 col-md-4 col-lg-4 control-label filterform-groups pull-left">
                            <div class="input-group">
                                <span class="input-group-addon span-select">Product Name</span>
                                <input id="adverName" class="form-control" type="text" name="to" value="" placeholder="Product Name"/>
                            </div>
                            <span id="toDateVali"></span>
                        </div>
                        <div class="form-group col-sm-2 col-md-2 col-lg-2 control-label filterform-groups pull-left">
                            <button type="submit" class="btn btn_color" id="btn-search" >Search</button>
                        </div>
                    </div>

                    <div id="all_advertisement_div" class="well middle_well_workorder wrapper-div">
                        <!--<div class="row">-->
                        <table id="all_advertisement_table" class="table table-responsive table-workorder cell-border">
                            <thead>
                            <tr>
                                <th>Cut ID</th>
                                <th>Product</th>
                                <th>Duration</th>
                                <th>Language</th>
                                <th>Type</th>
                                <th>Client</th>
                                <th>Date</th>
                                <th>Expire Date</th>
                                <th>Suspend Date</th>
                                <th>Status</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="advert_view_pop" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="span-select2">View</p>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="control-label col-md-12">
                        <video id = "video" width="500" height="400" controls="true">
                        </video>
                        <object id = "flash" width="500" height="400" data="">
                        </object>
                        <img src="" alt="Preview" id ="image" style="width:500px;height:400px;"/>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div id = "loading" class="ui-loader-background"></div>

<nav  class="navbar navbar-inverse sub">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>
</body>
</html>
