<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <th:block th:fragment="reporting-menu-bar">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/home}" >
                        <img th:src="@{/assets-__${applicationVersion}__/dist/img/logo.png}" class="logo-img"/>
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-left"/>
                <ul>
                    <a>
                        <div onclick="ChangeProfile()" class="logout_image"/>
                        <div id="user_name_div" class="logout">
                            <span sec:authentication="name"/>
                        </div>
                    </a>
                </ul>
            </div>
        </nav>

        <nav  class="navbar navbar-inverse sub">
            <div class="container-fluid ">
                <div class="col-lg-11">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="nav_stn"  sec:authorize="hasRole('DummyCut')"><a th:href="@{/reporting/dummy-cut}">Dummy Cut</a></li>
                        <li class="dropdown nav_stn" sec:authorize="hasRole('CommercialAvailability')"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Commercial Availability<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/reporting/commercial-availability-hourly}">Hourly</a></li>
                                <li><a th:href="@{/reporting/commercial-availability-channelwise}">Channel wise</a></li>
                            </ul>
                        </li>
                        <li class="dropdown nav_stn" sec:authorize="hasRole('ScheduleReports')"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Schedule<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/reporting/schedule-print}">Schedule Print</a></li>
                                <li><a th:href="@{/reporting/schedule-analysis}">Schedule Analysis</a></li>
                            </ul>
                        </li>
                        <li class="dropdown nav_stn" sec:authorize="hasRole('RevenueReport')"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Revenue Report<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/reporting/client-revenue-report}">Client</a></li>
                                <li><a th:href="@{/reporting/agency-revenue-report}">Agency</a></li>
                            </ul>
                        </li>
                        <li class="nav_stn" sec:authorize="hasRole('SalesReport')"><a th:href="@{/reporting/sales-report}">Sales Report</a></li>
                        <li class="nav_stn" sec:authorize="hasRole('PaymentDue')"><a th:href="@{/reporting/paymentdue}">Payment Due</a></li>
                        <!--<li class="nav_stn"><a th:href="@{/reporting/material-analysis}">Material Analysis</a></li>-->
                        <!--<li class="nav_stn"><a th:href="@{/reporting/media-deletion-history}">Media Deletion History</a></li>-->
                        <li class="dropdown nav_stn" sec:authorize="hasRole('Media')"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Media<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/reporting/material-analysis}">Material Analysis</a></li>
                                <li><a th:href="@{/reporting/media-deletion-history}">Media Deletion History</a></li>
                            </ul>
                        </li>
                        <li class="nav_stn" sec:authorize="hasRole('MissedSpotReport')"><a th:href="@{/reporting/missed-spot-count}">Missed Spot</a></li>
                        <li class="dropdown nav_stn" sec:authorize="hasRole('DashboardReport')"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Dashboard<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/reporting/dashboard-auto}">Auto</a></li>
                                <li><a th:href="@{/reporting/dashboard-manual}">Manual</a></li>
                            </ul>
                        </li>
                        <li class="nav_stn" sec:authorize="hasRole('UserWise')"><a th:href="@{/reporting/user-wise-report}">User Wise</a></li>
                    </ul>
                </div>
                <div class="col-lg-1">
                    <form th:action="@{/logout}" id="log-out-form" method="POST">
                        <a class="logout_tag" href="javascript:$('#log-out-form').submit();">Log Out</a>
                    </form>
                </div>
            </div>
        </nav>
    </th:block>

    <th:block th:fragment="admin-menu-bar">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/home}" >
                        <img th:src="@{/assets-__${applicationVersion}__/dist/img/logo.png}" class="logo-img"/>
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-left"/>
                <ul>
                    <a>
                        <div onclick="ChangeProfile()" class="logout_image"/>
                        <div id="user_name_div" class="logout">
                            <span sec:authentication="name"/>
                        </div>
                    </a>
                </ul>
            </div>
        </nav>

        <nav  class="navbar navbar-inverse sub">
            <div class="container-fluid ">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown nav_stn"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Channel<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/admin/channel/list}">Channels</a></li>
                            <li><a th:href="@{/admin/channel/new}">Add</a></li>
                        </ul>
                    </li>
                    <li class="dropdown nav_stn"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Client<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/admin/client/list}">Clients</a></li>
                            <li><a th:href="@{/admin/client/new}">Add</a></li>
                        </ul>
                    </li>
                    <li class="dropdown nav_stn"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Advertisement Category<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/admin/advertisement-category/list}">Categories</a></li>
                            <li><a th:href="@{/admin/advertisement-category/add}">Add</a></li>
                        </ul>
                    </li>
                    <li class="dropdown nav_stn"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Cluster<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/admin/clusters/list}">Clusters</a></li>
                        </ul>
                    </li>
                    <li class="dropdown nav_stn"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Priority<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/admin/priorities/list}">Priorities</a></li>
                        </ul>
                    </li>
                    <li class="dropdown nav_stn"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Server<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/admin/server/list}">Servers</a></li>
                            <li><a th:href="@{/admin/server/new}">Add</a></li>
                        </ul>
                    </li>
                    <li class="dropdown nav_stn"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Tax Details<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a  th:href="@{/admin/tax-details/list}">All</a></li>
                        </ul>
                    </li>
                    <li class="dropdown nav_stn"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Product<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a  th:href="@{/admin/product/all}">Products</a></li>
                            <li><a  th:href="@{/admin/product/create}">Create</a></li>
                        </ul>
                    </li>
                   <!--<li class="dropdown nav_stn"><a class="dropdown-toggle" data-toggle="dropdown" href="#">All Product<span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a  th:href="@{/ops-ui/import-deal}">OPS</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="dropdown nav_stn"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Inventory<span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a  th:href="@{/inventory/assign-inventory}">Assign Inventory</a></li>-->
                            <!--<li><a  th:href="@{/inventory/view-inventory}">View Inventory</a></li>-->
                            <!--<li><a  th:href="@{/inventory/view-inventory-prediction}">View Prediction Inventory</a></li>-->
                            <!--<li><a  th:href="@{/inventory/file-uploader}">Setting File Uploader</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                </ul>
                <form th:action="@{/logout}" id="log-out-form" method="POST">
                    <a class="logout_tag" href="javascript:$('#log-out-form').submit();">Log Out</a>
                </form>
            </div>
        </nav>
    </th:block>

    <th:block th:fragment="user-management-menu-bar">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/home}" >
                        <img th:src="@{/assets-__${applicationVersion}__/dist/img/logo.png}" class="logo-img"/>
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-left"/>
                <ul>
                    <a>
                        <div onclick="ChangeProfile()" class="logout_image"/>
                        <div id="user_name_div" class="logout">
                            <span sec:authentication="name"/>
                        </div>
                    </a>
                </ul>
            </div>
        </nav>

        <nav  class="navbar navbar-inverse sub">
            <div class="container-fluid ">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown nav_stn"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Users<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="nav_stn"><a th:href="@{/users-v4}">Users</a></li>
                            <li><a th:href="@{/users-v4/new}">Add User</a></li>
                        </ul>
                    </li>
                    <li  class="nav_stn" sec:authorize="hasRole('UserGroup')"><a th:href="@{/users-v4/group-management}">Group Management</a></li>
                    <li  class="nav_stn" sec:authorize="hasRole('UserGroup')"><a th:href="@{/users-v4/team-management}">Team Management</a></li>
                </ul>
                <form th:action="@{/logout}" id="log-out-form" method="POST">
                    <i class="fa fa-sign-out" aria-hidden="true"/>
                    <a class="logout_tag" href="javascript:$('#log-out-form').submit();">Log Out</a>
                </form>
            </div>
        </nav>
    </th:block>

    <th:block th:fragment="scheduler-menu-bar">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/home}" >
                        <img th:src="@{/assets-__${applicationVersion}__/dist/img/logo.png}" class="logo-img"/>
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-left"/>
                <ul>
                    <a>
                        <div onclick="ChangeProfile()" class="logout_image"/>
                        <div id="user_name_div" class="logout">
                            <span sec:authentication="name"/>
                        </div>
                    </a>
                </ul>
            </div>
        </nav>

        <nav  class="navbar navbar-inverse sub">
            <div class="container-fluid ">
                <ul class="nav navbar-nav navbar-left">
                    <li class="nav_stn"><a th:href="@{/schedule}">Scheduler</a></li>
                    <li class="nav_stn"><a th:href="@{/schedule/missedspot-reschedule}">Rescheduling</a></li>
                    <li class="nav_stn"><a th:href="@{/schedule/priority-setting}">Priority Setting</a></li>
                    <li class="dropdown nav_stn"><a class="dropdown-toggle" data-toggle="dropdown" href="#">ZeroAds<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/schedule/zero-ads}">Auto PlayList</a></li>
                            <li><a th:href="@{/schedule/zero-ads-manual}">Manual PlayList</a></li>
                            <li><a th:href="@{/schedule/zero-ads-setting}">Setting</a></li>
                        </ul>
                    </li>
                    <li class="nav_stn"><a th:href="@{/fillers/all}">Tag Fillers</a></li>
                </ul>
                <form th:action="@{/logout}" id="log-out-form" method="POST">
                    <i aria-hidden="true"/>
                    <a class="logout_tag" href="javascript:$('#log-out-form').submit();">Log Out</a>
                </form>
            </div>
        </nav>
    </th:block>
    <th:block th:fragment="inventory-management-menu-bar">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/home}" >
                        <img th:src="@{/assets-__${applicationVersion}__/dist/img/logo.png}" class="logo-img"/>
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-left"/>
                <ul>
                    <a>
                        <div onclick="ChangeProfile()" class="logout_image"/>
                        <div id="user_name_div" class="logout">
                            <span sec:authentication="name"/>
                        </div>
                    </a>
                </ul>
            </div>
        </nav>


        <nav  class="navbar navbar-inverse sub">
            <div class="container-fluid ">
                <ul class="nav navbar-nav navbar-left">
                    <li class="nav_stn"><a th:href="@{/admin/schedule-panel}" >Schedule panel</a></li>
                    <li class="nav_stn"><a th:href="@{/admin/one-day-schedule}">One Day Schedule</a></li>
                    <li class="nav_stn"><a th:href="@{/admin/playlist-view}">Playlist Preview</a></li>
                    <li class="nav_stn"><a th:href="@{/admin/playlist-setting}">Max Slot Setting</a></li>
                    <li class="nav_stn"><a th:href="@{/admin/playlist-lap-setting}">Lap Duration Setting</a></li>
                </ul>
                <form th:action="@{/logout}" id="log-out-form" method="POST">
                    <i class="fa fa-sign-out" aria-hidden="true"/>
                    <a class="logout_tag" href="javascript:$('#log-out-form').submit();">Log Out</a>
                </form>
            </div>
        </nav>
    </th:block>
</body>
</html>