<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">

    <title>Current Schedule</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap_3.3.6/multiselect/css/bootstrap-multiselect.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap_3.3.6/confirm/css/msc-style.css}"/>

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style-custom2.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/toastr/toastr.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/lib/underscore-min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap_3.3.6/multiselect/js/bootstrap-multiselect.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap_3.3.6/confirm/js/msc-script.js}"/>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/moment/moment.js}"></script>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/currentSchedule.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/scheduleCommon.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/dist/js/fontawesome.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"></script>



    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/css/bootstrap-select.min.css}"/>
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/js/bootstrap-select.min.js}"/>
    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/js/i18n/defaults-en_US.min.js}"/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: scheduler-menu-bar"/>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="content_area">
            <button type="button" class="btn btn-default pull-right getHistoryDetails" data-toggle="modal" data-target="#material-analysis-model" onclick="setAuditData()" >
                <span class="glyphicon glyphicon-time"></span>
            </button>
            <div class="well header_well">
                <p class="header_well_pa">Current Schedule</p>
            </div>
            <div class="modal-body">
                <div class="row fullwith" >
                    <div id="new_work_order_div" class="well middle_well_workorder2 "> <!-- removed class wrapper-div for remove scroll -->

                        <div class="col-md-12 c-content">
                            <form id="new_workOrder_form" role="form">
                                <h3>&nbsp;</h3>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms" for="work_order_id-name:">WO ID : </label>
                                        <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_no_with" id="work_order_id"></label>

                                        <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms" for="start_date:">Start : </label>
                                        <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_no_with" id="start_date"></label>

                                        <label class="control-label col-sm-2 col-md-2 col-lg-2 lable_forms" for="end_date:">End : </label>
                                        <label class="control-label col-sm-2 col-md-2 col-lg-2 lable_forms" id="end_date"></label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-1 lable_forms" for="lbl_agency">Agency : </label>
                                        <label class="control-label col-md-3 lable_forms_no_with" id="lbl_agency"></label>

                                        <label class="control-label col-md-1 lable_forms" for="lbl_client">Client : </label>
                                        <label class="control-label col-md-3 lable_forms_no_with" id="lbl_client"></label>

                                        <label class="control-label col-md-2 lable_forms" for="schedule_value">Value : </label>
                                        <label class="control-label col-md-2 lable_forms" id="schedule_value"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-1 lable_forms" for="lbl_agency">Comment : </label>
                                        <label class="control-label col-md-10" id="lbl_comment"></label>
                                    </div>
                                </div>
                                <div class="row" id="spot_table_div">
                                </div>
                            </form>
                        </div>

                        <div  class="col-md-12 c-content border-t-1 p-t-10 m-t-10">
                            <div class="row">
                                <label class="control-label col-sm-3" for="end_date:">
                                    <p style=" border:none; font-weight:normal; font-size: 22px;" class="header_well">Advertisement List</p>
                                </label>
                                <div class="control-label col-sm-3">
                                    <button style="margin-top:2px; width: 140px !important; margin-right: 248px !important;" type="submit" class="btn btn-default add_channel save" onclick="setPopUpAdvertTable()" data-toggle="modal" data-target="#addAdvertisementModal">Add</button>
                                </div>
                                <label class="control-label col-sm-1 toggle-collaps-advertlist" id="toggle_advetlist_collapse">&#9660;</label>
                                <div class="control-label col-sm-2">
                                    <button style="margin-top:2px; width: 140px !important; margin-right: 100px !important;" type="submit" class="btn btn-default add_channel save" onclick="buildReplaceModel()" data-toggle="modal" data-target="#replaceAdvertisementModal">Replace</button>
                                </div>
                                <label class="control-label col-sm-1 toggle-collaps-advertlist" id="toggle_advetlist_collapse"></label>
                                <div class="control-label col-sm-2">
                                    <button style="margin-top:2px; width: 140px !important;" type="submit" class="btn btn-default add_channel save" onclick="buildPatternFillModel()" data-toggle="modal" data-target="#patternFillModal">Pattern Fill</button>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="advert_list_table">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <div id="advert_main_table_div" class="table">
                                    <table style="margin-top: 12px;  margin-left: 12px;" id="advert_main_table" class="table table-bordered table-workorder">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Duration(Sec)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                        <div style="margin-top: 20px;" class="row">
                            <label class="control-label col-sm-3 lable-value" for="end_date:"><b><h4 style="margin-right:186px; font-weight:normal; font-size: 16px;">Advert type:</h4></b></label>
                            <div class="control-label col-sm-2" id="advert_type_lList">
                                <select style="margin-left: -188px;" id="advertTypeDropdown" name="AdvertisementType" class="form-control" onchange="advertSelectionChange()">
                                    <option value="All">Select advert Type</option>
                                    <option value="ADVERT">TVC</option>
                                    <option value="LOGO">LOGO</option>
                                    <option value="CRAWLER">Crawler</option>
                                    <option value="V_SHAPE">V squeeze</option>
                                    <option value="L_SHAPE">L squeeze</option>
                                </select>
                                <span class="help-block"></span>
                            </div>
                            <div class="control-label col-sm-2"></div>
                            <div class="control-label col-sm-1">
                                <label class="control-label col-sm-2 table-jump-arrow" id="jump_left" style="transform: scale(-1, 1);">&#x27A4;</label>
                            </div>
                            <div class="control-label col-sm-2"></div>
                            <div class="control-label col-sm-1">
                                <label class="control-label col-sm-2 table-jump-arrow" id="jump_right">&#x27A4;</label>
                            </div>
                        </div>

                        <div style="margin-top: 10px; margin-bottom:10px;" class="row">
                            <div id="filteradvertDropdown_div" class="control-label col-sm-2">
                                <select id="filter_AdvertDrop" class="selectpicker" multiple="true ">
                                    <option value="-111">All</option>
                                </select>
                            </div>

                            <div id="filteradvertDurationDropdown_div" class="control-label col-sm-2">
                                <select id="filter_AdvertDuratinoDrop"  onchange="filter_AdvertDurationChange()" class="selectpicker" multiple="true">
                                    <option value="-111">All</option>
                                </select>
                            </div>

                            <div id="filterChannelDropdown_div" class="control-label col-sm-2">
                                <select id="schedule_filterChannelDropdown" class="form-control">
                                    <option value="-111">Select channel</option>
                                    <option value="-111">Select channel-1</option>
                                    <option value="-111">Select channel-2</option>
                                </select>
                            </div>

                            <div id="advert_category_div" class="control-label col-sm-2">
                                <select id="filter_Advertcategory" onchange="filter_AdvertCategoryChange()" class="form-control">
                                    <option value="-999">All</option>
                                </select>
                            </div>
                            <div class="control-label col-sm-4">
                                <div id="startTime_div" class="control-label col-sm-4">
                                    <select id="startTime_filter" onchange="filter_startTimeChange()" class="form-control">
                                        <option value="-999">All</option>
                                    </select>
                                </div>

                                <div id="endTime_div" class="control-label col-sm-4">
                                    <select id="endTime_filter" onchange="filter_endTimeChange()" class="form-control">
                                        <option value="-999">All</option>
                                    </select>
                                </div>
                                <div id="months_div" class="control-label col-sm-4">
                                    <button type="button" onclick="clearFilter()" class="btn btn_color" id="btn-clear" >Clear</button>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <hr/>
                            <label class="control-label col-sm-3 lable-value"><b><h4 style="margin-right:186px; font-weight:normal; font-size: 16px;">Date Range:</h4></b></label>
                            <div class="control-label col-md-2" style="margin-left: -188px;">
                                <div style="width:200px;" id="search-from-date" class="input-append">
                                    <div class="input-group">
                                        <input id="search_fromDate" readonly="true" name="startDate" data-format="yyyy-MM-dd" class="form-control" required="" type="text" placeholder="From"/>
                                        <span class="add-on input-group-addon">
                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="control-label col-md-2">
                                <div style="width:200px;  margin-left: -6px;" id="search-to-date" class="input-append">
                                    <div class="input-group">
                                        <input id="search_toDate" readonly="true" data-format="yyyy-MM-dd" class="form-control" type="text" required="" placeholder="To"/>
                                        <span class="add-on input-group-addon">
                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="control-label col-sm-4">
                                <button id="go-btn" type="button" onclick="loadScheduleTableData()" class="btn btn_color">GO</button>
                            </div>
                            <span class="help-block"></span>
                        </div>

                        <script type="text/javascript">
                                    $(function () {
                                        $('#tbody_data').on('scroll', function () {
                                            $('#tbody_left').scrollTop($(this).scrollTop());
                                        });

                                        var LeftColsRatio = [0.5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1];

                                        /* $(window).resize(function () {

                                         var $table = $("#table_left");
                                         $table.find('tbody tr').each(function (i, row) {
                                         $(row).children().each(function (j, cell) {
                                         //console.log($(cell).css("width"));
                                         if (LeftColsRatio[j] == 0)
                                         $(cell).css("display", "none");
                                         else
                                         $(cell).css("display", "table-cell");
                                         $(cell).width($(cell).width * LeftColsRatio[j]);
                                         });
                                         });

                                         var $bodyCells = $table.find('tbody tr:first').children();
                                         var colWidth = $bodyCells.map(function () {
                                         return $(this).width();
                                         }).get();

                                         $table.find('thead tr').children().each(function (i, cell) {
                                         if (/chrome/.test(navigator.userAgent.toLowerCase()))
                                         $(cell).width(colWidth[i] - 0.25);
                                         else if (/mozilla/.test(navigator.userAgent.toLowerCase()))
                                         $(cell).width(colWidth[i] - 4);
                                         else
                                         $(cell).width(colWidth[i]);

                                         if (LeftColsRatio[i] == 0)
                                         $(cell).css("display", "none");
                                         else
                                         $(cell).css("display", "inline-block");
                                         });
                                         }).resize(); // Trigger resize handler*/

                                        $("#toggle_collapse").click(function () {
                                            if ($(this).text() == String.fromCharCode(9668)) {
                                                $('#div_table_data').removeClass('table-data-collapsed').addClass('table-data-expanded');
                                                $('#div_table_left').removeClass('table-left-expanded').addClass('table-left-collapsed');
                                                LeftColsRatio = [0.5, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1];
                                                $(this).text(String.fromCharCode(9658));
                                                $(this).css("right", "-16px");
                                            }
                                            else {
                                                $('#div_table_data').removeClass('table-data-expanded').addClass('table-data-collapsed');
                                                $('#div_table_left').removeClass('table-left-collapsed').addClass('table-left-expanded');

                                                LeftColsRatio = [0.5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1];

                                                $(this).text(String.fromCharCode(9668));
                                                $(this).css("right", "-2px");
                                            }
                                            $(window).trigger('resize');
                                        });

                                        $("#toggle_advetlist_collapse").click(function () {
                                            if ($(this).text() == String.fromCharCode(9650)) {
                                                $('#advert_list_table').hide();
                                                $(this).text(String.fromCharCode(9660));
                                            }
                                            else {
                                                $('#advert_list_table').show();
                                                $(this).text(String.fromCharCode(9650));
                                            }
                                            $(window).trigger('resize');
                                        });

                                        $("#jump_left").click(function () {
                                            $('#div_table_data').scrollLeft($('#div_table_data').scrollLeft() - (50 * 7)); // 1 week
                                            console.log($('#div_table_data').scrollLeft() + ' ' + $('#tbody_data').scrollTop());
                                        });
                                        $("#jump_right").click(function () {
                                            $('#div_table_data').scrollLeft($('#div_table_data').scrollLeft() + (50 * 7)); // 1 week
                                        });
                                    });
                                </script>

                        <div class="row">
                            <div class="table-main">
                                <div id="div_table_left" class="table-left table-left-collapsed">
                                    <!--<label class="toggle-collaps" id="toggle_collapse">►</label> -->
                                    <table id="table_left" class="" style="overflow-y:hidden; ">
                                        <thead>
                                        <tr>
                                            <th ><input type="checkbox" id="ckbx_select_all" name="" onclick="checkAllRows()" /></th>
                                            <th ><span class="glyphicon glyphicon-star-empty font-13"></span></th>
                                            <th ><span class="glyphicon glyphicon-remove font-13"></span></th>
                                            <th ><span class="glyphicon glyphicon-edit font-13"></span></th>
                                            <th >Channel</th>
                                            <th >Advertisement</th>
                                            <th >Lan</th>
                                            <th >Dur</th>
                                            <th >Rev.<br/> Line</th>
                                            <th >Start Time</th>
                                            <th >End Time</th>
                                            <th >#</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbody_left">
                                        <tr id="tbleft_default">
                                            <td ><!--class="special-td"-->
                                            </td>
                                            <td ><!--class="special-td"-->
                                            </td>
                                            <td ><!--class="special-td"-->
                                            </td>
                                            <td>
                                                <button type="button" class="btn-empty" aria-label="Close" onclick="resetRow(true)">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </td>
                                            <td ><!--class="special-td"-->
                                                <div id="channelDropdown_div">
                                                    <select id="schedule_channelDropdown" name="channelName" class="form-control">
                                                        <option value="-111">Select channel</option>
                                                        <option value="-111">Select channel-1</option>
                                                        <option value="-111">Select channel-2</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div id="advertDropdown_div">
                                                    <select id="schedule_advertDropdown" onchange="changeAdvert()" class="form-control Padding0px">
                                                        <option id="-9_advert" value="-1">Select Advert</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td ><!--class="special-td"-->
                                                <div >
                                                    <input type="text" class="form-control" id="language" name="language" value="" required="" placeholder="Language" readonly=""/>
                                                </div>
                                            </td>
                                            <td ><!--class="special-td"-->
                                                <div >
                                                    <input type="text" class="form-control" id="duration" name="duration" value="" required="" placeholder="Duration" readonly=""/>
                                                </div>
                                            </td>
                                            <td ><!--class="special-td"-->
                                                <div >
                                                    <input type="text" class="form-control" id="revenue_line" name="revenue_line" value="" required="" placeholder="Revenue Line"/>
                                                </div>

                                            </td>
                                            <td class="Padding0px">
                                                <div id="start_time_list" style="width: 55px;">
                                                    <select id="schedule_startTimeDropdown" name="StartTime" class="form-control" onchange="startTimeDropDownChange(this.value)">
                                                    </select>
                                                </div>
                                            </td>
                                            <td class="Padding0px">
                                                <div id="end_time_list" style="width: 55px;">
                                                    <select id="schedule_endTimeDropdown" name="End time" class="form-control" onchange="endTimeDropDownChange(this.value)">
                                                    </select>
                                                </div>
                                            </td>
                                            <td class="Padding0px" id="insert-row-spot">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td id="grand-total"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="div_table_data" class="scroll table-data table-data-expanded">
                                    <table id="table_data" class="table table-responsive table-bordered table-workorder special-table">
                                        <thead>
                                        <tr>
                                            <th>header</th><th>header</th><th>header</th><th>header</th><th>header</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbody_data">
                                        <tr>
                                            <td>cell</td><td>cell</td><td>cell</td><td>cell</td><td>cell</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h5>&nbsp;</h5>
                            <div class="form-group">
                                <div class="control-label col-sm-3">
                                    <button style="margin-top:-5px; width: 140px !important;" type="submit" class="btn btn-default add_channel save" onclick="copyRows()">Copy</button>
                                </div>
                                <div class="control-label col-sm-2">
                                    <button style="margin-top:-5px; width: 140px !important;" type="submit" class="btn btn-default add_channel save" onclick="copyWOData()">Copy Left</button>
                                </div>
                                <div class="control-label col-sm-2">
                                    <button style="margin-top:-5px; width: 140px !important;" type="submit" class="btn btn-default add_channel save" data-toggle="modal" data-target="#copy-column-model">Copy Column</button>
                                </div>
                                <label class="control-label col-sm-2" ></label>
                                <div class="control-label col-sm-3">
                                    <button style=" margin-right: -11px !important; margin-top:-5px;" class="btn btn-default add_channel save" type="button" onclick="updateData()" >Save Schedule</button>
                                </div>
                            </div>
                            <h5>&nbsp;</h5>
                        </div>

                        <div id = "loading" class="ui-loader-background"></div>
                        <!--Add Advertisement Modal -->
                        <div class="modal fade" id="addAdvertisementModal" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <p class="span-select2">Add Advertisement</p>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label class="control-label col-sm-1 lable_forms" for="channal_list_pop:"></label>
                                            <label class="control-label col-sm-4 lable_forms" for="channal_list_pop:">Select Advertisement:</label>
                                            <div class="control-label col-sm-4" id="advert_list_pop_div">
                                                <select id="advertDropdown_pop" name="channelName" class="form-control selectpicker" data-live-search="true">
                                                    <option id="1" value="30">Select Advertsement</option>
                                                    <option id="2" value="120">Select Advertsement-1</option>
                                                    <option id="3" value="180">Select Advertsement-2</option>
                                                </select>
                                            </div>
                                            <div class="control-label col-sm-4">
                                                <button type="button" onclick="addAdvertisement()" class="btn btn-default sche_advert_add">Add</button>
                                            </div>

                                            <!--h1>&nbsp;</h1-->

                                            <div id="advertisement_table_pop_div" class="table">
                                                <table id="advertisement_table_pop" class="table table-bordered table-workorder">
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Name</th>
                                                        <th>Duration(Sec)</th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>


                                        <!--div class="row">
                                            <label class="control-label col-sm-1col-md-1 col-lg-1"></label>
                                            <div class="control-label col-sm-3 col-md-3 col-lg-3" id="original_advert_list_pop_div">
                                                <select id="original_advertDropdown_pop" class="form-control">
                                                    <option id=1 value="30">Select Advertsement</option>
                                                    <option id=2 value="120">Select Advertsement-1</option>
                                                    <option id=3 value="180">Select Advertsement-2</option>
                                                </select>
                                            </div>

                                            <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms">Replace with:</label>

                                            <div class="control-label col-sm-3 col-md-3 col-lg-3" id="replace_list_pop_div">
                                                <select id="replace_advertDropdown_pop" class="form-control">
                                                    <option id=1 value="30">Select Advertsement</option>
                                                    <option id=2 value="120">Select Advertsement-1</option>
                                                    <option id=3 value="180">Select Advertsement-2</option>
                                                </select>
                                            </div>
                                            <button type="button" onclick="replaceAdvert()" class="btn btn-block sche_advert_replace">Replace</button>
                                            <label class="control-label col-sm-5 col-md-5 col-lg-5"></label>
                                        </div-->

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" onclick="saveAdvertisement()" class="btn btn-block sche_advert_save">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Add Advertisement Modal -->

                        <!--Replace Advertisement Modal -->
                        <div class="modal fade" id="replaceAdvertisementModal" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <p class="span-select2">Replace Advertisement</p>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-6"></div>
                                            <div class="col-sm-2 col-md-2 col-lg-2"><div class="col-sm-3 col-md-3 col-lg-3 square expir"></div><div class="col-sm-9 col-md-9 col-lg-9">Expire</div></div>
                                            <div class="col-sm-2 col-md-2 col-lg-2"><div class="col-sm-3 col-md-3 col-lg-3 square suspend"></div><div class="col-sm-9 col-md-9 col-lg-9">Suspended</div></div>
                                            <div class="col-sm-2 col-md-2 col-lg-2"><div class="col-sm-3 col-md-3 col-lg-3 square dummy"></div><div class="col-sm-9 col-md-9 col-lg-9">Dummy</div></div>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <form>
                                                <div class="row">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                                        <label class="control-label col-sm-3 col-md-3 lable_forms_default" >Replace : </label>
                                                        <div class="col-md-6">
                                                            <label class="control-label col-sm-2 col-md-2 col-lg-2 radio_lable" ><input name="selected" id="rd_rp_horizontal" type="radio" checked="checked" value="true"/>Selected Schedules</label>
                                                            <label class="control-label ccol-sm-2 col-md-2 col-lg-2 radio_lable" ><input name="selected" id="rd_rp_vertical" type="radio" value="false"/>All Schedules</label>
                                                            <label class="control-label col-sm-2 col-md-2 col-lg-2 radio_lable" ></label>
                                                            <span class="help-block"></span>
                                                            <span class="help-block"></span>
                                                        </div>
                                                        <span class="help-block"></span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                                    <label class="control-label col-sm-2 col-md-2 lable_forms_default">Product : </label>
                                                    <div class="control-label col-sm-3 col-md-3 col-lg-3" id="original_advert_list_pop_div">
                                                        <select id="original_advertDropdown_pop" class="form-control"  required="" onchange="cmbChangedRepalceAdvert()">
                                                            <option value="-1">Select Advertisement</option>
                                                        </select>
                                                        <span class="help-block"></span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                                    <label class="control-label col-sm-2 lable_forms_default" style="width: default;">Channel : </label>
                                                    <div class="control-label col-sm-3" id="original_advert_list_pop_div">
                                                        <select id="cmb_rp_channel_select"  class="form-control"  multiple="multiple">
                                                        </select>
                                                        <span class="help-block"></span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                                    <label class="control-label col-sm-2 lable_forms_default">Date Range : </label>
                                                    <div class="control-label col-md-3">
                                                        <div style="width:200px;" id="rp_form-date" class="input-append">
                                                            <div class="input-group">
                                                                <input id="rp_fromDate" name="startDate" data-format="yyyy-MM-dd" class="form-control"  required="" type="text" placeholder="From"/>
                                                                <span class="add-on input-group-addon">
                                                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                                        </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="control-label col-md-3">
                                                        <div style="width:200px;  margin-left: -6px;" id="rp_to-date" class="input-append">
                                                            <div class="input-group">
                                                                <input id="rp_toDate" data-format="yyyy-MM-dd" class="form-control" type="text" required="" placeholder="To"/>
                                                                <span class="add-on input-group-addon">
                                                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                                        </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <span class="help-block"></span>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                                        <label class="control-label col-sm-3 col-md-3 lable_forms_default" >Pattern : </label>
                                                        <div class="col-md-6">
                                                            <label class="control-label col-sm-2 col-md-2 col-lg-2 radio_lable" ><input name="mode" id="rd_rp_horizontal" type="radio" checked="checked" value="2"/>Horizontal</label>
                                                            <label class="control-label ccol-sm-2 col-md-2 col-lg-2 radio_lable" ><input name="mode" id="rd_rp_vertical" type="radio" value="1"/>Vertical</label>
                                                            <label class="control-label col-sm-2 col-md-2 col-lg-2 radio_lable" ></label>
                                                            <span class="help-block"></span>
                                                            <span class="help-block"></span>
                                                        </div>
                                                        <span class="help-block"></span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                                    <label class="control-label col-sm-2 col-md-2 lable_forms_default">Replace with : </label>
                                                    <div class="control-label col-sm-3 col-md-3 col-lg-3" id="replace_list_pop_div">
                                                        <select id="replace_advertDropdown_pop" class="form-control">
                                                            <option id="1" value="-1">Select Advertisement</option>
                                                        </select>
                                                        <span class="help-block"></span>
                                                    </div>
                                                    <div class="control-labe2 col-sm-2 col-md-2 col-lg-2">
                                                        <button type="button" onclick="addReplaceAdd()" class="btn btn-default btn_add_replace">Add</button>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-bottom: 20px"></div>

                                                <!--h1>&nbsp;</h1-->

                                                <div id="advertisement_table_pop_div" class="table">
                                                    <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                                    <table id="replace_advertisement_table_pop" class="table table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>ID</th>
                                                            <th>Name</th>
                                                            <th>Duration(Sec)</th>
                                                            <th>Modify</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="tbl_replace_advertisement_body">
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" onclick="preReplaceAdvertismetsAfterValidation(this.form)" class="btn btn-block sche_advert_save">Replace</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Replace Advertisement Modal -->

                        <!--Copy Rows Modal -->
                        <div class="modal fade" id="copyRowsModal" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <p class="span-select2">Copy Rows</p>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <form>
                                                <div class="row">
                                                    <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                                    <label class="control-label col-sm-2 lable_forms_default" style="width: default;">Channel : </label>
                                                    <div class="control-label col-sm-3" id="original_advert_list_pop_div">
                                                        <select id="cmb_cr_channel_select"  class="form-control">
                                                            <option value="-1">Default Values</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <span class="help-block"></span>
                                                <div class="row">
                                                    <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                                    <label class="control-label col-sm-2 lable_forms_default">Advertisement : </label>
                                                    <div class="control-label col-sm-3" id="original_advert_list_pop_div">
                                                        <select id="cmb_cr_advertisement" class="form-control">
                                                            <option id="1" value="-1">Default Values</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <span class="help-block"></span>

                                                <div class="row">
                                                    <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                                    <label class="control-label col-sm-2 lable_forms_default">Time : </label>
                                                    <div class="control-label col-sm-3 " id="original_advert_list_pop_div">
                                                        <select id="cmb_cr_start_time" class="form-control">
                                                        </select>
                                                    </div>
                                                    <div class="control-label col-sm-3" id="original_advert_list_pop_div">
                                                        <select id="cmb_cr_end_time" class="form-control">
                                                        </select>
                                                    </div>
                                                </div>
                                                <span class="help-block"></span>

                                                <div class="row">
                                                    <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                                    <label class="control-label col-sm-2 lable_forms_default">Revenue Month : </label>
                                                    <div class="control-label col-sm-3">
                                                        <select id="cmb_cr_revenue_month" class="form-control">
                                                            <option value="-1">Default Values</option>
                                                            <option value="Jan">January</option>
                                                            <option value="Feb">February</option>
                                                            <option value="Mar">March</option>
                                                            <option value="Apr">April</option>
                                                            <option value="May">May</option>
                                                            <option value="Jun">June</option>
                                                            <option value="Jul">July</option>
                                                            <option value="Aug">August</option>
                                                            <option value="Sep">September</option>
                                                            <option value="Oct">October</option>
                                                            <option value="Nov">November</option>
                                                            <option value="Dec">December</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <span class="help-block"></span>
                                                <div class="row">
                                                    <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                                    <label class="control-label col-sm-2 lable_forms_default">Revenue Line : </label>
                                                    <div class="control-label col-sm-3">
                                                        <input type="text" class="form-control" id="txt_cr_revenue_line" value="" placeholder="Default Values"/>
                                                        <span class="help-block"></span>
                                                    </div>
                                                </div>
                                                <span class="help-block"></span>
                                                <div class="row" id="msg_lbl">
                                                    <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms"></label>
                                                    <label class="control-labe col-sm-6 col-md-3 col-lg-6 lable_forms"></label>
                                                </div>
                                                <button type="button" onclick="preCopyRowsSave()" class="btn btn-block sche_advert_save">Save</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Copy Rows Modal -->
                        <!--Pattern Fill Modal -->
                        <div class="modal fade" id="patternFillModal" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <p class="span-select2">Pattern Fill</p>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <form>
                                                <div class="row">
                                                    <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                                    <label class="control-label col-sm-2 lable_forms_default" style="width: default;">Channel : </label>
                                                    <div class="control-label col-sm-3" id="original_advert_list_pop_div">
                                                        <select id="cmb_pt_channel_select"  class="form-control"  multiple="multiple">
                                                        </select>
                                                    </div>
                                                </div>
                                                <span class="help-block"></span>
                                                <div class="row">
                                                    <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                                    <label class="control-label col-sm-2 lable_forms_default">Advertisement : </label>
                                                    <div class="control-label col-sm-3" id="original_advert_list_pop_div">
                                                        <select id="cmb_pt_advertisement" class="form-control"  required="">
                                                            <option id="1" value="-1">Select Advertisement</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <span class="help-block"></span>

                                                <div class="row">
                                                    <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                                    <label class="control-label col-sm-2 lable_forms_default">Date Range : </label>
                                                    <div class="control-label col-md-3">
                                                        <div style="width:200px;" id="form-date" class="input-append">
                                                            <div class="input-group">
                                                                <input id="pt_fromDate" data-format="yyyy-MM-dd" class="form-control"  required="" type="text" placeholder="From"/>
                                                                <span class="add-on input-group-addon">
                                                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                                        </span>
                                                            </div>
                                                        </div>
                                                        <span class="help-block"></span>
                                                    </div>
                                                    <div class="control-label col-md-3">
                                                        <div style="width:200px;  margin-left: -6px;" id="to-date" class="input-append">
                                                            <div class="input-group">
                                                                <input id="pt_toDate" data-format="yyyy-MM-dd" class="form-control" type="text" required="" placeholder="To"/>
                                                                <span class="add-on input-group-addon">
                                                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                                        </span>
                                                            </div>
                                                        </div>
                                                        <span class="help-block"></span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                                    <label class="control-label col-sm-2 lable_forms_default">Time : </label>
                                                    <div class="control-label col-sm-3 " id="original_advert_list_pop_div">
                                                        <select id="cmb_pt_start_time" class="form-control">
                                                        </select>
                                                    </div>
                                                    <div class="control-label col-sm-3" id="original_advert_list_pop_div">
                                                        <select id="cmb_pt_end_time" class="form-control">
                                                        </select>
                                                    </div>
                                                </div>
                                                <span class="help-block"></span>
                                                <div class="row">
                                                    <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                                    <label class="control-label col-sm-2 lable_forms_default">Spot Count : </label>
                                                    <div class="control-label col-sm-3">
                                                        <input type="text" class="form-control" pattern="\d*" id="txt_pt_slot_count" value="" required="" title="Please enter valid spot count" placeholder=""/>
                                                        <span class="help-block"></span>
                                                    </div>
                                                </div>
                                                <span class="help-block"></span>

                                                <div class="row">
                                                    <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                                    <label class="control-label col-sm-2 lable_forms_default">Repeat for : </label>
                                                    <div class="control-label col-sm-3">
                                                        <select id="cmb_days_pattern" class="form-control"  multiple="multiple">
                                                            <option value="1" selected="selected">Sunday</option>
                                                            <option value="2" selected="selected">Monday</option>
                                                            <option value="3" selected="selected">Tuesday</option>
                                                            <option value="4" selected="selected">Wednesday</option>
                                                            <option value="5" selected="selected">Thursday</option>
                                                            <option value="6" selected="selected">Friday</option>
                                                            <option value="7" selected="selected">Saturday</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <span class="help-block"></span>

                                                <div class="row">
                                                    <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                                    <label class="control-label col-sm-2 lable_forms_default">Revenue Month : </label>
                                                    <div class="control-label col-sm-3">
                                                        <select id="cmb_pt_revenue_month" class="form-control" required="">
                                                            <option value="-1">Select Month</option>
                                                            <option value="Jan">January</option>
                                                            <option value="Feb">February</option>
                                                            <option value="Mar">March</option>
                                                            <option value="Apr">April</option>
                                                            <option value="May">May</option>
                                                            <option value="Jun">June</option>
                                                            <option value="Jul">July</option>
                                                            <option value="Aug">August</option>
                                                            <option value="Sep">September</option>
                                                            <option value="Oct">October</option>
                                                            <option value="Nov">November</option>
                                                            <option value="Dec">December</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <span class="help-block"></span>
                                                <div class="row">
                                                    <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                                    <label class="control-label col-sm-2 lable_forms_default">Revenue Line : </label>
                                                    <div class="control-label col-sm-3">
                                                        <input type="text" class="form-control" id="txt_pt_revenue_line" value="" placeholder=""/>
                                                        <span class="help-block"></span>
                                                    </div>
                                                </div>
                                                <span class="help-block"></span>
                                                <div class="row" id="msg_lbl">
                                                    <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms"></label>
                                                    <label class="control-labe col-sm-6 col-md-3 col-lg-6 lable_forms"></label>
                                                    <button type="button" onclick="preSavePatternAfterValidation(this.form)" class="btn btn-block sche_advert_save">Save</button>
                                                    <button type="button" onclick="buildPatternFillModel()" class="btn btn-block sche_advert_save">Clear</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Pattern Fill Modal -->

                        <!--Audit Modal -->
                        <div class="modal fade" id="material-analysis-model" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <p class="span-select2">Audit</p>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">

                                            <div class="table">
                                                <table id="audit-data" class="table table-responsive table-bordered table-workorder">
                                                    <thead>
                                                    <tr>
                                                        <th class="col-md-1">Date and Time</th>
                                                        <th class="col-md-4">Status</th>
                                                        <th class="col-md-2">Spot Count</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Material Analysis Modal -->

                        <!--Copy column Modal -->
                        <div class="modal fade" id="copy-column-model" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <p class="span-select2">Copy Column</p>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">

                                            <div class="row">
                                                <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                                <label class="control-label col-sm-2 lable_forms_default">Copy from : </label>
                                                <div class="control-label col-sm-3">
                                                    <select id="from-date-drop" class="form-control">
                                                        <option value="-1">Select date</option>
                                                    </select>
                                                </div>

                                                <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                                <label class="control-label col-sm-1 lable_forms_default">To : </label>
                                                <div class="control-label col-sm-3">
                                                    <select id="to-date-drop" class="form-control">
                                                        <option value="-1">Select date</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <h4>&nbsp;</h4>

                                            <div class="row">
                                                <label class="control-label col-sm-8 col-md-8 col-lg-8"></label>
                                                <div class="control-label col-sm-3">
                                                    <button style=" margin-right: -11px !important; margin-top:-5px;" class="btn btn-default add_channel save" type="button" onclick="columnCopy()">Copy</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Select filter message modal -->
                        <div class="modal fade" id="select-filter-msg-modal" role="dialog">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <p class="span-select2">Select Search Criteria</p>
                                    </div>
                                    <div class="modal-body" style="margin-bottom: 0 !important;">
                                        <p>
                                            Please select search criteria and click "GO" button to load schedule data.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--copy column Modal -->

                    </div>

                </div>
            </div>
        </div>
        <!--########################## style="margin-top: 950px;" -->
    </div>
    <nav class="navbar navbar-inverse sub">
        <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
    </nav>
</div>
<div id='msg_info'></div>
</body>
</html>
