<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>Tag Fillers</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta th:name="_applicationVersion" th:content="${@environment.getProperty('application.version')}"/>
    <meta th:name="_filePathSeparator" th:content="${@environment.getProperty('file.path.separator')}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/progress_bar.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/css/bootstrap-select.min.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/js/bootstrap-select.min.js}"/>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/lib/underscore-min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/tagFillers.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>

    <style type="text/css">
            .row{
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
            }
            .expand{
                margin-bottom: 40px;
            }
            .expand .content {
                display: none;
                padding : 5px;
            }
            .upload_state{
                margin-top:-40px;
                margin-right:-20px;
                float:right;
            }
        </style>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: scheduler-menu-bar"/>
</div>

<div class="container">
    <div class="col-md-1">
    </div>
    <div style="height:700px; !important" class="col-md-12 content_area">
        <div style="width: 102%; margin-left: -7px;" class="well header_well">
            <p class="header_well_pa">Tag Fillers</p>
        </div>
        <div class="modal-body">
            <div class="row fullwith">
                <div style="height:630px; width: 105%; margin-left: -23px;" class="well middle_well_workorder wrapper-div " id="">
                    <form role="form" id ="advert_data">
                        <div class="row form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms add_adv" for="txt_advert_id">Advertisement ID</label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                <input type="text" class="form-control" id="txt_advert_id" name="Advertisement name" value="" title="" placeholder="Advertisement Name" disabled="true" readonly="true"/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="row row form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms add_adv">Client Name</label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                            <div id="client_select" class="control-label col-sm-8 col-md-8 col-lg-8">
                                <input type="text" class="form-control" id="txt_client_name" name="Advertisement name" value="" required="" disabled="true"/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms add_adv" for="txt_advert_name">Advertisement Name</label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                <input type="text" class="form-control" id="txt_advert_name" name="Advertisement name" value="" required="" disabled="true"/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms add_adv" for="dd_channel">Channel(s)</label>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                            <div id="channel_select" class="control-label col-sm-8 col-md-8 col-lg-8"
                                 style="padding-bottom: 10px;padding-left: 0px;">
                                <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                    <select id="dd_channel" name="dd_channel" class="selectpicker form-control" multiple="true"
                                            data-container="body" data-actions-box="true">
<!--
                                    <select id="dd_channel" name="dd_channel" class="selectpicker show-menu-arrow form-control" multiple="true" data-actions-box="true">
-->
                                    </select>
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="control-label col-sm-10 col-md-10 col-lg-10"></label>
                            <div class="control-label col-sm-2 col-md-2 col-lg-2">
                                <button type="button" onclick="save()" class="btn btn_color" id="btn-search" >Save</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<nav  class="navbar navbar-inverse sub">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>
<div id = "loading" class="ui-loader-background"></div>
<div id='msg_info'></div>
</body>
</html>

