<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>Home</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style-refactor.css}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/home.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"></script>
</head>
<body th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <input type="hidden" th:value="${current_user}" id="current_user"/>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/home}">
                    <img th:src="@{/assets-__${applicationVersion}__/dist/img/logo.png}" class="logo-img"/>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-left"/>
            <ul>
                <a>
                    <div onclick="ChangeProfile()" class="logout_image"/>
                    <div id="user_name_div" class="logout">
                        <span sec:authentication="name"/>
                    </div>
                </a>
            </ul>
        </div>
    </nav>

<nav  class="navbar navbar-inverse sub">
    <div class="container-fluid ">
        <ul class="nav navbar-nav navbar-left">
            <!--li class="nav_stn"><a href="WorkOrder.html">Work Orders</a></li>
            <li class="nav_stn"><a  href="NewWorkOrder.html">New Work Order</a></li>
            <li class="nav_stn"><a href="UpdateWorkOrder.html">Update Work Orders</a></li-->
        </ul>
        <form th:action="@{/logout}" id="log-out-form" method="POST">
            <i class="fa fa-sign-out" aria-hidden="true"/>
            <a class="logout_tag" href="javascript:$('#log-out-form').submit();">Log Out</a>
        </form>
    </div>
</nav>

<div class="container">
    <div class="col-md-1">
    </div>

    <div class="col-md-10 content_area">
        <div class="well header_well bg">
            <p class="header_well_pa">Account Settings</p>
        </div>
        <div class="modal-body">
            <div class="row" >
                <div style="height:225px;" class="well middle_well_workorder">
                    <div  style="margin-left:58px;">
                        <a  th:href="@{/workorder}" sec:authorize="hasRole('WorkOrder')" >
                            <div class="col-md-3 colx">
                                <div class="responsive">
                                    <img class="box-img1" width="60%" th:src="@{/assets-__${applicationVersion}__/dist/img/work.png}"/>
                                    <p class="box1">Work order</p>
                                </div>
                            </div>
                        </a>

                        <a  th:href="@{/schedule}"  sec:authorize="hasRole('ScheduleHome')">
                            <div class="col-md-3 colx">
                                <div class="responsive">
                                    <img class="box-img1 sub2" width="60%" th:src="@{/assets-__${applicationVersion}__/dist/img/shedule.png}"/>
                                    <p class="box box2">Scheduler</p>
                                </div>
                            </div>
                        </a>

                        <a  th:href="@{/billing}" sec:authorize="hasRole('BillHome')">
                            <div class="col-md-3 colx">
                                <div class="responsive">
                                    <img class="box-img1 sub4" width="35%"  th:src="@{/assets-__${applicationVersion}__/dist/img/billing.png}"/>
                                    <p class="box box5">Billing</p>
                                </div>
                            </div>
                        </a>

                        <a  th:href="@{/advertisement-v4}" sec:authorize="hasRole('AllAdvertisement')">
                            <div class="col-md-3 colx">
                                <div style=""  class="responsive res2">
                                    <img class="box-img1 sub5" width="65%" th:src="@{/assets-__${applicationVersion}__/dist/img/ingest2.png}"/>
                                    <p class="box box222">Ingest</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="col-md-1">
    </div>

    <div style="margin-top:38px;" class="col-md-10 content_area2">
        <div class="well header_well bg">
            <p class="header_well_pa">Admin Settings</p>
        </div>
        <div class="modal-body">
            <div class="row" >
                <div style="height:225px; margin-bottom: 25px;" class="well middle_well_workorder">
                    <div  style="margin-left:58px;">
                        <a th:href="@{/users-v4}" sec:authorize="hasRole('AllUser')">
                            <div class="col-md-3 colx">
                                <div class="responsive">
                                    <img class="box-img1 sub66" width="45%" th:src="@{/assets-__${applicationVersion}__/dist/img/Group.png}"/>
                                    <p class="box subbox1">User Management</p>
                                </div>
                            </div>
                        </a>

                        <a  th:href="@{/admin/schedule-panel}"  sec:authorize="hasRole('AdminSchedulePanel')">
                            <div class="col-md-3 colx">
                                <div class="responsive">
                                    <img class="box-img1 sub67" width="30%"  th:src="@{/assets-__${applicationVersion}__/dist/img/inventory.png}"/>
                                    <p class="box subbox2">Inventory Management</p>
                                </div>
                            </div>
                        </a>

                        <a th:href="@{/admin/channel/list}" sec:authorize="hasRole('Channels')">
                            <div class="col-md-3 colx">
                                <div class="responsive">
                                    <img class="box-img1 sub68" width="40%" th:src="@{/assets-__${applicationVersion}__/dist/img/Administrator.png}" />
                                    <p class="box subbox3">Administrator</p>
                                </div>
                            </div>
                        </a>

                        <a  th:href="@{/servers/list}" sec:authorize="hasRole('ServerControl')">
                            <div class="col-md-3 colx">
                                <div class="responsive">
                                    <img class="box-img1 sub68" width="50%"  th:src="@{/assets-__${applicationVersion}__/dist/img/workbn.png}"/>
                                    <p class="box subbox3">Server Control</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top:5px;" class="col-md-10 content_area2">
        <div class="well header_well bg">
            <p class="header_well_pa">Reporting</p>
        </div>
        <div class="modal-body">
            <div class="row" >
                <div style="height:225px; margin-bottom: 25px;" class="well middle_well_workorder">
                    <div  style="margin-left:58px;" sec:authorize="hasRole('ReportingModule')">
                        <a sec:authorize="hasRole('ReportingModule')"  th:href="@{/reporting/user-access}">
                            <div class="col-md-3 colx">
                                <div class="responsive">
                                    <img class="box-img1 sub68" width="45%" th:src="@{/assets-__${applicationVersion}__/dist/img/workbn.png}"/>
                                    <p class="box subbox3">Reporting</p>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div style="margin-top:5px;" class="col-md-10 content_area2">-->
        <!--<div class="well header_well bg">-->
            <!--<p class="header_well_pa">Dashboard</p>-->
        <!--</div>-->
        <!--<div class="modal-body">-->
            <!--<div class="row" >-->
                <!--<div style="height:225px; margin-bottom: 25px;" class="well middle_well_workorder">-->
                    <!--<div  style="margin-left:58px;">-->
                        <!--<a  th:href="${dashboardUrl}">-->
                            <!--<div class="col-md-3 colx">-->
                                <!--<div class="responsive">-->
                                    <!--<img class="box-img1 sub68" width="45%" th:src="@{/assets-__${applicationVersion}__/dist/img/dashboard.png}"/>-->
                                    <!--<p class="box subbox3">Dashboard</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
<!--End content area-->

<nav  class="navbar navbar-inverse sub footer">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>

</body>
</html>