<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>Login</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style-refactor.css}"/>
</head>
<body th:with="applicationVersion=${@environment.getProperty('application.version')}">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    <img th:src="@{/assets-__${applicationVersion}__/dist/img/logo.png}" class="logo-img"/>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-left"/>
        </div>
    </nav>

    <div class="container login_container">
        <div class="col-md-3">
        </div>

        <div class="col-md-6 content_area_login">
            <div class="well header_well">
                <p class="header_well_pa">User Login</p>
            </div>

            <div class="modal-body">
                <div class="row" >
                    <div style="height:280px;" class="well middle_well_workorder">
                        <form id="loginform" th:action="@{/sign-in}" method="post">
                            <div class="form-group col-lg-10">
                                <input type="text" class="form-control" id="username" placeholder="Username" name="username"/>
                            </div>
                            <div class="form-group col-lg-10">
                                <input type="password" class="form-control" id="Password" name="password" placeholder="Password"/>
                                <span id="pwVali" class="text-danger"  th:if="${loginError}">
                                    <p><code><small>Wrong User Name or Password</small></code></p>
                                </span>
                            </div>
                            <div class="row"/>
                            <div class="form-group col-lg-1">
                                <button type="submit" id="btnLogin" class="btn btn-default search login">Login</button><br/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"/>
    </div>
    <!--End content area-->

    <nav  class="navbar navbar-inverse sub footer">
        <p class="footer-text pull-right">&copy;VCLabs Schedule System</p>
    </nav>
</body>
</html>
