<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">

    <title>MissedSpotRescheduling</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap_3.3.6/multiselect/css/bootstrap-multiselect.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap_3.3.6/confirm/css/msc-style.css}"/>

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap_3.3.6/multiselect/js/bootstrap-multiselect.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap_3.3.6/confirm/js/msc-script.js}"/>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/missedSpotRescheduling.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/css/bootstrap-select.min.css}"/>

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/js/bootstrap-select.min.js}"/>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/js/i18n/defaults-en_US.min.js}"/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: scheduler-menu-bar"/>
</div>

<div id="miss-main-div" class="container">
    <div class="col-md-1">
    </div>

    <div class="col-md-12 content_area">
        <div class="well header_well">
            <p class="header_well_pa">Missed Spot Reschedule</p>
        </div>
        <div class="modal-body">
            <div class="row" >
                <div style="height:500px; with:100%; margin-bottom: 10px;" id="new_work_order_div" class="well middle_well_workorder2 wrapper-div">
                    <div class="row">

                        <div class="form-group">
                            <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                <div id="form-date" class="input-append">
                                    <div class="input-group">
                                        <span class="input-group-addon lable_forms_trans">From</span>
                                        <div id="start_div">
                                            <input id="fromDate" name="from" data-format="yyyy-MM-dd" class="form-control" value="" placeholder="Date" type="text"/>
                                        </div>
                                        <span class="add-on input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                </span>
                                    </div>
                                </div>
                            </div>

                            <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                <div id="to-date" class="input-append">
                                    <div class="input-group">
                                        <span class="input-group-addon lable_forms_trans">To</span>
                                        <div id="start_div">
                                            <input id="toDate" name="toDate" data-format="yyyy-MM-dd" class="form-control" value="" placeholder="Date" type="text"/>
                                        </div>
                                        <span class="add-on input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-sm-3 col-md-3 col-lg-3">
                                <div class="input-group" id="clientList">
                                    <span class="input-group-addon lable_forms_trans">Client</span>
                                    <select id="clientDropdown" name="clientDropdown" class="selectpicker" multiple="true">

                                    </select>
                                </div>
                                <span id="CN_vali" class="text-danger"></span>
                            </div>

                            <div class="form-group col-sm-3 col-md-3 col-lg-3">
                                <div class="input-group" id="channelList">
                                    <span class="input-group-addon lable_forms_trans">Channels</span>
                                    <select id="channelDropdown" name="channelName" class="selectpicker" multiple="true">

                                    </select>
                                </div>
                                <span id="CN_vali" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="form-group col-sm-3 col-md-3 col-lg-3">
                                <div class="input-group" id="productList">
                                    <span class="input-group-addon lable_forms_trans">Product</span>
                                    <select id="productDropdown" name="channelName" class="form-control">

                                    </select>
                                </div>
                                <span id="CN_vali" class="text-danger"></span>
                            </div>

                            <div class="form-group col-sm-3 col-md-3 col-lg-3">
                                <div class="input-group" id="status">
                                    <span class="input-group-addon lable_forms_trans">Status</span>
                                    <select id="status_list" name="channelName" class="form-control" >
                                        <option VALUE="all" selected=""> --All--</option>
                                        <option VALUE="Missed"> Missed</option>
                                        <option VALUE="Dummy"> Dummy</option>
                                        <option VALUE="Suspended"> Suspended</option>
                                        <option VALUE="Skippe"> Skipped </option>
                                    </select>
                                </div>
                                <span id="CN_vali" class="text-danger"></span>
                            </div>

                            <div class="form-group col-sm-3 col-md-3 col-lg-3">
                                <div class="input-group" id="status">
                                    <span class="input-group-addon lable_forms_trans">Hour</span>
                                    <select id="hourList" name="hourList" class="form-control" >
                                        <option VALUE="all" selected=""> --All--</option>
                                        <option VALUE="0" >00:00</option>
                                        <option VALUE="1" >01:00</option>
                                        <option VALUE="2" >02:00</option>
                                        <option VALUE="3" >03:00</option>
                                        <option VALUE="4" >04:00</option>
                                        <option VALUE="5" >05:00</option>
                                        <option VALUE="6" >06:00</option>
                                        <option VALUE="7" >07:00</option>
                                        <option VALUE="8" >08:00</option>
                                        <option VALUE="9" >09:00</option>
                                        <option VALUE="10" >10:00</option>
                                        <option VALUE="11" >11:00</option>
                                        <option VALUE="12" >12:00</option>
                                        <option VALUE="13" >13:00</option>
                                        <option VALUE="14" >14:00</option>
                                        <option VALUE="15" >15:00</option>
                                        <option VALUE="16" >16:00</option>
                                        <option VALUE="17" >17:00</option>
                                        <option VALUE="18" >18:00</option>
                                        <option VALUE="19" >19:00</option>
                                        <option VALUE="20" >20:00</option>
                                        <option VALUE="21" >21:00</option>
                                        <option VALUE="22" >22:00</option>
                                        <option VALUE="23" >23:00</option>
                                    </select>
                                </div>
                                <span id="CN_vali" class="text-danger"></span>
                            </div>

                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 10px;">
                        <div class="form-group">
                            <button type="button" onclick="setMissedSpotTable()" class="btn btn-success pull-right missed_butt">
                                <span class="glyphicon glyphicon-search"></span>
                                Search
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div id="missed_spot_div" class="table">
                            <table id="missed_spot_table" class="table table-bordered table-workorder">
                                <thead class="tb_align_center">
                                <tr>
                                    <th class="col-md-2">Original time rule</th>
                                    <th class="col-md-2">WO Name/ID</th>
                                    <th class="col-md-2">Client</th>
                                    <th class="col-md-1">Cut ID</th>
                                    <th class="col-md-2">Product</th>
                                    <th class="col-md-1">Type</th>
                                    <th class="col-md-1">channel</th>
                                    <th class="col-md-1">Prio</th>
                                    <th class="col-md-2">Status</th>
                                    <th class="col-md-1"><input type="checkbox" id="all_select_check" name="checkbox" onclick="selectAllAdvert()"/></th>
                                    <th class="col-md-1">Actual time belt</th>
                                    <th class="col-md-1">Date</th>
                                    <th class="col-md-1">Schedule End Date </th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <button type="button" onclick="reschedul()" class="btn btn-success pull-right missed_butt">Reschedule</button>
                        <button type="button" onclick="generateExcel()" class="btn btn-success pull-right missed_butt">Generate Excel</button>
                        <button type="button" onclick="releaseSelectedDummyCut()" class="btn btn-success pull-right missed_butt">Release Dummy Cuts</button>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="missedSpot_pop" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="span-select2">Missed Spot Reschedule</p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group" id="schedule_data">
                    </div>
                </div>
                <h3>&nbsp;</h3>
                <div class="row">
                    <div class="form-group">

                        <div class="form-group col-sm-3 col-md-3 col-lg-3">
                            <div class="input-group" id="channelList_pop_div">
                                <span class="input-group-addon lable_forms_trans">Channels</span>
                                <select id="channelList_pop" class="form-control">

                                </select>
                            </div>
                            <span id="CN_vali" class="text-danger"></span>
                        </div>

                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <div id="form-date-pop" class="input-append">
                                <div class="input-group">
                                    <span class="input-group-addon">Date</span>
                                    <div id="start_div">
                                        <input id="date_pop" name="from" data-format="yyyy-MM-dd" class="form-control" value="" type="text"/>
                                    </div>
                                    <span class="add-on input-group-addon">
                                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                            </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-3 col-md-3 col-lg-3">
                            <div class="input-group" id="frome_time">
                                <span class="input-group-addon lable_forms_trans">From</span>
                                <select id="fromDropdown" name="frome" class="form-control">

                                </select>
                            </div>
                            <span id="CN_vali" class="text-danger"></span>
                        </div>

                        <div class="form-group col-sm-3 col-md-3 col-lg-3">
                            <div class="input-group" id="to_time">
                                <span class="input-group-addon lable_forms_trans">To</span>
                                <select id="toDropdown" name="to" class="form-control">

                                </select>
                            </div>
                            <span id="CN_vali" class="text-danger"></span>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" onclick="saveReschedulr_v2()" class="btn pull-right miss_pop_save">Save</button>
            </div>
        </div>
    </div>
</div>
<nav  class="navbar navbar-inverse sub">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>
<div id='msg_info'></div>
<div id = "loading" class="ui-loader-background"></div>
</body>
</html>