<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">

    <title>Priority Setting</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/toastr/toastr.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/prioritySetting.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>

    <style type="text/css">
            .table>tbody>tr>td .table>thead>tr>th{
                width:100px;
            }
            .time-belt-cell {
                border-right: 2px solid #ddd;
                width:200px;
            }
            .table>thead>tr>th{
                border-bottom: 2px solid #888;
            }
            .popup-form{
                font-size: 16px;
                width: inherit;
            }
        </style>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: scheduler-menu-bar"/>
</div>

<div class="container">
    <div class="col-md-1">
    </div>
    <div style="height:700px; !important" class="col-md-12 content_area">
        <div style="width: 105%; margin-left: -23px;" class="well header_well">
            <p class="header_well_pa">Priority Setting</p>
        </div>
        <div class="modal-body">
            <div class="row fullwith">
                <div style="height:630px; width: 105%; margin-left: -23px;" class="well middle_well_workorder wrapper-div">
                    <form id="priority_form" role="form">
                    <div class="row form-group">
                        <label class="control-label col-sm-1 lable_forms_ad lable_forms">Channel</label>
                        <div class="control-label col-sm-3" id="cheannel_list_div" >
                            <select id="channelDropdown" name="channelName" class="form-control"  onchange="changeChannel(this.value)" required="true">
                                <option VALUE="-1" >------ None ------</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                        <label class="control-label col-sm-1 lable_forms_ad lable_forms">Time Belt</label>
                        <div class="control-label col-sm-3" id="workOrder_list_div">
                            <select id="timebeltDropdown" class="form-control" onchange="loadClusterList(this.value)">
                                <option VALUE="-111" >------ All ------</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                        <label class="control-label col-sm-1 lable_forms_ad lable_forms" for="txt_end_pop">Cluster</label>
                        <div class="control-label col-sm-3" id="advertisement_list_div">
                            <select id="clusterDropdown" class="form-control"  onchange="loadPriorityList()">
                                <option VALUE="-111" >------ All ------</option></select>
                            <span class="help-block"></span>
                        </div>

                    </div>

                    <div class="control-label col-sm-12 prio">
                        <p style="font-size: 18px;">Apply Days Pattern</p>
                        <!--<label class="control-label col-sm-1 lable_forms_ad lable_forms" for="txt_start_pop">Period</label>-->
                        <div class="control-label col-lg-2" style="width: 220px;">
                            <div class="input-group" id="divFromDate">
                                <span class="input-group-addon">From</span>
                                <input id="fromDate" name="startDate" data-format="yyyy-MM-dd" class="form-control" type="text" required="true" />
                                <span class="add-on input-group-addon">
                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                        </span>
                            </div>
                        </div>
                        <!--<label class="control-label col-sm-1 lable_forms_ad lable_forms">To</label>-->
                        <div class="control-label col-md-2" style="padding-left: 0px;width: 205px;">
                            <div class="input-group" id="divToDate">
                                <span class="input-group-addon">To  </span>
                                <input id="toDate" name="endDate" data-format="yyyy-MM-dd" class="form-control" type="text" required="true" />
                                <span class="add-on input-group-addon">
                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                        </span>
                            </div>
                        </div>

                        <div class="control-label col-sm-1">
                            Mon<input type="checkbox" class="check" id="ckbx_Mon"  value="" checked="true" />
                            <span class="help-block"></span>
                        </div>

                        <div class="control-label col-sm-1">
                            Tue<input type="checkbox" class="check" id="ckbx_Tue"  value="" checked="true" />
                            <span class="help-block"></span>
                        </div>

                        <div class="control-label col-sm-1">
                            Wed<input type="checkbox" class="check" id="ckbx_Wed"  value="" checked="true" />
                            <span class="help-block"></span>
                        </div>

                        <div class="control-label col-sm-1">
                            Thu<input type="checkbox" class="check" id="ckbx_Thu"  value="" checked="true" />
                            <span class="help-block"></span>
                        </div>

                        <div class="control-label col-sm-1">
                            Fri<input type="checkbox" class="check" id="ckbx_Fri"  value="" checked="true"/>
                            <span class="help-block"></span>
                        </div>
                        <div class="control-label col-sm-1">
                            Sat<input type="checkbox" class="check" id="ckbx_Sat"  value="" checked="true"/>
                            <span class="help-block"></span>
                        </div>
                        <div class="control-label col-sm-1">
                            Sun<input type="checkbox" class="check" id="ckbx_Sun"  value="" checked="true"/>
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="control-label col-sm-12 prio">
                        <div class="control-label col-md-10">
                            <span class="help-block"></span>
                        </div>
                        <div class="control-label col-sm-2">
                            <button class="btn btn-success btn-block bt bt44" type="button" onclick="loadPriorityView()">Filter</button>
                            <span class="help-block"></span>
                        </div>
                    </div>


                    <div style="margin-top:80px;" class="row form-group">
                        <p style="margin-left:8px;  font-size: 18px; margin: 33px 0 0 16px;">Set Priority</p>
                        <p style="margin-top:20px;"></p>
                        <label class="control-label col-lg-1 lable_forms_ad lable_forms">Work Order</label>
                        <div class="control-label col-sm-3" id="workOrder_list_div">
                            <select id="workOrderDropdown" name="WorkOrder" class="form-control" onchange="loadAdvertList(this.value)" required="true">
                                <option VALUE="-1" >------ None ------</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                        <label class="control-label col-sm-1 lable_forms_ad lable_forms">Advertisement</label>
                        <div class="control-label col-sm-3" id="cheannel_list_div" >
                            <select id="advertDropdown" name="channelName" class="form-control" required="true">
                                <option VALUE="-1" >------ None ------</option>
                            </select>
                            <span class="help-block"></span>
                        </div>

                        <label class="control-label col-sm-1 lable_forms_ad lable_forms">Priority</label>
                        <div class="control-label col-sm-3" id="advert_type_list_div">
                            <select id="priorityDropdown" class="form-control" required="true">
                                <option VALUE="-1" >------ None ------</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                    </div>


                    <div class="control-label col-sm-12 prio">

                        <div class="control-label col-sm-7">
                            <span class="help-block"></span>
                        </div>
                        <div style="padding-left: 59px;" class="control-label col-sm-3">
                            Overwrite Existing Priorities<input type="checkbox" class="check" id="ckbxOverWrite"  value="" />
                            <span class="help-block"></span>
                        </div>
                        <div class="control-label col-sm-2">
                            <button class="btn btn-success btn-block bt bt44" type="button" onclick="savePriorityAfterValidation(this.form)">Save</button>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    </form>
                    <hr/>

                    <br/>

                    <div style="margin-top: 39px;" id="schedule_main_table" class="table-responsive">
                        <table class="table table-bordered table-workorder" id="priorityData" style="margin-left: 10px;">
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="priority_view_popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="span-select2">Priority</p>
            </div>
            <div class="modal-body">
                <div class="row form-group" style="padding-left: 50px;">
                    <div class="control-label col-md-12">
                    </div>
                    <div class="row form-group">
                        <div class="control-label col-md-4 lable_forms popup-form"> Work Order : </div>
                        <div class="control-label col-md-6 lable_forms popup-form" id="pupWO">  </div>
                    </div>
                    <div class="row form-group">
                        <div class="control-label col-md-4 lable_forms popup-form"> Advertisement : </div>
                        <div class="control-label col-md-6 lable_forms popup-form" id="pupAdvert">  </div>
                    </div>
                    <div class="row form-group">
                        <div class="control-label col-md-4 lable_forms popup-form"> Cluster : </div>
                        <div class="control-label col-md-6 lable_forms popup-form" id="pupCluster">  </div>
                    </div>
                    <div class="row form-group">
                        <div class="control-label col-md-4 lable_forms popup-form"> Priority : </div>
                        <div class="control-label col-md-6 lable_forms popup-form" id="pupPriority">  </div>
                    </div>
                    <div class="row form-group">
                        <div class="control-label col-sm-12 lable_forms popup-form">
                            <input type="checkbox" class="check" id="ckbx_DeleteAll"  value="" checked="true"/>
                            Delete all occurrence for selected time period
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="control-label col-md-3">
                            <button type="button" class="btn btn-success btn-block" data-dismiss="modal" onclick="removePriorities()">Delete</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<nav  class="navbar navbar-inverse sub">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>
<div id='msg_info'></div>
<div id = "loading" class="ui-loader-background"></div>
</body>
</html>
