<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
        <title>Schedule history</title>
        <meta charset="utf-8"/>
        <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

        <!--<link rel="stylesheet" href="bootstrap_3.3.6/dist/css/bootstrap.min.css">-->
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
        <!--<link rel="stylesheet" href="css/style.css">-->
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
        <!--<link rel="stylesheet" href="css/vcl_styles.css">-->
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>

        <!--<script src="bootstrap_3.3.6/multiselect/js/jquery-2.2.4.min.js"></script>-->
        <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
        <!--<script src="bootstrap_3.3.6/dist/js/bootstrap.min.js"></script>-->
        <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
        <!--<link rel="stylesheet" href="bootstrap_3.3.6/multiselect/css/bootstrap-multiselect.css">-->
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap_3.3.6/multiselect/css/bootstrap-multiselect.css}"/>
        <!--<link rel="stylesheet" href="bootstrap_3.3.6/confirm/css/msc-style.css">-->
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap_3.3.6/confirm/css/msc-style.css}"/>






        <!--<link rel="stylesheet" type="text/css" media="screen" href="datetimepicker/bootstrap-datetimepicker.min.css"> -->
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>

    <!--<link rel="stylesheet" href="css/style-custom2.css">-->
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style-custom2.css}"/>




        <!--<script src="bootstrap_3.3.6/multiselect/js/bootstrap-multiselect.js"></script>-->
        <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap_3.3.6/multiselect/js/bootstrap-multiselect.js}"/>
        <!--<script src="bootstrap_3.3.6/confirm/js/msc-script.js"></script>-->
        <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap_3.3.6/confirm/js/msc-script.js}"/>
        <!--<script src="datetimepicker/bootstrap-datetimepicker.min.js"></script>-->
        <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>


        <!--<script src="js/utils.js"></script>-->
        <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
        <!--<script src="js/validation.js"></script>-->
        <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
        <!--<script src="js/scheduleHistory.js"></script>-->
        <script th:src="@{/assets-__${applicationVersion}__/js/scheduleHistory.js}"/>
        <!--<script src="js/fontawesome/fontawesome.js"></script>-->
        <script th:src="@{/assets-__${applicationVersion}__/dist/js/fontawesome.js}"/>
        <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>

    </head>
    <body th:with="applicationVersion=${@environment.getProperty('application.version')}">

    <div id="includedMenubar">
        <th:block th:include="common-components :: scheduler-menu-bar"/>
    </div>

        <div class="container-fluid">
            <div class="row">
                <div class="content_area">
                    <div class="well header_well">
                        <p class="header_well_pa">Schedule History</p>  
                    </div>
                    <div class="modal-body">
                        <div class="row fullwith" >
                            <div style="height:860px;" id="new_work_order_div" class="well middle_well_workorder2 "> <!-- removed class wrapper-div for remove scroll -->

                                <div class="col-md-12 c-content">
                                    <form id="new_workOrder_form" role="form">

                                        <h3>&nbsp;</h3>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-sm-2 col-md-2 col-lg-2 lable_forms" for="txt_wo_id">WO ID</label>
                                                <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms" >:</label>
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_no_with" id="work_order_id"></label>

                                                <label class="control-label col-sm-2 col-md-2 col-lg-2 lable_forms">Marketing Ex</label>
                                                <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms" >:</label>
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_no_with" id="lbl_me"></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-sm-2 col-md-2 col-lg-2 lable_forms" >WO type:</label>
                                                <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms" >:</label>
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_no_with" id="lbl_wo_type"></label>

                                                <label class="control-label col-sm-2 col-md-2 col-lg-2 lable_forms" >Schedule Ref:</label>
                                                <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms" >:</label>
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_no_with" id="lbl_schedule_ref"></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-sm-2 col-md-2 col-lg-2 lable_forms">Product:</label>
                                                <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms" >:</label>
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_no_with" id="lbl_product"></label>

                                                <label class="control-label col-sm-2 col-md-2 col-lg-2 lable_forms">Commission:</label>
                                                <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms" >:</label>
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_no_with" id="lbl_Commission"></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">

                                                <label class="control-label col-sm-2 col-md-1 col-lg-2 lable_forms" for="start_date:">Start </label>
                                                <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms" >:</label>
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_no_with" id="start_date"></label>

                                                <label class="control-label col-sm-2 col-md-2 col-lg-2 lable_forms" for="end_date:">End : </label>
                                                <label class="control-label col-sm-1 col-md-1 col-lg-1 lable_forms" >:</label>
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms" id="end_date"></label>
                                            </div>
                                        </div>

                                        <div class="row  c-content border-t-1 p-t-10 m-t-10">
                                            <div class="form-group">
                                                <label class="control-label col-md-1 lable_forms" for="lbl_agency">Agency : </label>    
                                                <label class="control-label col-md-3 lable_forms_no_with" id="lbl_agency"></label>

                                                <label class="control-label col-md-1 lable_forms" for="lbl_client">Client : </label>
                                                <label class="control-label col-md-3 lable_forms_no_with" id="lbl_client"></label>

                                                <label class="control-label col-md-2 lable_forms" for="schedule_value">Schedule value : </label>
                                                <label class="control-label col-md-2 lable_forms" id="schedule_value"></label>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row" id="advert_list_table">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-10">
                                                <div id="advert_main_table_div" class="table">
                                                    <table style="margin-top: 12px;  margin-left: 12px;" id="advert_main_table" class="table table-bordered table-workorder">
                                                        <thead>
                                                            <tr>
                                                                <th>ID</th>
                                                                <th>name</th>
                                                                <th>Duration(Sec)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-sm-1"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="row">
                                            <div class="col-md-6 row" id="selectedChannelList">
                                                <select id="channelDropdown" name="channelName" onchange="changeChannels(this.value)" class="form-control middle_select">
                                                    <option value="-1">Select channel</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top: 10px;" id="spot_table_div">

                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top: 20px;" class="row c-content border-t-1 p-t-10 m-t-10">
                                    <label class="control-label col-sm-6 lable-value" for="end_date:"><b><h4 style="margin-right:186px; font-weight:normal; font-family: adventpro_medium; font-size: 18px;"></h4></b></label>
                                    <!--div class="control-label col-sm-2" id="advert_type_lList">
                                    </div-->
                                    <div class="control-label col-sm-2"></div>
                                    <div class="control-label col-sm-1">
                                        <label class="control-label col-sm-2 table-jump-arrow" id="jump_left" style="transform: scale(-1, 1);">&#x27A4;</label>
                                    </div>
                                    <div class="control-label col-sm-2"></div>
                                    <div class="control-label col-sm-1">
                                        <label class="control-label col-sm-2 table-jump-arrow" id="jump_right">&#x27A4;</label>
                                    </div>
                                </div>

                                <div style="margin-top: 10px; margin-bottom:10px;" class="row">

                                    <div id="filteradvertDropdown_div" class="control-label col-sm-1">
                                        <select id="filter_AdvertDrop" onchange="filter_AdvertChange()" class="form-control">
                                            <option value="-111">All</option>
                                        </select>
                                    </div>

                                    <div id="filteradvertDurationDropdown_div" class="control-label col-sm-1">
                                        <select id="filter_AdvertDuratinoDrop"  onchange="filter_AdvertDurationChange()" class="form-control">
                                            <option value="-111">All</option>
                                        </select>
                                    </div>

                                    <div id="filterChannelDropdown_div" class="control-label col-sm-1">
                                        <select id="schedule_filterChannelDropdown" class="form-control">
                                            <option value="-111">Select channel</option>
                                            <option value="-111">Select channel-1</option>
                                            <option value="-111">Select channel-2</option>
                                        </select>
                                    </div>

                                    <div id="startTime_div" class="control-label col-sm-1">
                                        <select id="startTime_filter" onchange="filter_startTimeChange()" class="form-control">
                                            <option value="-999">All</option>
                                        </select>
                                    </div>

                                    <div id="endTime_div" class="control-label col-sm-1">
                                        <select id="endTime_filter" onchange="filter_endTimeChange()" class="form-control">
                                            <option value="-999">All</option>
                                        </select>
                                    </div>

                                </div>

                                <script type="text/javascript">
                                    $(function () {
                                        $('#tbody_data').on('scroll', function () {
                                            $('#tbody_left').scrollTop($(this).scrollTop());
                                        });

                                        var LeftColsRatio = [0.5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1];

                                        $("#toggle_collapse").click(function () {
                                            if ($(this).text() == String.fromCharCode(9668)) {
                                                $('#div_table_data').removeClass('table-data-collapsed').addClass('table-data-expanded');
                                                $('#div_table_left').removeClass('table-left-expanded').addClass('table-left-collapsed');
                                                LeftColsRatio = [0.5, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1];
                                                $(this).text(String.fromCharCode(9658));
                                                $(this).css("right", "-16px");
                                            }
                                            else {
                                                $('#div_table_data').removeClass('table-data-expanded').addClass('table-data-collapsed');
                                                $('#div_table_left').removeClass('table-left-collapsed').addClass('table-left-expanded');

                                                LeftColsRatio = [0.5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1];

                                                $(this).text(String.fromCharCode(9668));
                                                $(this).css("right", "-2px");
                                            }
                                            $(window).trigger('resize');
                                        });

                                        $("#toggle_advetlist_collapse").click(function () {
                                            if ($(this).text() == String.fromCharCode(9650)) {
                                                $('#advert_list_table').hide();
                                                $(this).text(String.fromCharCode(9660));
                                            }
                                            else {
                                                $('#advert_list_table').show();
                                                $(this).text(String.fromCharCode(9650));
                                            }
                                            $(window).trigger('resize');
                                        });

                                        $("#jump_left").click(function () {
                                            $('#div_table_data').scrollLeft($('#div_table_data').scrollLeft() - (50 * 7)); // 1 week
                                            console.log($('#div_table_data').scrollLeft() + ' ' + $('#tbody_data').scrollTop());
                                        });
                                        $("#jump_right").click(function () {
                                            $('#div_table_data').scrollLeft($('#div_table_data').scrollLeft() + (50 * 7)); // 1 week
                                        });
                                    });
                                </script>


                                <div class="row">
                                    <div class="table-main">
                                        <div id="div_table_left" class="table-left table-left-collapsed">
                                            <!--<label class="toggle-collaps" id="toggle_collapse">►</label> -->
                                            <table id="table_left" class="" style="overflow-y:hidden; ">
                                                <thead>
                                                    <tr>
                                                        <th ><input type="checkbox" id="ckbx_select_all" name="" onclick="checkAllRows()" /></th>
                                                        <th ><span class="glyphicon glyphicon-star-empty font-13"></span></th>
                                                        <th ><span class="glyphicon glyphicon-remove font-13"></span></th>
                                                        <th ><span class="glyphicon glyphicon-edit font-13"></span></th>
                                                        <th >Channel</th>
                                                        <th >Advertisement</th>
                                                        <th >Lan</th>
                                                        <th >Dur</th>
                                                        <th >Rev.<br/> Line</th>
                                                        <th >Start Time</th>
                                                        <th >End Time</th>
                                                        <th >#</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbody_left">
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="div_table_data" class="scroll table-data table-data-expanded">
                                            <table id="table_data" class="table table-responsive table-bordered table-workorder special-table">
                                                <thead>
                                                    <tr>
                                                        <th>header</th><th>header</th><th>header</th><th>header</th><th>header</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbody_data">
                                                    <tr>
                                                        <td>cell</td><td>cell</td><td>cell</td><td>cell</td><td>cell</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <h5>&nbsp;</h5>
                                    <div class="form-group">
                                        <div class="control-label col-sm-3">
                                            <!--button style="margin-top:-5px; width: 140px !important;" type="submit" class="btn btn-default add_channel save" onclick="copyRows()">Copy</button-->
                                        </div>
                                        <div class="control-label col-sm-2">
                                            <!--button style="margin-top:-5px; width: 140px !important;" type="submit" class="btn btn-default add_channel save" onclick="copyWOData()">Copy Left</button-->
                                        </div>
                                        <label class="control-label col-sm-4" for="end_date:"></label>
                                        <div class="control-label col-sm-3">
                                            <!--button style=" margin-right: -11px !important; margin-top:-5px;" class="btn btn-default add_channel save" type="button" onclick="saveData()" >Save Schedule</button-->
                                        </div>
                                    </div>
                                    <h5>&nbsp;</h5>
                                </div>

                                <div id = "loading" class="ui-loader-background"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--########################## style="margin-top: 950px;" -->
            </div>
            <nav class="navbar navbar-inverse sub">
                <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
            </nav>
        </div>
        <div id='msg_info'></div>
    </body>
</html>
