<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">

    <title>Schedule Home</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style-refactor.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datatables.net-dt/css/jquery.dataTables.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/css/bootstrap-select.min.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/datatables.net/js/jquery.dataTables.js}"/>

    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/scheduleHome.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/js/bootstrap-select.min.js}"/>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/js/i18n/defaults-en_US.min.js}"/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: scheduler-menu-bar"/>
</div>

<!--########################## -->
<div id="schedule-home-main-div" class="container">
    <div class="col-md-1"/>
    <div class="col-md-12 content_area">
        <div class="well header_well">
            <p class="header_well_pa">Current Work Orders</p>
        </div>
        <div class="modal-body " style="padding-left: 0px; padding-right: 0px;">
            <div  class="well middle_well_workorder wrapper-div">
                <div class="row p-b-20">
                    <div class="col-sm-7 col-md-7 col-lg-7"></div>
                    <div class="col-sm-1 col-md-1 col-lg-1"><div class="col-sm-3 col-md-3 col-lg-3 square closed-work-order-color"></div><div class="col-sm-9 col-md-9 col-lg-9">Closed</div></div>
                    <div class="col-sm-1 col-md-1 col-lg-1"><div class="col-sm-3 col-md-3 col-lg-3 square suspend-work-order-color"></div><div class="col-sm-9 col-md-9 col-lg-9">Suspended</div></div>
                    <div class="col-sm-3 col-md-3 col-lg-3"><div class="col-sm-1 col-md-1 col-lg-1"></div><div class="col-sm-3 col-md-3 col-lg-3 square budget-missed-match-color"></div><div class="col-sm-8 col-md-8 col-lg-8">Budget Mismatch</div></div>
                </div>

                <div class="row">
                    <div class="form-group">

                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-workOrder-id">Work Order ID</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                <input type="number" class="form-control" id="txt-workOrder-id" name="txt-workOrder-id" value=""/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-agent">Agent</label>
                            <div id="drp-agent" class="control-label col-sm-8 col-md-8 col-lg-8">
                                <!-- <input type="text" class="form-control" id="txt-agent" name="txt-agent" value="">
                                 <span class="help-block"></span>-->
                                <select id="txt-agent" name="txt-agent" class="form-control">
                                    <option value="-1">Select Agent</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-client">Client</label>
                            <div id="drp-client" class="control-label col-sm-8 col-md-8 col-lg-8">
                                <!--<input type="text" class="form-control" id="txt-client" name="txt-client" value="">
                                <span class="help-block"></span>-->
                                <select id="txt-client" name="txt-client" class="form-control">
                                    <option value="-1">Select Client</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-product">Product</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                <input type="text" class="form-control" id="txt-product" name="txt-product" value=""/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">

                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-schedule-ref">Schedule Reference</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                <input type="text" class="form-control" id="txt-schedule-ref" name="txt-schedule-ref" value=""/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-me">ME</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                <select id="txt-me" name="txt-me" class="form-control">
                                    <option value="">Select ME</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-start">Start</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                <div id="div-start-date" class="input-append">
                                    <div class="input-group">
                                        <input id="txt-start" name="txt-start" data-format="yyyy-MM-dd" class="form-control" type="text"/>
                                        <span class="add-on input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-end">End</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                <div id="div-end-date" class="input-append">
                                    <div class="input-group">
                                        <input id="txt-end" name="txt-end" data-format="yyyy-MM-dd" class="form-control" type="text"/>
                                        <span class="add-on input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">

                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-modify-date">Modify Date</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                <div id="div-modify-date" class="input-append">
                                    <div class="input-group">
                                        <input id="txt-modify-date" name="txt-modify-date" data-format="yyyy-MM-dd" class="form-control" type="text"/>
                                        <span class="add-on input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="txt-status">Status</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8"><div class="dropdown">
                                <select id="txt-status" name="txt-status" class="form-control" >
                                    <option value="select">Select status</option>
                                    <option value="Initial">Initial</option>
                                    <option value="IncompleteSchedule">Incomplete Schedule</option>
                                    <option value="CompleteSchedule">Complete schedule</option>
                                    <option value="Revised">Revised</option>
                                    <option value="Hold">Hold</option>
                                    <option value="CompleteAiring">Complete Airing</option>
                                    <option value="CompleteInvoicing">Complete Invoicing</option>
                                    <option value="PaymentDone">Payment Done</option>
                                </select>
                            </div>
                            </div>
                        </div>

                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4"></label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                <button type="button" onclick="clearFilter()" class="btn btn_color" id="btn-clear" >Clear</button>
                            </div>
                        </div>

                        <div class="control-label col-sm-3 col-md-3 col-lg-3">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4"></label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-8">
                                <button type="submit" class="btn btn_color" id="btn-search" >Search</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" >
                    <table id="tb-all-schedules" class="table table-responsive table-workorder cell-border">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Agent</th>
                            <th>Client</th>
                            <th>Product</th>
                            <th>Schedule Reference</th>
                            <th>ME</th>
                            <th>Spot Count</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Modify Date</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <!--########################## -->

    <!--########################## -->
    <div class="col-md-1"/>
    <!--########################## -->
</div>
<!--End content area-->
<h1/>
<nav  class="navbar navbar-inverse sub footer">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>

</body>
</html>
