<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>Update work order</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/progress_bar.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/video_upload/vanilla.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/video_upload/vendor/jquery.ui.widget.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/video_upload/jquery.iframe-transport.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/video_upload/jquery.fileupload.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/video_upload/uploadfunction.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/updateWorkOrder.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/attachmentProcess.js}"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/css/bootstrap-select.min.css}"/>

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrapselect/js/bootstrap-select.min.js}"/>

    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"></script>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}" >
                <img th:src="@{/assets-__${applicationVersion}__/dist/img/logo.png}" class="logo-img"/>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-left"/>
        <ul>
            <a>
                <div onclick="ChangeProfile()" class="logout_image"/>
                <div id="user_name_div" class="logout">
                    <span sec:authentication="name"/>
                </div>
            </a>
        </ul>
    </div>
</nav>

<nav  class="navbar navbar-inverse sub">
    <div class="container-fluid ">
        <ul class="nav navbar-nav navbar-left">
            <li class="nav_stn"><a th:href="@{/workorder}">Work Orders</a></li>
            <li class="nav_stn"><a th:href="@{/workorder/create}">New Work Order</a></li>
        </ul>
        <form th:action="@{/logout}" id="log-out-form" method="POST">
            <i class="fa fa-sign-out" aria-hidden="true"/>
            <a class="logout_tag" href="javascript:$('#log-out-form').submit();">Log Out</a>
        </form>
    </div>
</nav>

<div class="container">
    <div class="col-md-1"/>

    <!--<div style="height:1200px; !important" class="col-md-10 content_area">-->
    <div style="height:100%; !important" class="col-md-10 content_area">
        <button type="button" class="btn btn-default pull-right getHistoryDetails" data-toggle="modal" data-target="#workOrderHistory" onclick="getHistoryDetails()">
            <span class="glyphicon glyphicon-time"></span>
        </button>
        <div class="well header_well">
            <p class="header_well_pa">Update Work Order</p>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="well middle_well">
                    <div class="col-md-12 c-content">
                        <form id="new_workOrder_form" role="form">

                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms" for="txt_wo_id">WO ID</label>
                                <div class="control-label col-sm-8 col-md-8 col-lg-9 input_width">
                                    <input type="text" class="form-control" id="txt_wo_id" name="workOrderName" value="" readonly="true"/>
                                    <span class="help-block"></span>
                                </div>
                                <!--<label class="control-label col-sm-1 col-md-1 col-lg-1" for="client_main_table:"></label>-->
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms" for="agency">Marketing Ex</label>
                                <div class="control-label col-sm-8 col-md-8 col-lg-9 input_width" id ="user_drop">
                                    <div class="dropdown">
                                        <select id="user_name" name="wo_type" class="form-control" >
                                            <option value="">Select Marketing Ex</option>
                                            <option value="Nalaka">Nalaka</option>
                                            <option value="Sanira">Sanira</option>
                                        </select>
                                    </div>
                                    <span class="help-block"></span>
                                </div>
                                <!--<label class="control-label col-sm-1 col-md-1 col-lg-1" for="client_main_table:"></label>-->
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms" for="agency">WO type</label>
                                <div class="control-label col-sm-8 col-md-8 col-lg-9 input_width" id ="wo_type">
                                    <div class="dropdown">
                                        <select id="wo_type_Dropdown" name="wo_type" class="form-control" >
                                            <option value="">Select WO type</option>
                                            <option value="General">General</option>
                                            <option value="Trading">Trading</option>
                                            <option value="Contra">Contra</option>
                                        </select>
                                    </div>
                                    <span class="help-block"></span>
                                </div>
                                <!--<label class="control-label col-sm-1 col-md-1 col-lg-1" for="client_main_table:"></label>-->
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms" for="txt_schedule_ref">Schedule Ref</label>
                                <div class="control-label col-sm-8 col-md-8 col-lg-9 input_width">
                                    <input type="text" class="form-control" id="txt_schedule_ref" name="workOrderName" value="" required="" title="Please enter Schedule ref no." placeholder=""/>
                                    <span class="help-block"></span>
                                </div>
                                <!--<label class="control-label col-sm-1 col-md-1 col-lg-1" for="client_main_table:"></label>-->
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms" for="product-name:">Product</label>
                                <div class="control-label col-sm-8 col-md-8 col-lg-9 input_width">
                                    <input type="text" class="form-control" id="product-name" name="workOrderName" value="" required="" title="Please enter Product Name" placeholder=""/>
                                    <span class="help-block"></span>
                                </div>
                                <!--<label class="control-label col-sm-1 col-md-1 col-lg-1" for="client_main_table:"></label>-->
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms" >Invoice Type</label>
                                <div class="radio">
                                    <label class="control-label col-sm-2 col-md-2 col-lg-2 radio_lable" ><input name="one" id="commison_15" type="radio" checked="checked" value="15"/>15%</label>
                                    <label class="control-label ccol-sm-2 col-md-2 col-lg-2 radio_lable" ><input name="one" id="commison_0" type="radio" value="0"/>0%</label>
                                    <label class="control-label col-sm-2 col-md-2 col-lg-2 radio_lable" ><input name="two" id="client_radio" onclick="ClientClick(this.value);" type="radio" checked="checked" value="1"/>Agency</label>
                                    <label class="control-label ccol-sm-2 col-md-2 col-lg-2 radio_lable" ><input name="two" id="direct_client_radio" onclick="ClientClick(this.value);" type="radio" value="2"/>Direct Client</label>
                                </div>
                                <!--<label class="control-label col-sm-2 col-md-2 col-lg-2 radio_lable" ></label>-->
                            </div>

                            <label class="control-label col-sm-12 col-md-12 col-lg-12" ></label>

                            <div id="client_div"> <!--  generate_by_js-->
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms" for="agency">Agency</label>
                                    <div class="control-label col-sm-8 col-md-8 col-lg-9 input_width" id ="agency">
                                        <div class="dropdown">
                                            <select id="agencyDropdown" name="clientName" class="form-control" >
                                                <option value="-1">Select Client</option>
                                                <option value="0">client-1</option>
                                                <option value="0">client-2</option>
                                            </select>
                                        </div>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms" for="client">End client</label>
                                    <div class="control-label col-sm-8 col-md-8 col-lg-9 input_width" id ="client">
                                        <div class="dropdown">
                                            <select id="clientDropdown" name="clientName" class="form-control">
                                                <option value="-1">Select Client</option>
                                                <option value="0">client-1</option>
                                                <option value="0">client-2</option>
                                            </select>
                                        </div>
                                        <span class="help-block"></span>
                                    </div>
                                    <!--<label class="control-label col-sm-1 col-md-1 col-lg-1" for="client_main_table:"></label>-->
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms" for="client">Billing Client</label>
                                <div class="control-label col-sm-8 col-md-8 col-lg-9 input_width" id ="billing_client">
                                    <div class="dropdown">
                                        <select id="billClientDropdown" name="clientName" class="form-control">
                                            <option value="-1">Select Client</option>
                                            <option >client-1</option>
                                            <option >client-2</option>
                                        </select>
                                    </div>
                                    <span class="help-block"></span>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms" for="timePeriad">Time Period</label>

                                <div class="control-label col-md-5">
                                    <div style="width:300px;" id="form-date" class="input-append">
                                        <div class="input-group">
                                            <span class="input-group-addon">from</span>
                                            <input id="fromDate" name="startDate" data-format="yyyy-MM-dd" class="form-control" type="text"/>
                                            <span class="add-on input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                    </span>
                                        </div>
                                    </div>
                                    <span class="help-block"></span>
                                </div>

                                <div class="control-label col-md-5">
                                    <div style="width:300px;  margin-left: -6px;" id="to-date" class="input-append">
                                        <div class="input-group">
                                            <span class="input-group-addon">to  </span>
                                            <input id="toDate" name="endDate" data-format="yyyy-MM-dd" class="form-control" type="text"/>
                                            <span class="add-on input-group-addon">
                                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"/>
                                            </span>
                                        </div>
                                    </div>
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms" for="revenue-month">Revenue mo:</label>
                                <div class="control-label col-sm-8 col-md-8 col-lg-9 input_width">
                                    <div class="dropdown">
                                        <select id="revenue-month" name="revenue-month" class="form-control" >
                                            <option value="">Select revenue month</option>
                                            <option value="January">January</option>
                                            <option value="February">February</option>
                                            <option value="March">March</option>
                                            <option value="April">April</option>
                                            <option value="May">May</option>
                                            <option value="June">June</option>
                                            <option value="July">July</option>
                                            <option value="August">August</option>
                                            <option value="September">September</option>
                                            <option value="October">October</option>
                                            <option value="November">November</option>
                                            <option value="December">December</option>
                                        </select>
                                    </div>
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms" for="txt_total_budget">Total budget</label>
                                <div class="control-label col-sm-8 col-md-8 col-lg-9 input_width">
                                    <input type="text" class="form-control" id="txt_total_budget" name="totalBudget" value="" required="" onkeyup="setBudgetAfterValidation(this.value);" onchange="setBudget(this.value);" onclick="onclickTotalBudgetTxt(this.value)" title="Please enter Product Name" placeholder="" readonly="true"/>
                                    <span class="help-block"></span>
                                </div>
                                <label class="control-label col-sm-1 col-md-1 col-lg-1" for="client_main_table:"></label>
                            </div>

                            <div class="col-md-12">
                                <div class="row">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms" for="advert">Advertisements</label>
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4 lable_forms" style="width:inherit" id="lbl_advert_count">0 Advertisements</label>
                                    <label class="control-label col-sm-1 toggle-collaps-advertlist_wo" id="toggle_advetlist_collapse" onclick="advetListCollapse(this);">&#x25BC;</label>
                                    <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                        <button style="margin-top:2px; width: 60px !important;" type="button" class="btn btn-default" data-toggle="modal" data-target="#addAdvertisementModal">Add</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" id="advert_list_table">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10" style="margin-left:10px">
                                    <div id="advert_main_table_div" class="table">
                                        <table style="margin-top: 12px;  margin-left: 25px;" id="advert_main_table" class="table table-bordered table-workorder">
                                            <thead>
                                            <tr>
                                                <th>Cut ID</th>
                                                <th>Cut name</th>
                                                <th>Lan</th>
                                                <th>Dura</th>
                                                <th>Type</th>
                                                <th>Modify Date</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>

                            <div class="col-md-12"></div>

                            <div class="col-md-12">
                                <div class="row">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms">Attachments</label>
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4 lable_forms" style="width:147px" id="lbl_attachments_count">0 Attachments</label>
                                    <label class="control-label col-sm-1 toggle-collaps-advertlist_wo" id="toggle_attachmentlist_collapse" onclick="attachmentsListCollapse(this);">&#x25BC;</label>
                                    <div class="control-label col-sm-3 col-md-3 col-lg-3">
                                        <button style="margin-top:2px; width: 60px !important;" type="button" class="btn btn-default" onclick="attachmentView()">Add</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div id="attachment_table_div" class="table">
                                    <table style="margin-top: 12px;  margin-left: 125px;" id="attachment_table" class="table table-bordered table-workorder">
                                        <thead>
                                        <tr>
                                            <th>File</th>
                                            <th>Person</th>
                                            <th>Date and Time</th>
                                            <th>Description</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                            <div class="row col-sm-12 form-group" style="margin-top:10px">
                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms" for="comment">Comments</label>
                                <div class="control-label ccol-sm-8 col-md-8 col-lg-9 input_width">
                                    <textarea rows="3" cols="50" class="form-control" id="comment" name="comment" required="" title="Please enter comment" placeholder=""></textarea>
                                    <span class="help-block"></span>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms" for="manual-status">Status:</label>
                                <div class="control-label col-sm-8 col-md-8 col-lg-9 input_width">
                                    <div class="dropdown">
                                        <select id="manual-status" name="manual-status" class="form-control" >
                                            <option value=""></option>
                                            <option value="Initial">Initial</option>
                                            <option value="Revised">Revised</option>
                                            <option value="Hold">Hold</option>
                                            <option value="PaymentDone">Payment Done</option>
                                        </select>
                                    </div>
                                    <span class="help-block"></span>
                                </div>
                                <label class="control-label col-sm-1 col-md-1 col-lg-1" for="client_main_table:"></label>
                            </div>
                            <h3></h3>
                        </form>
                    </div>

                    <p class="header_well_pa2">Channel Details</p>
                    <div class="col-md-5 channel" id="divChannelDetails">
                        <div class="col-md-9">

                            <div class="col-md-2">
                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_bottom" for="client">Channel:</label>
                            </div>

                            <div class="col-md-10" id="channelList">
                                <select id="channelDropdown" name="channelName" onchange="changeChannels(this.value)" class="form-control middle_select">
                                    <option value="-1">Select channel</option>
                                    <option value="-1">Select channel-1</option>
                                    <option value="-1">Select channel-2</option>
                                    <option value="1">1</option>
                                </select>
                            </div>

                            <!--######-->
                            <div class="col-md-12">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox chech_bonus">
                                        <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_bottom_special" >
                                            <input type="checkbox" class="check_bonus"  id="visible" value="" checked=""/>Bonus</label>
                                    </div>
                                </div>
                            </div>
                            <!--######-->

                            <!--######-->
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_bottom_mini" for="client">TVC</label>
                                </div>
                                <div class="col-md-4">
                                    <input id="txt_tvc_spots" placeholder="0" onkeyup="channelDetailsChanged(this.id);" onchange="channelDetailsChanged(this.id);" onclick="onclickTVCSpotCount()" type="text" class="form-control mini"  value="" readonly="true"/>
                                </div>
                                <div class="col-md-4">
                                    <input id="txt_tvc_spots_b" placeholder="0" onkeyup="channelDetailsChanged(this.id);" onchange="channelDetailsChanged(this.id);" onclick="onclickTVCSpotCountBonus()" type="text" class="form-control mini"  value="" readonly="true"/>
                                </div>
                            </div>
                            <!--######-->

                            <!--######-->
                            <div class="col-md-12 second">
                                <div class="col-md-3">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_bottom_mini2" for="client">Logo</label>
                                </div>
                                <div class="col-md-4">
                                    <input id="txt_logo_spots" placeholder="0" onkeyup="channelDetailsChanged(this.id);" onchange="channelDetailsChanged(this.id);" type="text" class="form-control mini"  value="" />
                                </div>
                                <div class="col-md-4">
                                    <input id="txt_logo_spots_b" placeholder="0" onkeyup="channelDetailsChanged(this.id);" onchange="channelDetailsChanged(this.id);" type="text" class="form-control mini"  value="" />
                                </div>
                            </div>
                            <!--######-->

                            <!--######-->
                            <div class="col-md-12 second">
                                <div class="col-md-3">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_bottom_mini2" for="client">Crawler</label>
                                </div>
                                <div class="col-md-4">
                                    <input id="txt_Crawler_spots" placeholder="0" onkeyup="channelDetailsChanged(this.id);" onchange="channelDetailsChanged(this.id);" type="text" class="form-control mini"  value="" />
                                </div>
                                <div class="col-md-4">
                                    <input id="txt_Crawler_spots_b" placeholder="0" onkeyup="channelDetailsChanged(this.id);" onchange="channelDetailsChanged(this.id);" type="text" class="form-control mini"  value="" />
                                </div>
                            </div>
                            <!--######-->

                            <!--######-->
                            <div class="col-md-12 second">
                                <div class="col-md-3">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_bottom_mini2" for="client">Vsqueeze</label>
                                </div>
                                <div class="col-md-4">
                                    <input id="txt_v_squeeze_spots" placeholder="0" onkeyup="channelDetailsChanged(this.id);" onchange="channelDetailsChanged(this.id);" type="text" class="form-control mini"  value="" />
                                </div>
                                <div class="col-md-4">
                                    <input id="txt_v_squeeze_spots_b" placeholder="0" onkeyup="channelDetailsChanged(this.id);" onchange="channelDetailsChanged(this.id);" type="text" class="form-control mini"  value="" />
                                </div>
                            </div>
                            <!--######-->

                            <!--######-->
                            <div class="col-md-12 second">
                                <div class="col-md-3">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_bottom_mini2" for="client">Lsqueeze</label>
                                </div>
                                <div class="col-md-4">
                                    <input id="txt_l_squeeze_spots" placeholder="0" onkeyup="channelDetailsChanged(this.id);" onchange="channelDetailsChanged(this.id);" type="text" class="form-control mini"  value="" />
                                </div>
                                <div class="col-md-4">
                                    <input id="txt_l_squeeze_spots_b" placeholder="0" onkeyup="channelDetailsChanged(this.id);" onchange="channelDetailsChanged(this.id);" type="text" class="form-control mini"  value="" />
                                </div>
                            </div>
                            <!--######-->

                            <!--######-->
                            <div class="col-md-12 second">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-9">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_bottom_mini22" for="client">Sub Total</label>
                                </div>
                            </div>
                            <!--######-->

                            <!--######-->
                            <div class="col-md-12 second">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-9">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3  lable_forms_bottom_mini22" for="client">30 Sec Spot value</label>
                                </div>
                            </div>
                            <!--######-->
                            <!--######-->
                            <div class="col-md-12 second">
                                <label class="control-label col-md-6 lable_model_forms" for="client">Total duration(sec.) : </label>
                                <div class="col-md-5">
                                    <input id="txt_TotalSeconds" placeholder="000" onkeyup="channelDetailsChanged(this.id);" onchange="channelDetailsChanged(this.id);" type="text" class="form-control mini" style="width:90px;" value="" readonly="true"/>
                                </div>
                            </div>
                            <!--######-->
                        </div>

                        <div class="col-md-3">
                            <label style="visibility:hidden;" class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_bottom" for="client">Visibility:</label>
                            <input style="visibility:hidden;" type="checkbox" class="check" value="" checked="" />
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_bottom_special2" for="client">Value</label>

                            <input id="txt_tvc_spots_packege" placeholder="000.00" onkeyup="channelDetailsChanged(this.id);" onchange="channelDetailsChanged(this.id);" type="text" class="form-control mini_value_second currency-input"  value="" />
                            <input id="txt_logos_spots_packege" placeholder="000.00" onkeyup="channelDetailsChanged(this.id);" onchange="channelDetailsChanged(this.id);" type="text" class="form-control mini_value_second currency-input"  value="" />
                            <input id="txt_crawler_spots_packege" placeholder="000.00" onkeyup="channelDetailsChanged(this.id);" onchange="channelDetailsChanged(this.id);" type="text" class="form-control mini_value_second currency-input"  value="" />
                            <input id="txt_v_squeeze_spots_packege" placeholder="000.00" onkeyup="channelDetailsChanged(this.id);" onchange="channelDetailsChanged(this.id);" type="text" class="form-control mini_value_second currency-input"  value="" />
                            <input id="txt_l_squeeze_spots_packege" placeholder="000.00" onkeyup="channelDetailsChanged(this.id);" onchange="channelDetailsChanged(this.id);" type="text" class="form-control mini_value_second currency-input"  value="" />
                            <input id="txt_package" placeholder="000.00" type="text" class="form-control mini_value_second currency-input"  value="" />
                            <input id="txt_average_package" placeholder="000.00" type="text" class="form-control mini_value_second currency-input"  value="" />

                            <button type="button" class="btn btn-default add_channel" onclick="addChannel()">Add</button>
                        </div>
                    </div>

                    <div class="col-md-5 channel">
                        <div class="col-md-9">
                            <div class="col-md-3 next">
                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms_bottom" for="client">Channel:</label>
                            </div>
                            <div class="col-md-9" id="selectedChannelList">
                                <select id="selected_ChannelDropdown" name="channelName" onchange="selectedChannelsChange(this.value)" class="form-control middle_select">
                                    <option value="-1">Select channel</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <button type="button" onclick="deleteChannel()" class="btn btn-default search">Delete</button>
                        </div>
                        <div class="col-md-9">
                            <label class="lable_forms_bottom_se" for="client">Channel Report</label>
                        </div>

                        <div id="selectedChannelDetails">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Spots</th>
                                    <th>Bonus</th>
                                    <th>Value(Rs)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>TVC</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td class="currency-input">000.00</td>
                                </tr>
                                <tr>
                                    <td>Logo</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td class="currency-input">000.00</td>
                                </tr>
                                <tr>
                                    <td>Crawler</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td class="currency-input">000.00</td>
                                </tr>
                                <tr>
                                    <td>V Squeeze</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td class="currency-input">000.00</td>
                                </tr>
                                <tr>
                                    <td>L Squeeze</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td class="currency-input">000.00</td>
                                </tr>
                                <tr>
                                    <td class="cspan" colspan="3"><label class="lable_forms_bottom_se cspan" for="client">Total value</label></td>
                                    <td class="currency-input">000.00</td>
                                </tr>
                                <tr>
                                    <td class="cspan2" colspan="3"><label class="lable_forms_bottom_se cspan" for="client">Average value</label></td>
                                    <td class="currency-input">000.00</td>
                                </tr>
                                <tr>
                                    <td class="cspan2" colspan="3"><label class="lable_forms_bottom_se cspan" for="client">Average value</label></td>
                                    <td class="currency-input">000.00</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-9" id="lbl_total_budget">
                            <label class="col-md-9 lbl_total_budget">Total budget : Used/Total</label>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-default search" onclick="channelSummery()" data-toggle="modal" data-target="#channelSummery">Summary</button>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-default pull-right add_channel save" onclick="updateWorkOrder()">Update</button>
                        <div id="suspend-and-resume-id">
                            <button id="btn-suspend-id" type="button" class="btn btn_inactive add admin_add" onclick="holdWo()">Suspend</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--End content area-->

<div class="modal fade" id="workOrderHistory" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="span-select2">History</p>
            </div>
            <div class="modal-body">
                <div class="form-group">

                    <div id="workOrderHistory_table_pop_div" class="table">
                        <table id="workOrderHistory_table_pop" class="table table-responsive table-bordered table-workorder">
                            <thead>
                            <tr>
                                <th class="col-md-1">Time</th>
                                <th class="col-md-2">Advertiment</th>
                                <th class="col-md-4">Old</th>
                                <th class="col-md-4">New</th>
                                <th class="col-md-1">User</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Add Advertisement Modal -->
<div class="modal fade" id="addAdvertisementModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="span-select2">Add Advertisement</p>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label col-sm-4 lable_forms" for="channal_list_pop:">Select Advertsement:</label>
                    <div class="control-label col-sm-4" id="advert_list_pop_div">
                        <select id="advertDropdown_pop" name="channelName" class="form-control">
                            <option id="1" value="-1">Select Advertisement</option>
                        </select>
                    </div>
                    <div class="control-label col-sm-4">
                        <button type="button" onclick="addAdvertisement()" class="btn btn-default sche_advert_add">Add</button>
                    </div>

                    <h1>&nbsp;</h1>

                    <div id="advertisement_table_pop_div" class="table">
                        <table id="advertisement_table_pop" class="table table-bordered table-workorder">
                            <thead>
                            <tr>
                                <th>Cut ID</th>
                                <th>Cut name</th>
                                <th>Lan</th>
                                <th>Dura</th>
                                <th>Type</th>
                                <th>Modify Date</th>
                                <th style="width:20px;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="saveAdvertisements()" class="btn btn-block sche_advert_save">Save</button>
            </div>
        </div>
    </div>
</div>
<!--Add Advertisement Modal -->

<!--Spot Calculator Modal -->
<div class="modal fade" id="spotcount_view_popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="span-select2">Slot Calculator</p>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="control-label col-md-12">
                        <div class="col-md-12" >
                            <label class="control-label col-md-3 lable_model_forms">Ad duration(sec.): </label>
                            <div class="col-md-2">
                                <input id="txt_duration" placeholder="0" onkeyup="numberValidation_el(this);" onchange="numberValidation_el(this);" type="text" class="form-control mini"  value=""/>
                            </div>
                            <label class="control-label col-md-1 lable_model_forms">Spots : </label>
                            <div class="col-md-2">
                                <input id="txt_spots" placeholder="0" onkeyup="numberValidation_el(this);" onchange="numberValidation_el(this);" type="text" class="form-control mini"  value=""/>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" onclick="addSpotCount()" class="btn  col-md-10 btn-default btn_model_forms">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group" style="padding-left: 50px;">
                    <div class="control-label col-md-12">
                        <table id="tblSpotCount" class="table" style="font-size: 13px;">
                            <thead class="tb_align_center">
                                <tr>
                                    <th>Duration (sec.)</th>
                                    <th>Slot Count</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="control-label col-md-12">
                        <label class="control-label col-md-3 lable_model_forms">Total Remaining (Sec)</label>
                        <label class="control-label col-md-1 lable_model_forms" style="text-align:center">:</label>
                        <label class="control-label col-md-8 lable_model_forms" style="text-align:left" id="lbl_TotalRemainCount">0 </label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="control-label col-md-12">
                        <label class="control-label col-md-3 lable_model_forms">Total</label>
                        <label class="control-label col-md-1 lable_model_forms" style="text-align:center">:</label>
                        <label class="control-label col-md-6 lable_model_forms" style="text-align:left" id="lbl_TotalCount">0 </label>
                        <div class="col-md-2">
                            <button type="button" onclick="saveSpotCount()" class="btn btn-block sche_advert_save" style="margin-right:50px !important;margin-top: 6px;">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!--Spot Calculator Modal -->

<!--Channel summery Modal -->
<div class="modal fade" id="channelSummery" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="span-select2">Channel summary</p>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div id="channel_summery_table_pop_div" class="table">
                        <table id="channel_summery_table_pop" class="table table-bordered table-workorder">
                            <thead>
                            <tr>
                                <th>Channel</th>
                                <th>Type</th>
                                <th>Duration</th>
                                <th>Spot</th>
                                <th>Bonus</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <h1>&nbsp;</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Channel summery Modal -->

<!--Budget Calculator Modal -->
<div class="modal fade" id="budgetplan_view_popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="span-select2">Budget Calculator</p>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="control-label col-md-12">
                        <div class="col-md-12" >
                            <label class="control-label col-md-5 lable_model_forms">Total Budget (Without Tax)</label>
                            <label class="control-label col-md-1 lable_model_forms"> : </label>
                            <div class="col-md-5">
                                <input id="txt_WithoutTax" placeholder="000.00" onkeyup="txt_WOTaxChanged()" onchange="txt_WOTaxChanged();" type="text" class="form-control" style="height:28px;margin-top:5px;" value=""/>
                            </div>
                        </div>
                        <div class="col-md-12" >
                            <label class="control-label col-md-5 lable_model_forms">Commission</label>
                            <label class="control-label col-md-1 lable_model_forms"> : </label>
                            <label class="control-label col-md-1 lable_model_forms" id="lbl_Commission">0%</label>
                        </div>
                        <div class="col-md-12" >
                            <label class="control-label col-md-5 lable_model_forms">NBT</label>
                            <label class="control-label col-md-1 lable_model_forms"> : </label>
                            <label class="control-label col-md-1 lable_model_forms" id="lbl_NBT">0%</label>
                        </div>
                        <div class="col-md-12" >
                            <label class="control-label col-md-5 lable_model_forms">VAT</label>
                            <label class="control-label col-md-1 lable_model_forms"> : </label>
                            <label class="control-label col-md-1 lable_model_forms" id="lbl_VAT">0%</label>
                        </div>
                        <div class="col-md-12" >
                            <label class="control-label col-md-5 lable_model_forms">Telecommunication Levy</label>
                            <label class="control-label col-md-1 lable_model_forms"> : </label>
                            <label class="control-label col-md-1 lable_model_forms" id="lbl_TeleLevy">0%</label>
                        </div>
                        <div class="col-md-12" >
                            <label class="control-label col-md-5 lable_model_forms">Other Government Levy</label>
                            <label class="control-label col-md-1 lable_model_forms"> : </label>
                            <label class="control-label col-md-1 lable_model_forms" id="lbl_OtherLevy">0%</label>
                        </div>
                        <div class="col-md-12" >
                            <label class="control-label col-md-5 lable_model_forms">Total Budget (With Tax)</label>
                            <label class="control-label col-md-1 lable_model_forms"> : </label>
                            <div class="col-md-5">
                                <input id="txt_WithTax" placeholder="000.00" onkeyup="txt_WithTaxChanged();" onchange="txt_WithTaxChanged();" type="text" class="form-control" style="height:28px;margin-top:5px;"  value=""/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="control-label col-md-9 lable_model_forms"></label>
                            <div class="col-md-3">
                                <button type="button" onclick="setTotalBudget()" class="btn btn-block sche_advert_save" style="margin-right:50px !important;margin-top: 6px;">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!--Budget Calculator Modal -->

<!--Attachment Modal-->
<div class="modal fade" id="attachment_view_popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="span-select2">Attachments</p>
            </div>
            <div class="modal-body">
                <div class="row form-group" style="padding-left: 50px;">
                    <div class="control-label col-md-12">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3" for="txt_description">Description</label>
                            <div class="control-label col-sm-8 col-md-8 col-lg-9">
                                <textarea type="text" class="form-control" id="txt_description" name="txt_description" value=""></textarea>
                                <span class="help-block"></span>
                            </div>
                            <label class="control-label col-sm-1 col-md-1 col-lg-1" for="client_main_table:"></label>
                        </div>
                    </div>
                    <div class="control-label col-md-12">
                        <table id="tblAttachments" class="table">
                            <thead class="tb_align_center"><tr><th>Id</th><th>Name</th><th>Type</th><th>Date</th><th></th><th></th></tr></thead>
                            <tbody>
                            </tbody>
                        </table>
                        <div id = "attachment_upload">
                            <div id="dropzone" class="control-label col-md-12">
                                <br/>
                                <div class="control-label col-md-12">
                                    <input id="fileupload" type="file" name="files[]"/>
                                    <span class="help-block"></span>
                                </div>
                                <div class="control-label col-md-3">
                                    <input class="btn btn-block btn_color advert_upload_size" type="button" id="btnUpload" value="Upload" onclick="processFileUpload()" />
                                    <span class="help-block"></span>
                                </div>
                                <div class="control-label col-md-8">
                                    <div id="progress" class="progress col-md-7" style="padding:0px;">
                                        <div class="bar" style="width: 0%;"></div>
                                    </div>
                                    <span id ="state" class="glyphicon upload_state col-md-1"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!--Attachment Modal-->
<nav  class="navbar navbar-inverse sub">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>
<div id='msg_info'></div>
<div id = "loading" class="ui-loader-background"></div>
</body>
</html>
