<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
    <head th:with="applicationVersion=${@environment.getProperty('application.version')}">
        <title>ZeroAds</title>
        <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>

        <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
        <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>

        <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
        <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
        <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>
        <script th:src="@{/assets-__${applicationVersion}__/js/zeroadsSetting.js}"/>

    </head>
    <body  th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <div id="includedMenubar">
        <th:block th:include="common-components :: scheduler-menu-bar"/>
    </div>
    <div class="container">

        <div style="height:700px; !important" class="col-md-12 content_area">
            <div style="width: 105%; margin-left: -23px;" class="well header_well">
                <p class="header_well_pa font-A">ZeroAds Setting</p>
            </div>
            <div class="modal-body">
                <div class="row fullwith">
                    <div style="height:630px; width: 105%; margin-left: -23px;" class="well middle_well_workorder wrapper-div">
                        <!--Channel_ads_map table-->
                        <div id="dataTable">
                            <table id="tbl_zero_ads_setting" class="table table-bordered table-workorder">

                            </table>
                        </div>
                        <!--Buttons dive-->
                        <div class="row-fluid p-t-10">
                            <button type="button" onclick="saveMap()" class="btn buttons font-A-14">Save</button>
                         </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav  class="navbar navbar-inverse sub">
        <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
    </nav>
    <div id='msg_info'></div>
    <div id = "loading" class="ui-loader-background"></div>
    </body>
</html>
