<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
    <head th:with="applicationVersion=${@environment.getProperty('application.version')}">
        <title>ZeroAds</title>
        <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

        <!--<link rel="stylesheet" href="bootstrap_3.3.6/dist/css/bootstrap.min.css">-->
        <!--<link rel="stylesheet" href="css/style.css">-->
        <!--<link rel="stylesheet" href="css/vcl_styles.css">-->
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datatables.net-dt/css/jquery.dataTables.css}"/>

        <!--<script src="js/1.11.3/jquery.min.js"></script>-->
        <!--<script src="bootstrap_3.3.6/dist/js/bootstrap.min.js"></script>-->
        <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
        <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
        <script th:src="@{/assets-__${applicationVersion}__/bower_components/datatables.net/js/jquery.dataTables.js}"/>

        <!--<script src="js/utils.js"></script>-->
        <!--<script src="js/validation.js"></script>-->
        <!--<script src="js/zeroads.js"></script>-->

        <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
        <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
        <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>
        <script th:src="@{/assets-__${applicationVersion}__/js/zeroads.js}"/>
        <style>
         .dataTables_wrapper {
            position: relative;
            clear: both;
            zoom: 1;
            padding: 20px !important;
            padding:;
         }
        </style>
    </head>
    <body  th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <div id="includedMenubar">
        <th:block th:include="common-components :: scheduler-menu-bar"/>
    </div>
        <div class="container">

            <div style="height:700px; !important" class="col-md-12 content_area">
                <div style="width: 105%; margin-left: -23px;" class="well header_well">
                    <p class="header_well_pa font-A">ZeroAds</p>
                </div>
                <div class="modal-body">
                    <div class="row fullwith">
                        <div style="height:630px; width: 105%; margin-left: -23px;" class="well middle_well_workorder wrapper-div">
                            <!--Channel_ads_map table-->
                            <div id="dataTable">
                                <table id="tbl_zero_ads" class="table table-bordered table-workorder">

                                </table>
                            </div>
                            <!--Buttons dive-->
                            <div class="row-fluid p-t-10">
                                <button type="button" onclick="saveMap()" class="btn buttons font-A-14">Save</button>
                                <button type="button" onclick="" class="btn buttons font-A-14" data-toggle="modal" data-target="#addAdvertisement">New ads</button>
                                <button type="button" onclick="" class="btn buttons font-A-14" style="width:110px !important;" data-toggle="modal" data-target="#addChannel">New Channel</button>
                                <button type="button" onclick="getDropDownData()" class="btn buttons font-A-14" data-toggle="modal" data-target="#copyChannel">Copy channel</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Copy channel Modal -->
        <div class="modal fade" id="copyChannel" role="dialog">
            <div class="modal-dialog ">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"> <p class="span-select2 font-A">Copy Channel</p></h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                <label class="control-label col-sm-2 label-r-weight">Copy</label>
                                <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                                <div class="control-label col-sm-5" id="original_advert_list_pop_div">
                                    <select id="cmb_copy_list"  class="form-control font-A-14">    
                                        <option value="-1">-Select-</option>
                                    </select>
                                </div>
                            </div>
                            <span class="help-block"></span>
                            <div class="row">
                                <label class="control-label col-sm-1 col-md-1 col-lg-1"></label>
                                <label class="control-label col-sm-2 label-r-weight">To</label>
                                <label class="control-label col-sm-1 col-md-1 col-lg-1">:</label>
                                <div class="control-label col-sm-5" id="original_advert_list_pop_div_2">
                                    <select id="cmb_to_list" class="form-control font-A-14">
                                        <option value="-1">Default Values</option>
                                    </select>
                                </div>                                                   
                            </div>
                            <span class="help-block"></span>
                            <div class="row">
                                <button type="button" onclick="copyChannel()" class="btn buttons" style="margin-right: 163px !important;">Copy</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Copy channel Modal -->

        <!--Add channel Modal -->
        <div class="modal fade" id="addChannel" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"> <p class="span-select2 font-A">Add Channel</p></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <table id="tbl_all_channel" class="table table-bordered table-workorder">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Channel</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="0_row">
                                        <td>1</td>
                                        <td>Color</td>
                                        <td><input type="checkbox" id="" name="checkbox" value="' + data[i].itemList[j].scheduleId + '~' + data[i].itemList[j].workOrderId + '" /></td>
                                    </tr>
                                    <tr id="1_row">
                                        <td>2</td>
                                        <td>Comady central</td>
                                        <td><input type="checkbox" id="" name="checkbox" value="' + data[i].itemList[j].scheduleId + '~' + data[i].itemList[j].workOrderId + '"/></td>
                                    </tr>
                                    <tr id="2_row">
                                        <td>3</td>
                                        <td>AXN</td>
                                        <td><input type="checkbox" id="" name="checkbox" value="' + data[i].itemList[j].scheduleId + '~' + data[i].itemList[j].workOrderId + '"/></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row p-t-10">
                            <button type="button" onclick="addOrRemoveChannel()" class="btn buttons" style="margin-right: 15px !important;">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Add channel Modal -->

        <!--Add Advertisement Modal -->
        <div class="modal fade" id="addAdvertisement" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"> <p class="span-select2 font-A">Add Advertisement</p></h4>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <label class="control-label col-sm-1 col-md-1 col-lg-1 font-A" for="txt_advertId">ID:</label>
                            <div class="form-group col-sm-2 col-md-2 col-lg-2">
                                <div class="input-group">
                                    <input id="txt_advertId" class="form-control pull-left font-A" type="text" name="to" value="" placeholder="Search"/>
                                </div>
                            </div>
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 font-A" for="txt_search">Advertisement name :</label>
                            <div class="form-group col-sm-3 col-md-3 col-lg-3">
                                <div class="input-group">
                                    <input id="txt_search" class="form-control pull-left font-A" type="text" name="to" value="" placeholder="Search"/>
                                </div>
                            </div>
                            <div class="form-group col-sm-3 col-md-3 col-lg-3">
                                <button type="button" onclick="advertNameChange()" class="btn buttons" style="margin-right: 15px !important;">Search</button>
                            </div>
                        </div>
                        <div class="row">
                            <table id="tbl_all_advert" class="table table-bordered table-workorder">
                            </table>
                        </div>
                        <div class="row p-t-10">
                            <button type="button" onclick="addAdvert()" class="btn buttons" style="margin-right: 15px !important;">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Add Advertisement Modal -->
        <nav  class="navbar navbar-inverse sub">
            <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
        </nav>
        <div id='msg_info'></div>
        <div id = "loading" class="ui-loader-background"></div>
    </body>
</html>
