<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta th:name="_applicationVersion" th:content="${@environment.getProperty('application.version')}"/>
    <meta th:name="_filePathSeparator" th:content="${@environment.getProperty('file.path.separator')}"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datatables.net-dt/css/jquery.dataTables.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- Bootstrap 3.3.7 -->
<!--
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/layout.css}"/>
-->

    <!-- iCheck 1.0.1 -->
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/plugins/iCheck/all.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/plugins/iCheck/square/green.css}"/>
    <!--Toastr-->
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/toastr/toastr.css}"/>

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css}" />
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap-daterangepicker/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}"/>

    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/plugins/timepicker/bootstrap-timepicker.min.css}"/>

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/font-awesome/css/font-awesome.min.css}"/>

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css-inventory/dialog-tv.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css-inventory/dialog-tv-temp.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/layout.css}"/><!--
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style-custom2.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>-->


    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css-inventory/progress-bar.css}"/>

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css-inventory/skins/_all-skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datatables.net-dt/css/jquery.dataTables.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap_3.3.6/multiselect/js/bootstrap-multiselect.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap_3.3.6/confirm/js/msc-script.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/lib/underscore-min.js}"></script>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/toastr/toastr.js}"></script>

    <!-- date-range-picker -->
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/moment/min/moment.min.js}"></script>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js}"></script>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap-daterangepicker/daterangepicker.js}"></script>
    <!-- bootstrap datepicker -->
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
    <!-- bootstrap time picker -->
    <script th:src="@{/assets-__${applicationVersion}__/plugins/timepicker/bootstrap-timepicker.min.js}"></script>
    <!-- iCheck 1.0.1 -->
    <script th:src="@{/assets-__${applicationVersion}__/plugins/iCheck/icheck.min.js}"></script>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <!--<script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"></script>-->
    <script th:src="@{/assets-__${applicationVersion}__/dist/js/fontawesome.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/assign-inventory.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>


</head>
<body th:with="applicationVersion=${@environment.getProperty('application.version')}">
<div id="includedMenubar">
    <th:block th:include="common-components :: admin-menu-bar"/>
</div>
<div th:fragment="content">
    <style type="text/css">
        .datepicker table tr td {
             border-radius: 0;
        }

        .navbar {
            border: 0px solid transparent;
        }

        .navbar-nav > li {
            margin-right: 0px;
            border-radius: 0px;
        }

        .navbar-nav {
            margin: 0px !important;
            margin-top: 0px !important;
        }

        .navbar-nav > li > .dropdown-menu {
             background-color: #0000;
             border: 0 !important;
        }

        .dropdown-menu {
            background-color: #fff !important;
        }

    </style>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Assign Inventory</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form id="inventory-form"
                              th:object="${iContainer}" method="post" th:action="@{/inventory/save-inventory}">
                            <input type="hidden" th:field="*{overrideOperation}"/>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-7 col-md-7">
                                        <div class="form-horizontal">
                                            <!-- -->
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Channel</label>
                                                <div class="col-sm-4">
                                                    <select class="form-control" th:field="*{inventory.channel.channelid}">
                                                    <option th:each="channel : ${allChannels}"
                                                            th:value="${channel.channelid}"
                                                            th:text="${channel.shortname}"/>
                                                    </select>
                                                </div>
                                            </div>
                                            <hr/>
                                            <!-- -->
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    <label class="pull-right control-label">Date
                                                        Range</label>
                                                    <label class="pull-right p-a-10">
                                                        <input id="dr-radio" type="radio" name="containerType"
                                                               th:field="*{dateBased}" value="false"
                                                               class="radio icheck"/>
                                                    </label>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="input-group date">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <input type="text" class="form-control"
                                                               data-format="yyyy-MM-dd" readonly="true"
                                                               th:field="*{fromDate}" placeholder="From Date"/>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="input-group date">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <input type="text" class="form-control" readonly="true"
                                                               data-format="yyyy-MM-dd"
                                                               placeholder="To Date"
                                                               th:field="*{toDate}"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label class="pull-right control-label ">Su</label>
                                                    <label class="pull-right p-y-10 p-r-10">
                                                        <input id="cb-sunday" type="checkbox" th:field="*{inventoryWeek.sunday}"
                                                               class="checkbox icheck"/>
                                                    </label>
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="col-sm-2">
                                                        <label class="pull-right control-label ">Mo</label>
                                                        <label class="pull-right p-y-10 p-r-10">
                                                            <input type="checkbox"  id="cb-monday"
                                                                   th:field="*{inventoryWeek.monday}"
                                                                   class="checkbox icheck"/>
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label class="pull-right control-label ">Tu</label>
                                                        <label class="pull-right p-y-10 p-r-10">
                                                            <input type="checkbox"  id="cb-tuesday"
                                                                   th:field="*{inventoryWeek.tuesday}"
                                                                   class="checkbox icheck"/>
                                                        </label>
                                                    </div>

                                                    <div class="col-sm-2">
                                                        <label class="pull-right control-label ">We</label>
                                                        <label class="pull-right p-y-10 p-r-5">
                                                            <input type="checkbox"  id="cb-wednesday"
                                                                   th:field="*{inventoryWeek.wednesday}"
                                                                   class="checkbox icheck"/>
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label class="pull-right control-label ">Th</label>
                                                        <label class="pull-right p-y-10 p-r-10">
                                                            <input type="checkbox"  id="cb-thursday"
                                                                   th:field="*{inventoryWeek.thursday}"
                                                                   class="checkbox icheck"/>
                                                        </label>
                                                    </div>

                                                    <div class="col-sm-2">
                                                        <label class="pull-right control-label ">Fr</label>
                                                        <label class="pull-right p-y-10 p-r-10">
                                                            <input type="checkbox"  id="cb-friday"
                                                                   th:field="*{inventoryWeek.friday}"
                                                                   class="checkbox icheck"/>
                                                        </label>
                                                    </div>

                                                    <div class="col-sm-2">
                                                        <label class="pull-right control-label ">Sa</label>
                                                        <label class="pull-right p-y-10 p-r-10">
                                                            <input type="checkbox" id="cb-saturday"
                                                                   th:field="*{inventoryWeek.saturday}"
                                                                   class="checkbox icheck"/>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr/>
                                            <!-- -->
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    <label class="pull-right control-label">Date</label>
                                                    <label class="pull-right p-a-10">
                                                        <input id="d-radio" type="radio" name="containerType"
                                                               th:field="*{dateBased}" value="true"
                                                               class="radio icheck"/>
                                                    </label>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="input-group date">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <input type="text" class="form-control" disabled="true"
                                                               data-format="yyyy-MM-dd" readonly="true"
                                                               th:field="*{date}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4">

                                                </div>
                                                <div class="col-sm-3">
                                                    <button type="submit" class="btn btn-primary">
                                                        <i class="fa fa-dot-circle-o p-r-5" aria-hidden="true"></i>
                                                        ASSIGN AN INVENTORY
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-5 col-md-4">
                                        <div id="selectedDateRange"/>
                                        <div class="p-t-10">
                                            <div class="col-md-6">
                                                <i class="fa fa-circle green font-30  p-r-5" aria-hidden="true"></i> New Inventory
                                            </div>
                                            <div class="col-md-6">
                                                <i class="fa fa-circle orange font-30 p-r-5" aria-hidden="true"></i> Exist Inventory
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <!-- Schedule -->
                            <div class="p-y-20">
                                <div class="table-main" id="inventory-table-main">
                                    <div id="div_table_left" class="table-left table-left-collapsed">
                                        <!--<label class="toggle-collaps" id="toggle_collapse">►</label> -->
                                        <table id="table_left" class="" style="overflow-y:hidden; ">
                                            <thead>
                                            <tr>
                                                <th  class="l-t-time" style="height: 58px;">Time Belt</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tbody_left">
                                            <tr th:each="ir, rowStat : *{inventory.inventoryRows}">
                                                <td>
                                                    <p th:text="${#dates.format(ir.fromTime,  'HH:mm') +' - '+ #dates.format(ir.toTime,  'HH:mm')}"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>00:00 - 01:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>01:00 - 02:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>02:00 - 03:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>03:00 - 04:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>04:00 - 05:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>05:00 - 06:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>06:00 - 07:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>07:00 - 08:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>08:00 - 09:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>09:00 - 10:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>10:00 - 11:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>11:00 - 12:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>12:00 - 13:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>13:00 - 14:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>14:00 - 15:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>15:00 - 16:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>16:00 - 17:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>17:00 - 18:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>18:00 - 19:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>19:00 - 20:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>20:00 - 21:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>21:00 - 22:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>22:00 - 23:00</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>23:00 - 00:00</p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="p-l-40">
                                        <div id="div_table_data" class="scroll table-data table-data-expanded"
                                             style="width: calc(100% - 50px);">
                                            <table id="inventory-table_data"
                                                   class="table table-responsive table-bordered table-workorder special-table">
                                                <thead>
                                                <tr>
                                                    <th value="">
                                                        Clusters
                                                    </th>
                                                    <th value="">
                                                        Total<br/> TVC Dur(.min)
                                                    </th>
                                                    <th value="">
                                                        Web<br/> TVC Dur(%)
                                                    </th>
                                                    <th value="">
                                                        <span class="date-l">&#10094; 50%</span>
                                                    </th>
                                                    <th value="">
                                                        <span class="date-l">50%-80%</span>
                                                    </th>
                                                    <th value="">
                                                        <span class="date-l">80% &#10095;</span>
                                                    </th>
                                                    <th value="">
                                                        <span class="date-l">Total logo Spots</span>
                                                    </th>
                                                    <th value="">
                                                        <span class="date-l">Web logo Spots</span>
                                                    </th>
                                                    <th value="">
                                                        <span class="date-l">Logo Price</span>
                                                    </th>
                                                    <th value="">
                                                        <span class="date-l">Total Crawler Spots</span>
                                                    </th>
                                                    <th value="">
                                                        <span class="date-l">Web Crawler Spots</span>
                                                    </th>
                                                    <th value="">
                                                        <span class="date-l">Crawler Price</span>
                                                    </th>
                                                    <th value="">
                                                        <span class="date-l">Total L Crawler Spots</span>
                                                    </th>
                                                    <th value="">
                                                        <span class="date-l">Web L Crawler Spots</span>
                                                    </th>
                                                    <th value="">
                                                        <span class="date-l">L Crawler Price</span>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody id="tbody_data">
                                                <tr th:each="ir, rowStat : *{inventory.inventoryRows}">
                                                    <input type="hidden" th:field="*{inventory.inventoryRows[__${rowStat.index}__].fromTime}"/>
                                                    <input type="hidden" th:field="*{inventory.inventoryRows[__${rowStat.index}__].toTime}"/>
                                                    <input type="hidden" th:value="*{inventory.channel.channelid}"/>

                                                    <input type="hidden" th:field="*{inventory.inventoryRows[__${rowStat.index}__].priceRanges[0].lowerLimit}"/>
                                                    <input type="hidden" th:field="*{inventory.inventoryRows[__${rowStat.index}__].priceRanges[0].equalLowerLimit}"/>
                                                    <input type="hidden" th:field="*{inventory.inventoryRows[__${rowStat.index}__].priceRanges[0].upperLimit}"/>
                                                    <input type="hidden" th:field="*{inventory.inventoryRows[__${rowStat.index}__].priceRanges[0].equalUpperLimit}"/>

                                                    <input type="hidden" th:field="*{inventory.inventoryRows[__${rowStat.index}__].priceRanges[1].lowerLimit}"/>
                                                    <input type="hidden" th:field="*{inventory.inventoryRows[__${rowStat.index}__].priceRanges[1].equalLowerLimit}"/>
                                                    <input type="hidden" th:field="*{inventory.inventoryRows[__${rowStat.index}__].priceRanges[1].upperLimit}"/>
                                                    <input type="hidden" th:field="*{inventory.inventoryRows[__${rowStat.index}__].priceRanges[1].equalUpperLimit}"/>

                                                    <input type="hidden" th:field="*{inventory.inventoryRows[__${rowStat.index}__].priceRanges[2].lowerLimit}"/>
                                                    <input type="hidden" th:field="*{inventory.inventoryRows[__${rowStat.index}__].priceRanges[2].equalLowerLimit}"/>
                                                    <input type="hidden" th:field="*{inventory.inventoryRows[__${rowStat.index}__].priceRanges[2].upperLimit}"/>
                                                    <input type="hidden" th:field="*{inventory.inventoryRows[__${rowStat.index}__].priceRanges[2].equalUpperLimit}"/>

                                                    <td style="min-width: 112px!important;">
                                                        <input type="text" size="11" class="inventory-td-input"
                                                               th:field="*{inventory.inventoryRows[__${rowStat.index}__].clusters}"/>
                                                    </td>
                                                    <td style="min-width: 112px!important;">
                                                        <input type="text" size="11"  class="inventory-td-input"
                                                               th:field="*{inventory.inventoryRows[__${rowStat.index}__].totalTvcDurationMinutes}"/>
                                                    </td>
                                                    <td style="min-width: 112px!important;">
                                                        <input type="text" size="11"  class="inventory-td-input"
                                                               th:field="*{inventory.inventoryRows[__${rowStat.index}__].webTvcDurationPercentage}"/>
                                                    </td>
                                                    <td style="min-width: 112px!important;">
                                                        <input type="text" size="11"  class="inventory-td-input"
                                                               th:id = "inventory.inventoryRows__${rowStat.index}__.priceRanges0.price"
                                                               th:name = "inventory.inventoryRows[__${rowStat.index}__].priceRanges[0].price"
                                                               th:value="*{#numbers.formatDecimal(inventory.inventoryRows[__${rowStat.index}__].priceRanges[0].price,1,2)}"/>
                                                    </td>
                                                    <td style="min-width: 112px!important;">
                                                        <input type="text" size="11"  class="inventory-td-input"
                                                               th:id = "inventory.inventoryRows__${rowStat.index}__.priceRanges1.price"
                                                               th:name = "inventory.inventoryRows[__${rowStat.index}__].priceRanges[1].price"
                                                               th:value="*{#numbers.formatDecimal(inventory.inventoryRows[__${rowStat.index}__].priceRanges[1].price,1,2)}"/>
                                                    </td>
                                                    <td style="min-width: 112px!important;">
                                                        <input type="text" size="11"  class="inventory-td-input"
                                                               th:id = "inventory.inventoryRows__${rowStat.index}__.priceRanges2.price"
                                                               th:name = "inventory.inventoryRows[__${rowStat.index}__].priceRanges[2].price"
                                                               th:value="*{#numbers.formatDecimal(inventory.inventoryRows[__${rowStat.index}__].priceRanges[2].price,1,2)}"/>
                                                    </td>
                                                    <td style="min-width: 112px!important;">
                                                        <input type="text" size="11"  class="inventory-td-input"
                                                               th:field="*{inventory.inventoryRows[__${rowStat.index}__].logoSpots}"/>
                                                    </td>
                                                    <td style="min-width: 112px!important;">
                                                        <input type="text" size="11"  class="inventory-td-input"
                                                               th:field="*{inventory.inventoryRows[__${rowStat.index}__].webLogoSpots}"/>
                                                    </td>
                                                    <td style="min-width: 112px!important;">
                                                        <input type="text" size="11"  class="inventory-td-input"
                                                               th:id = "inventory.inventoryRows__${rowStat.index}__.logoPrice"
                                                               th:name = "inventory.inventoryRows[__${rowStat.index}__].logoPrice"
                                                               th:value="*{#numbers.formatDecimal(inventory.inventoryRows[__${rowStat.index}__].logoPrice,1,2)}"/>
                                                    </td>
                                                    <td style="min-width: 112px!important;">
                                                        <input type="text" size="11"  class="inventory-td-input"
                                                               th:field="*{inventory.inventoryRows[__${rowStat.index}__].crawlerSpots}"/>
                                                    </td>
                                                    <td style="min-width: 112px!important;">
                                                        <input type="text" size="11"  class="inventory-td-input"
                                                               th:field="*{inventory.inventoryRows[__${rowStat.index}__].webCrawlerSpots}"/>
                                                    </td>
                                                    <td style="min-width: 112px!important;">
                                                        <input type="text" size="11"  class="inventory-td-input"
                                                               th:id = "inventory.inventoryRows__${rowStat.index}__.crawlerPrice"
                                                               th:name = "inventory.inventoryRows[__${rowStat.index}__].crawlerPrice"
                                                               th:value="*{#numbers.formatDecimal(inventory.inventoryRows[__${rowStat.index}__].crawlerPrice,1,2)}"/>
                                                    </td>
                                                    <td style="min-width: 112px!important;">
                                                        <input type="text" size="11"  class="inventory-td-input"
                                                               th:field="*{inventory.inventoryRows[__${rowStat.index}__].lCrawlerSpots}"/>
                                                    </td>
                                                    <td style="min-width: 112px!important;">
                                                        <input type="text" size="11"  class="inventory-td-input"
                                                               th:field="*{inventory.inventoryRows[__${rowStat.index}__].webLCrawlerSpots}"/>
                                                    </td>

                                                    <td style="min-width: 112px!important;">
                                                        <input type="text" size="11"  class="inventory-td-input"
                                                               th:id = "inventory.inventoryRows__${rowStat.index}__.lCrawlerPrice"
                                                               th:name = "inventory.inventoryRows[__${rowStat.index}__].lCrawlerPrice"
                                                               th:value="*{#numbers.formatDecimal(inventory.inventoryRows[__${rowStat.index}__].lCrawlerPrice,1,2)}"/>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
    <!-- /.content -->
    <div class="modal fade" id="inventoryOverrideModal" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Override Inventory</h4>
                </div>
                <div class="modal-body">
                    <!-- -->
                    <div class="form-horizontal">
                        <div class="form-group p-x-20">
                            <span>
                                Do you want to override existing inventory?
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="overrideInventory()" class="btn btn-default" data-dismiss="modal">YES</button>
                    <button id="delete-entry-btn" type="button"  onclick="notOverrideInventory()" class="btn btn-primary">NO</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="summaryModal" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog-lg p-y-60 p-x-100" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Inventory Conflict Summary</h4>
                </div>
                <div class="modal-body">
                    <!-- -->
                    <div class="form-horizontal">
                        <div class="form-group p-x-20">
                            <div  th:if="${conflicts}" style="overflow-x:auto;">
                                <table class="table table-responsive" style="width:95%" >
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Type</th>
                                        <th>Requested Amount</th>
                                        <th>Consumed Amount</th>
                                        <th>Updated Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="row, rowStat : ${conflicts}">
                                        <td class="conflict-summary-td"><p th:text="${#dates.format(row.date,  'yyyy-MM-dd')}"/></td>
                                        <td class="conflict-summary-td"><p th:text="*{#dates.format(row.inventoryRow.fromTime,  'HH:mm') +' - '+ #dates.format(row.inventoryRow.toTime,  'HH:mm')}"/></td>
                                        <td class="conflict-summary-td"><p th:text="*{row.type}"/></td>
                                        <td class="conflict-summary-td"><p th:text="*{row.requestedAmount}"/></td>
                                        <td class="conflict-summary-td"><p th:text="*{row.consumedAmount}"/></td>
                                        <td class="conflict-summary-td" style="text-align:left"><p th:text="*{row.newAmount}"/></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id = "loading" class="ui-loader-background"></div>

    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            //<![CDATA[
                var hasConflictSummary = [[${hasConflictSummary}]];
                if(hasConflictSummary){
                  $('#summaryModal').modal('toggle');
                }
            //]]>


        $('input').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
            increaseArea: '20%' // optional
            });
        });
        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass   : 'iradio_minimal-blue'
        })
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass   : 'iradio_minimal-red'
        })
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass   : 'iradio_flat-green'
        })
    </script>

</div>
<th:block th:fragment="scripts">

</th:block>
</body>
</html>