<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>Setting File</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/admin/csv-file.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">
<div id="includedMenubar">
    <th:block th:include="common-components :: admin-menu-bar"/>
</div>
<div class="container">
    <div class="col-md-1">
    </div>
    <div style="height:500px; !important" class="col-md-10 content_area">
        <div class="well header_well">
            <p class="header_well_pa">Setting File Uploader</p>
        </div>
        <div class="modal-body">
            <div class="row" >
                <div style="height:450px;" class="well">
                    <table id="tblAttachments" class="table">
                        <thead class="tb_align_center"><tr><th>Id</th><th>Name</th><th>Type</th><th>Date</th><th></th><th></th></tr></thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div id = "attachment_upload">
                        <div id="dropzone" class="control-label col-md-12">
                            <br/>
                            <div class="control-label col-md-12">
                                <input id="fileupload" type="file" name="files[]"/>
                                <span class="help-block"></span>
                            </div>
                            <div class="control-label col-md-3">
                                <input class="btn btn-block btn_color advert_upload_size" type="button" id="btnUpload" value="Upload" onclick="processFileUpload()" />
                                <span class="help-block"></span>
                            </div>
                            <div class="control-label col-md-8">
                                <div id="progress" class="progress col-md-7" style="padding:0px;">
                                    <div class="bar" style="width: 0%;"></div>
                                </div>
                                <span id ="state" class="glyphicon upload_state col-md-1"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id = "loading" class="ui-loader-background"></div>
<nav  class="navbar navbar-inverse sub">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>
</body>
</html>
