<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <meta charset="utf-8"/>

    <!-- Bootstrap 3.3.7 -->
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.css}"></link>

    <!-- iCheck 1.0.1 -->
    <script th:src="@{/assets-__${applicationVersion}__/plugins/iCheck/icheck.min.js}"></script>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/toastr/toastr.css}"/>

    <!--    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/layout-lib-min.css}"/>-->
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/plugins/iCheck/all.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/plugins/iCheck/square/green.css}"/>

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css-inventory/dialog-tv.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css-inventory/dialog-tv-temp.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css-inventory/progress-bar.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css-inventory/skins/_all-skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datatables.net-dt/css/jquery.dataTables.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/layout.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap_3.3.6/multiselect/js/bootstrap-multiselect.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap_3.3.6/confirm/js/msc-script.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/dist/js/fontawesome.js}"/>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/view-inventory-prediction.js}"/>
</head>
<body th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: admin-menu-bar"/>
</div>

<div th:fragment="content">

    <!--<nav class="navbar navbar-inverse">-->
        <!--<div class="container-fluid">-->
            <!--<div class="navbar-header">-->
                <!--<a class="navbar-brand" th:href="@{/home}" >-->
                    <!--<img th:src="@{/assets-__${applicationVersion}__/dist/img/logo.png}" class="logo-img"/>-->
                <!--</a>-->
            <!--</div>-->
            <!--<ul class="nav navbar-nav navbar-left"/>-->
            <!--<ul>-->
                <!--<a>-->
                    <!--<div onclick="ChangeProfile()" class="logout_image"/>-->
                    <!--<div id="user_name_div" class="logout">-->
                        <!--<span sec:authentication="name"/>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</nav>-->

    <!-- Main content  -->
    <section>
        <section class="content">
            <div class="row">

                <div class="col-md-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">View Inventory Prediction</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form id="inventory-form">
                                <div class="row p-y-10">
                                    <div class="col-xs-12">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Channel</label>
                                                <div class="col-sm-3">
                                                    <input type="hidden" id="selectedChannel" name="selectedChannel" th:value="${channel.channelid}"/>
                                                    <select class="form-control" id="channel" name="channel">
                                                        <option th:each="channel : ${allChannels}"
                                                                th:value="${channel.channelid}"
                                                                th:text="${channel.shortname}"/>
                                                    </select>
                                                </div>
                                                <label class="col-sm-2 control-label">Date</label>

                                                <div id = "select-date" class="col-sm-3">
                                                    <div class="input-group add-on date">
                                                        <input type="text" class="form-control pull-right" id="date" name="date" disabled="true"
                                                               data-format="yyyy-MM-dd"
                                                               th:value="${#dates.format(date,  'yyyy-MM-dd')}"/>
                                                        <span class="add-on input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                    </span>
                                                    </div>
                                                </div>

                                                <div  class=" col-xs-12 col-sm-2 col-md-2">
                                                    <div id="view-inventory"
                                                         class="btn btn-primary">
                                                        <i class="fa fa-eye" aria-hidden="true"></i> VIEW
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div align="center" th:unless="${isEmpty}" style="overflow-x:auto;">
                                    <div  style="overflow-x:auto;">
                                        <table class="table table-responsive" style="width:85%" >
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>From</th>
                                                    <th>To</th>
                                                    <th style="text-align:right">TVC Duration(sec)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each = "ip, rowStat : *{inventoryPredictions}">
                                                    <td><p th:text="${#dates.format(ip.date,  'yyyy-MM-dd')}"/></td>
                                                    <td><p th:text="${ip.fromTime}"/></td>
                                                    <td><p th:text="${ip.toTime}"/></td>
                                                    <td><p th:text="${#numbers.formatDecimal(ip.inventory, 0, 'COMMA', 0, 'POINT')}"/></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <th:block th:if="${isEmpty}">
                                    <div class="container p-y-20 p-t-20 ">
                                        <section>
                                            <div class="row">
                                                <div class="box box-default">
                                                    <!-- /.box-header -->
                                                    <div class="box-body">
                                                        <form class="form-horizontal">
                                                            <div class="box-body">
                                                                <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3">
                                                                    <div class="text-center"><i class="fa  fa-times-circle-o red font-60"
                                                                                                aria-hidden="true"></i><br/>
                                                                        <h2 class="red">Not found</h2>
                                                                        <h4 class="red">
                                                                            No inventory prediction is found for <span th:text="${channel.channelname}"></span> on <span th:text="${#dates.format(date, 'yyyy-MM-dd')}"></span>
                                                                        </h4>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /.box-footer -->
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </th:block>
                            </form>
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </section>
    <!-- /.content -->
</div>
<th:block th:fragment="scripts">
    <!--<script th:src="@{/assets-__${applicationVersion}__/js/view-inventory.js}"/>-->
</th:block>
</body>
</html>