<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <meta charset="utf-8"/>

    <!-- Bootstrap 3.3.7 -->
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.css}"></link>

    <!-- iCheck 1.0.1 -->
    <script th:src="@{/assets-__${applicationVersion}__/plugins/iCheck/icheck.min.js}"></script>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/toastr/toastr.css}"/>

    <!--    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/layout-lib-min.css}"/>-->
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/plugins/iCheck/all.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/plugins/iCheck/square/green.css}"/>

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css-inventory/dialog-tv.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css-inventory/dialog-tv-temp.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css-inventory/progress-bar.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css-inventory/skins/_all-skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datatables.net-dt/css/jquery.dataTables.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/layout.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap_3.3.6/multiselect/js/bootstrap-multiselect.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap_3.3.6/confirm/js/msc-script.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/dist/js/fontawesome.js}"/>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/view-inventory.js}"/>
</head>
<body th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: admin-menu-bar"/>
</div>

<div th:fragment="content">

    <!--<nav class="navbar navbar-inverse">-->
        <!--<div class="container-fluid">-->
            <!--<div class="navbar-header">-->
                <!--<a class="navbar-brand" th:href="@{/home}" >-->
                    <!--<img th:src="@{/assets-__${applicationVersion}__/dist/img/logo.png}" class="logo-img"/>-->
                <!--</a>-->
            <!--</div>-->
            <!--<ul class="nav navbar-nav navbar-left"/>-->
            <!--<ul>-->
                <!--<a>-->
                    <!--<div onclick="ChangeProfile()" class="logout_image"/>-->
                    <!--<div id="user_name_div" class="logout">-->
                        <!--<span sec:authentication="name"/>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</nav>-->

    <!-- Main content  -->
    <section>
        <section class="content">
            <div class="row">

                <div class="col-md-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">View Inventory</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form id="inventory-form" th:object="${inventory}">
                                <div class="row p-y-10">
                                    <div class="col-xs-12">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Channel</label>
                                                <div class="col-sm-3">
                                                    <select class="form-control" th:field="*{channel.channelid}">
                                                        <option th:each="channel : ${allChannels}"
                                                                th:value="${channel.channelid}"
                                                                th:text="${channel.shortname}"/>
                                                    </select>
                                                </div>
                                                <label class="col-sm-2 control-label">Date</label>
                                                <!--<div class="col-sm-3">-->
                                                    <!--<div class="input-group add-on date">-->
                                                        <!--<div class="input-group-addon">-->
                                                            <!--<i class="fa fa-calendar"></i>-->
                                                        <!--</div>-->
                                                        <!--<input type="text" class="form-control pull-right"-->
                                                               <!--data-format="yyyy-MM-dd"-->
                                                               <!--th:field="*{date}"-->
                                                              <!--th:value="${date}"/>-->
                                                    <!--</div>-->
                                                <!--</div>-->

                                                <div id = "select-date" th:field="*{date}" th:value="${date}" class="col-sm-3">
                                                    <div class="input-group add-on date">
                                                        <input type="text" class="form-control pull-right"
                                                               data-format="yyyy-MM-dd"
                                                               th:field="*{date}"
                                                               th:value="${date}"/>
                                                        <span class="add-on input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                    </span>
                                                    </div>
                                                </div>


                                                <div  class=" col-xs-12 col-sm-2 col-md-2">
                                                    <div id="view-inventory"
                                                         class="btn btn-primary">
                                                        <i class="fa fa-eye" aria-hidden="true"></i> VIEW
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <br/>
                                    <div class="col-md-12 text-center p-t-10">
                                        <div class="col-md-4 col-md-offset-4">
                                            <div class="pull-left p-a-5">
                                                <a onclick="previousDate()" > <i  class="fa fa-arrow-circle-left font-30 green"></i> </a>
                                            </div>
                                            <div class="pull-left">
                                                <input type="text"  class="form-control" data-format="yyyy-MM-dd"
                                                       id="date-slider"/>
                                            </div>
                                            <div class="pull-left p-a-5">
                                                <a id = "right-slider" onclick="nextDate()"> <i class="fa fa-arrow-circle-right font-30 green"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div  th:if="${inventory.inventoryRows}" style="overflow-x:auto;">
                                    <div  style="overflow-x:auto;">
                                        <table class="table table-responsive" style="width:95%" >
                                            <thead>
                                            <tr>
                                                <th>From</th>
                                                <th>To</th>
                                                <th>Clusters</th>

                                                <th>Total TVC Dur(.min)</th>
                                                <th>Web TVC Dur(%)</th>
                                                <th>&#10094; 50%</th>
                                                <th>50% - 80%</th>
                                                <th>80% &#10095;</th>

                                                <th>Total logo Spots</th>
                                                <th>Web logo Spots</th>
                                                <th>Logo Price</th>

                                                <th>Total Crawler Spots</th>
                                                <th>Web Crawler Spots</th>
                                                <th>Crawler Price</th>

                                                <th>Total L Crawler Spots</th>
                                                <th>Web L Crawler Spots</th>
                                                <th>L Crawler Price</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="ir, rowStat : *{inventoryRows}">

                                                <td><p th:text="${#dates.format(ir.fromTime,  'HH:mm')}"/></td>
                                                <td><p th:text="${#dates.format(ir.toTime,  'HH:mm')}"/></td>
                                                <td><p th:text="*{inventoryRows[__${rowStat.index}__].clusters}"  size="10"/></td>

                                                <td><p th:text="*{inventoryRows[__${rowStat.index}__].totalTvcDurationMinutes}"  size="10"/></td>
                                                <td><p th:text="*{inventoryRows[__${rowStat.index}__].webTvcDurationPercentage}"   size="10"/></td>
                                                <td><p th:text="*{#numbers.formatDecimal(inventoryRows[__${rowStat.index}__].priceRanges[0].price,1,2)}"  size="10"
                                                       th:id = "inventoryRows__${rowStat.index}__.priceRanges0.price"
                                                       th:name = "inventoryRows[__${rowStat.index}__].priceRanges[0].price"/></td>

                                                <td><p th:text="*{#numbers.formatDecimal(inventoryRows[__${rowStat.index}__].priceRanges[1].price,1,2)}"  size="10"
                                                       th:id = "inventoryRows__${rowStat.index}__.priceRanges1.price"
                                                       th:name = "inventoryRows[__${rowStat.index}__].priceRanges[1].price"/>
                                                </td>
                                                <td><p th:text="*{#numbers.formatDecimal(inventoryRows[__${rowStat.index}__].priceRanges[2].price,1,2)}"  size="10"
                                                       th:id = "inventoryRows__${rowStat.index}__.priceRanges2.price"
                                                       th:name = "inventoryRows[__${rowStat.index}__].priceRanges[2].price"/>
                                                </td>

                                                <td><p th:text="*{inventoryRows[__${rowStat.index}__].logoSpots}"  size="10"/></td>
                                                <td><p th:text="*{inventoryRows[__${rowStat.index}__].webLogoSpots}"  size="10"/></td>
                                                <td><p th:text="*{#numbers.formatDecimal(inventoryRows[__${rowStat.index}__].logoPrice,1,2)}"  size="10"
                                                       th:id = "inventoryRows__${rowStat.index}__.logoPrice"
                                                       th:name = "inventoryRows[__${rowStat.index}__].logoPrice"/>
                                                </td>

                                                <td><p th:text="*{inventoryRows[__${rowStat.index}__].crawlerSpots}"  size="10"/></td>
                                                <td><p th:text="*{inventoryRows[__${rowStat.index}__].webCrawlerSpots}"  size="10"/></td>
                                                <td><p th:text="*{#numbers.formatDecimal(inventoryRows[__${rowStat.index}__].crawlerPrice,1,2)}" size="10"
                                                       th:id = "inventoryRows__${rowStat.index}__.crawlerPrice"
                                                       th:name = "inventoryRows[__${rowStat.index}__].crawlerPrice"/>
                                                </td>

                                                <td><p th:text="*{inventoryRows[__${rowStat.index}__].lCrawlerSpots}"  size="10"/></td>
                                                <td><p th:text="*{inventoryRows[__${rowStat.index}__].webLCrawlerSpots}"  size="10"/></td>
                                                <td><p th:text="*{#numbers.formatDecimal(inventoryRows[__${rowStat.index}__].lCrawlerPrice,1,2)}" size="10"
                                                       th:id = "inventoryRows__${rowStat.index}__.lCrawlerPrice"
                                                       th:name = "inventoryRows[__${rowStat.index}__].lCrawlerPrice"/>
                                                </td>
                                            </tr>
                                            <!--<tr >-->
                                                <!--<td><p>00:00</p></td>-->
                                                <!--<td><p>01:00</p></td>-->
                                                <!--<td><p>10</p></td>-->

                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->

                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->

                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->

                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->

                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->
                                            <!--</tr>-->
                                            <!--<tr >-->
                                                <!--<td><p>01:00</p></td>-->
                                                <!--<td><p>02:00</p></td>-->
                                                <!--<td><p>10</p></td>-->

                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->

                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->

                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->

                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->

                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->
                                            <!--</tr>-->
                                            <!--<tr >-->
                                                <!--<td><p>02:00</p></td>-->
                                                <!--<td><p>03:00</p></td>-->
                                                <!--<td><p>10</p></td>-->

                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->

                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->

                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->

                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->

                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->
                                            <!--</tr>-->
                                            <!--<tr >-->
                                                <!--<td><p>03:00</p></td>-->
                                                <!--<td><p>04:00</p></td>-->
                                                <!--<td><p>10</p></td>-->

                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->

                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->

                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->

                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->

                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->
                                                <!--<td><p size="10">0</p></td>-->
                                            <!--</tr>-->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <th:block th:unless="${inventory.inventoryRows}">
                                    <div class="container p-y-20 p-t-20 ">
                                        <section>
                                            <div class="row">
                                                <div class="box box-default">
                                                    <!-- /.box-header -->
                                                    <div class="box-body">
                                                        <form class="form-horizontal">
                                                            <div class="box-body">
                                                                <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3">
                                                                    <div class="text-center"><i class="fa  fa-times-circle-o red font-60"
                                                                                                aria-hidden="true"></i><br/>
                                                                        <h2 class="red">Not found</h2>
                                                                        <h4 class="red">
                                                                            <!--No inventory is found for <span th:text="${inventory.channel.name}"></span> on <span th:text="${#dates.format(inventory.date, 'yyyy-MM-dd')}"></span>-->
                                                                        </h4>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /.box-footer -->
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </th:block>
                            </form>
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </section>
    <!-- /.content -->
</div>
<th:block th:fragment="scripts">
    <!--<script th:src="@{/assets-__${applicationVersion}__/js/view-inventory.js}"/>-->
</th:block>
</body>
</html>