<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
    <head th:with="applicationVersion=${@environment.getProperty('application.version')}">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <meta th:name="_applicationVersion" th:content="${@environment.getProperty('application.version')}"/>

        <link rel="icon" href="../../favicon.ico"/>
        <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

        <title>Dashboard</title>

        <!-- JavaScript -->
        <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
        <!--script src="../bootstrap_3.3.6/dist/js/bootstrap.min.js"></script-->

        <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
        <!--<script src="js/vcljs/dashboard.js"></script>-->
        <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"></script>
        <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/dashboard/dashboard.js}"></script>

        <!-- Bootstrap core CSS -->
        <!--<link href="css/bootstrap.min.css" rel="stylesheet"/>-->
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
        <!--<link href="css/animate.min.css" rel="stylesheet"/>-->
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/animate.min.css}"/>
        <!--<link href="fonts/DSDIGI/font-dsdigi.css" rel="stylesheet"/>-->
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/fonts/DSDIGI/font-dsdigi.css}"/>



        <!-- custom css -->
        <!--<link href="css/custom.css" rel="stylesheet"/>-->
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/dashboard-custom.css}"/>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="top-row">

            <div class=" p-a-15">
                <div id="Format1"></div>
                <label class="tvc p-a-1em ">TVC</label>
                <label class="cg p-a-1em">CG</label>
                <label class="lc p-a-1em">LOGO</label>
                <label class="cg p-a-1em bg-white black"><i class="glyphicon glyphicon-arrow-down animated infinite slideOutDown black"></i>MISSED</label>
                <label class="cg p-a-1em bg-white red"><i class="glyphicon glyphicon-arrow-up animated infinite slideOutUp red"></i> UPDATED</label>
                <label class="cg p-a-1em bg-white green"><i class="glyphicon glyphicon-ok green"></i> SYSTEM MONITORING</label>
                <label class="cg p-a-1em bg-white purple newly-added b-radius-8"> NEWLY ADDED</label>
            </div>
        </div>
        <div class="bottom-row">
            <div id="channel-column">
                <!--div class="channel-cover">&nbsp;</div>
                <ul>
                    <li><img class="tv-logo" src="img/rupavahini.jpg"/>
                        <i class="glyphicon glyphicon-arrow-up animated infinite slideOutUp red"></i>
                        <i class="glyphicon glyphicon glyphicon-ok green"></i>
                    </li>
                    <li><img class="tv-logo" src="img/itn.jpg"/>
                        <i class="glyphicon glyphicon glyphicon-ok green"></i>
                    </li>
                    <li><img class="tv-logo" src="img/sirasa.jpg"/>
                        <i class="glyphicon glyphicon glyphicon-ok green"></i> 
                    </li>
                    <li><img class="tv-logo" src="img/derana.jpg"/>
                        <i class="glyphicon glyphicon glyphicon-ok green"></i>
                    </li>
                    <li><img class="tv-logo" src="img/swarnawahini.jpg"/></li>
                    <li class="newly-added"><img class="tv-logo" src="img/eye.jpg"/>
                    </li>
                </ul-->
            </div>
            <div id="table-column">
                <div class="c">
                    <div class="a">
                        <table class="table table-bordered" id="tbl_dashboard">
                            <tbody>

                            </tbody>
                        </table>


                    </div>
                    <div class="b">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th value="00.00">
                                        00.00-01.00
                                    </th>
                                    <th value="01.00">
                                        01.00-02.00
                                    </th>
                                    <th value="02.00">
                                        02.00-03.00
                                    </th>
                                    <th value="03.00">
                                        03.00-04.00
                                    </th>
                                    <th value="04.00">
                                        04.00-05.00
                                    </th>
                                    <th value="05.00">
                                        05.00-06.00
                                    </th>
                                    <th value="06.00">
                                        06.00-07.00
                                    </th>
                                    <th value="07.00">
                                        07.00-08.00
                                    </th>
                                    <th value="08.00">
                                        08.00-09.00
                                    </th>
                                    <th value="09.00">
                                        09.00-10.00
                                    </th>
                                    <th value="10.00">
                                        10.00-11.00
                                    </th>
                                    <th value="11.00">
                                        11.00-12.00
                                    </th>
                                    <th value="12.00">
                                        12.00-13.00
                                    </th>
                                    <th value="13.00">
                                        13.00-14.00
                                    </th>
                                    <th value="14.00">
                                        14.00-15.00
                                    </th>
                                    <th value="15.00">
                                        15.00-16.00
                                    </th>
                                    <th value="16.00">
                                        16.00-17.00
                                    </th>
                                    <th value="17.00">
                                        17.00-18.00
                                    </th>
                                    <th value="18.00">
                                        18.00-19.00
                                    </th>
                                    <th value="19.00">
                                        19.00-20.00
                                    </th>
                                    <th value="20.00">
                                        20.00-21.00
                                    </th>
                                    <th value="21.00">
                                        21.00-22.00
                                    </th>
                                    <th value="22.00">
                                        22.00-23.00
                                    </th>
                                    <th value="23.00">
                                        23.00-24.00
                                    </th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

        <script>
            var leftOffset = parseInt($("#channel-column").css('left'));
            $(window).scroll(function () {
                $('#channel-column').css({
                    'left': $(this).scrollLeft() + leftOffset
                });
                $('#hour-row').css({
                    'left': $(this).scrollLeft() + leftOffset
                });
            });
            ////

            $(function () {
                setInterval(function () {
                    var now = new Date();
                    var hours = now.getHours();
                    console.log(hours);
                    $('table tr th').each(function (i, v) {
                        if ($(this).attr("value").split(":")[0] == hours)
                            $(this).addClass("hightlight");
                        else
                            $(this).removeClass("hightlight");
                    });
                    $('table tr td').each(function (i, v) {
                        if ($(this).attr("value").split(":")[0] == hours)
                            $(this).addClass("hightlight");
                        else
                            $(this).removeClass("hightlight");
                    });
                }, 1000);
            });
            /////

            $(document).scroll(function (e) {
                $('.b').css({
                    'left': 56 - $(document).scrollLeft()
                });
            });

        </script>
        <script language="JavaScript">
            //Get Current Date////
            var Currdate = new Date();
            var Sday = Currdate.getDate();
            var Syear = Currdate.getFullYear();
            var MonIndex = Currdate.getMonth();

            //Declare Full month Array Variable
            var FullMonth = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

            //Assign Final Output
            var FinalOut = Sday + " " + FullMonth[MonIndex] + " " + Syear
            document.getElementById("Format1").innerHTML = " " + FinalOut + " "

        </script>
    </body>
</html>