<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>Admin schedule panel</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <style>
            #headcol{
                background-color:red;
            }
            .btn-link:hover,
            .btn-link:focus,
            .btn-link:active {
                border-color: #000000;
                background: #6495ED;
                text-decoration:none;
            }
            .td-box{
                padding: 5px;
                color: #ffffff;
                border-radius: 1px;
                padding: 0px;
                width: 100%;
                height: 100%;
            }
            .bg-red{
                background: #e24c49;
            }
            .bg-green{
                background: #8dc63f;/*#5cb85c*/
            }
            .bg-yellow{
                background: #e67f50;
            }
            .count-fnt{
                font-size: 14px;
            }
            .time-fnt{
                color: #e9e9e9;
            }
            .float-right{
                float:right;
            }
            .table-main table>tbody>tr>td{
                overflow:hidden;
                white-space:nowrap;
            }

        </style>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/admin/adminSchedulePanel.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: inventory-management-menu-bar"/>
</div>

<div class="container">
    <div class="col-md-1"/>
    <div style="height:700px; !important" class="col-md-12 content_area">
        <div style="width: 105%; margin-left: -23px;" class="well header_well">
            <p class="header_well_pa">Schedule panel</p>
        </div>
        <div class="modal-body">
            <div class="row fullwith">
                <div style="height:630px; width: 105%; margin-left: -23px;" class="well middle_well_workorder wrapper-div " id="">

                    <div class="row form-group">
                        <label class="control-label col-sm-1 lable_forms lable_forms_ad" for="txt_end_pop">Select W.O id:</label>
                        <div class="control-label col-sm-3" id="workOrder_list_div">
                            <select id="workOrderDropdown_admin" name="WorkOrder" class="form-control"><option VALUE="-111" >-&#45;&#45;All&#45;&#45;&#45;&#45;</option></select>
                            <span class="help-block"></span>
                        </div>
                        <label class="control-label col-sm-1 lable_forms lable_forms_ad" for="txt_start_pop">Select channel:</label>
                        <div class="control-label col-sm-3" id="cheannel_list_div" >
                            <select id="channelDropdown_admin" name="channelName" class="form-control"><option VALUE="-111" >-&#45;&#45;All&#45;&#45;&#45;&#45;</option></select>
                            <span class="help-block"></span>
                        </div>
                        <label class="control-label col-sm-1 lable_forms lable_forms_ad" for="txt_end_pop">Advert name:</label>
                        <div class="control-label col-sm-3" id="advertisement_list_div">
                            <select id="AdvertimentDropdown_admin" name="Advertiment" class="form-control"><option VALUE="-111" >-&#45;&#45;All&#45;&#45;&#45;&#45;</option></select>
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="row">

                    </div>

                    <div class="row form-group">
                        <div class="control-label col-sm-4">
                            <button type="submit" onclick="clickPreviousWeek()" class="btn btn-success btn-block week" >Previous week</button>
                        </div>
                        <div id="start_date_div" class="control-label col-sm-2" style="padding-top:5px;font-size:16px;">
                            <label class="control-label lable_forms lable_forms_ad" id="lbe_prev"></label>
                        </div>
                        <div id="end_date_div" class="control-label col-sm-2" style="padding-top:5px;font-size:16px;">
                            <label class="control-label lable_forms lable_forms_ad" id="lbe_next"></label>
                        </div>
                        <div class="control-label col-sm-4">
                            <button type="submit" onclick="clickNextWeek()" class="btn btn-success btn-block week" >Next week</button>
                        </div>
                    </div>

                    <div id="workOrder_main_table" class="table table-responsive">
                        <table id="workOrder_main" class="table table-bordered table-workorder she_panel">
                            <thead id="table_headr">
                            <tr>
                                <th>Time_Belt</th>
                                <th>Sunday</th>
                                <th>Monday</th>
                                <th>Tuesday</th>
                                <th>Wednesday</th>
                                <th>Thursday</th>
                                <th>Friday</th>
                                <th>Saturday</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="slotDetailModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="span-select2">Time slot details</p>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div id="test_div"/>
                    <div class="row">
                        <div id="advertisement_table_pop_div" class="table">
                            <table id="advertisement_table_pop" class="table table-bordered table-workorder">
                                <thead>
                                <tr>
                                    <th>Work Order Id</th>
                                    <th>Channel Name</th>
                                    <th>Advertisement Name</th>
                                    <th>Scheduled Time</th>
                                    <th>Duration</th>
                                    <th>Priority</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<nav  class="navbar navbar-inverse sub">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>

<div id = "loading" class="ui-loader-background"></div>

</body>
</html>
