<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>AdvertisementCategory</title>

    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/admin/advertisementCategory.js}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: admin-menu-bar"/>
</div>

<div class="container">
    <div class="col-md-1">
    </div>
    <div style="height:700px; !important" class="col-md-10 content_area">
        <div style="width: 105%; margin-left: -23px;" class="well header_well">
            <p class="header_well_pa">All Advertisement Category</p>
        </div>
        <div class="modal-body">
            <div class="row fullwith">
                <div style="height:630px; width: 105%; margin-left: -23px;" class="well middle_well_workorder wrapper-div " id="">
                    <div id="advrt_category_main_table" class="table-responsive">
                        <table id="advrt_category_channel_main" class="table table-bordered table-workorder">
                            <thead>
                            <tr>
                                <th>Advertisement Category Id</th>
                                <th>Advertisement Category</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav  class="navbar navbar-inverse sub footer">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>

<div id = "loading" class="ui-loader-background"></div>
</body>
</html>
