<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>Update Advertisement Category</title>

    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/admin/updateAdvertCategory.js}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: admin-menu-bar"/>
</div>

<div class="container">
    <div class="col-md-1">
    </div>
    <div style="height:500px; !important" class="col-md-10 content_area">
        <div class="well header_well">
            <p class="header_well_pa">Update Advertisement Category</p>
        </div>
        <div class="modal-body">
            <div class="row" >
                <div  class="well">
                    <form id="new_AdvertCategory_form" role="form">

                        <div class="row form-group">
                            <label class="control-label col-sm-2 lable_forms add_category" for="txt_advert_cateory">Id:</label>
                            <div class="control-label col-sm-6">
                                <input type="text" class="form-control" id="txt_advert_category_id" name="Advert Category" value="" title="Please enter Advert Category" placeholder="Advert Category" disabled=""/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="control-label col-sm-2 lable_forms add_category" for="txt_advert_cateory">Category:</label>
                            <div class="control-label col-sm-6">
                                <input type="text" class="form-control" id="txt_advert_category" name="Advert Category" value="" required="" title="Please enter Advert Category" placeholder="Advert Category"/>
                                <span class="help-block"></span>
                            </div>
                            <div class="control-label col-sm-2">
                                <button type="button" onclick="updateAdvertCategoryAfterValidation(this.form)" class="btn btn-success btn-md save add_category_button">Update</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<nav  class="navbar navbar-inverse sub footer">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>

<div id = "loading" class="ui-loader-background"></div>
</body>
</html>
