<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>All Priorities</title>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/admin/allPriorities.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: admin-menu-bar"/>
</div>

<div class="container">
    <div class="col-md-1"/>
    <div class="col-md-12 content_area">
        <div class="well header_well">
            <p class="header_well_pa">Priorities</p>
        </div>

        <div class="modal-body">
            <div class="row" >
                <div  style="height:100px;overflow:hidden;" class="well middle_well_workorder2 wrapper-div">

                    <div class="form-group col-sm-4 col-md-4 col-lg-4">
                        <div class="input-group" id="category_div">
                            <span class="input-group-addon span-select">Channels</span>
                            <select id="channelDropdown" name="channelName" class="form-control"  onchange="channelSelectionChanged(this.value)">
                                <option VALUE="-1" >--- None ---</option>
                            </select>
                        </div>
                        <span id="CN_vali" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6 col-md-6 col-lg-6"></div>
                    <div class="form-group col-sm-2 col-md-2 col-lg-2">
                        <input class="btn btn-block btn_color advert_upload_size" type="button" id="savebutton" value="Save" onclick="saveData()"/>
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="well middle_well_workorder wrapper-div" id="timebelt_table">
                    <table class="table table-bordered table-workorder">
                        <thead>
                        <tr>
                            <th style="width:10%">Update</th>
                            <th style="width:10%">ID</th>
                            <th>Time Belt</th>
                            <th style="width:20%">Cluster</th>
                            <th style="width:20%">Priority Count</th>
                        </tr>
                        </thead>
                        <tbody id="priority_table_data" >
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div id = "loading" class="ui-loader-background"></div>

<nav  class="navbar navbar-inverse sub footer">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>
</body>
</html>


