<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">

    <title>Products</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta th:name="_applicationVersion" th:content="${@environment.getProperty('application.version')}"/>
    <meta th:name="_filePathSeparator" th:content="${@environment.getProperty('file.path.separator')}"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datatables.net-dt/css/jquery.dataTables.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/datatables.net/js/jquery.dataTables.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/admin/allProduct.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>


<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: admin-menu-bar"/>
</div>

<div id="all-advert-main-div" class="container">

    <div class="col-md-12 content_area">
        <div class="row well header_well">
            <p class="header_well_pa">All Product</p>
        </div>

        <div class="modal-body">
            <div class="row" >
                <div style="height:600px;" id="new_work_order_div" class="well middle_well_workorder2 wrapper-div">
                    <div class="row">
                        <!--<div class="form-group col-sm-2 col-md-2 col-lg-2 control-label filterform-groups pull-left">-->
                            <!--<div class="input-group">-->
                                <!--<span class="input-group-addon span-select">Product Id</span>-->
                                <input id="productId" class="form-control" type="hidden" name="to" value="" placeholder="Product ID"/>
                            <!--</div>-->
                            <!--<span id="toDateVali"></span>-->
                        <!--</div>-->

                        <div class="form-group col-sm-2 col-md-2 col-lg-2">
                            <div class="input-group" id="clientList_div">
                                <span class="input-group-addon span-select">Clients</span>
                                <select id="client_list" name="client_id" class="form-control">
                                    <option VALUE="-111">--All clients--</option>1

                                </select>
                            </div>
                            <span id="CN_vali" class="text-danger"></span>
                        </div>
                        <div id="advert_name" class="form-group col-sm-4 col-md-4 col-lg-4 control-label filterform-groups pull-left">
                            <div class="input-group">
                                <span class="input-group-addon span-select">Product Name</span>
                                <input id="productName" class="form-control" type="text" name="to" value="" placeholder="Product Name"/>
                            </div>
                            <span id="toDateVali"></span>
                        </div>
                        <div class="form-group col-sm-2 col-md-2 col-lg-2 control-label filterform-groups pull-left">
                            <button type="submit" class="btn btn_color" id="btn-search" >Search</button>
                        </div>
                    </div>

                    <div id="all_product_div" class="well middle_well_workorder wrapper-div">
                        <!--<div class="row">-->
                        <table id="all_product_table" class="table table-responsive table-workorder cell-border">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Product</th>
                                <th>Client</th>
                                <th>Brand</th>
                                <th>Code</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="advert_view_pop" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="span-select2">View</p>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="control-label col-md-12">
                        <video id = "video" width="500" height="400" controls="true">
                        </video>
                        <object id = "flash" width="500" height="400" data="">
                        </object>
                        <img src="" alt="Preview" id ="image" style="width:500px;height:400px;"/>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div id = "loading" class="ui-loader-background"></div>

<nav  class="navbar navbar-inverse sub">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>
</body>
</html>
