<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>Add Channel</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/admin/addChannel.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"></script>

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/autocomplete_1.12.1/css/jquery-ui.css}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/autocomplete_1.12.1/js/jquery-1.12.4.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/autocomplete_1.12.1/js/jquery-ui-1.12.1.js}"/>

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style-refactor.css}"/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: admin-menu-bar"/>
</div>
<div class="container">
    <div class="col-md-1">
    </div>
    <div style="height:550px; !important" class="col-md-10 content_area">
        <div class="well header_well">
            <p class="header_well_pa">Add new Channel</p>
        </div>
        <div class="modal-body">
            <div class="row" >
                <div style="height:450px;" class="well">
                    <form id="new_channel_form" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-3 lable_forms new" for="txt_channel_lon">Long Name:</label>
                            <div class="control-label col-sm-8">
                                <input type="text" class="form-control" id="txt_channel_long" name="Channel long name" value="" required="required" title="Please enter Channel long name"/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 lable_forms new" for="txt_channel_name">Short Name:</label>
                            <div class="control-label col-sm-8">
                                <input type="text" class="form-control" id="txt_channel_short" name="Channel short name" value="" required="" title="Please enter Channel short name"/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 lable_forms new" for="txt_video_format:">Video Format:</label>
                            <div class="control-label col-sm-8">
                                <input type="text" class="form-control" id="txt_video_format" name="Video format" value="" required="" title="Please enter Video format"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 lable_forms new" for="txt_remarks:">Remarks:</label>
                            <div class="control-label col-sm-8">
                                <input type="text" class="form-control" id="txt_remarks" name="Video format" value=""/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 dropdown"></div>
                            <div class="col-sm-8 dropdown">
                                <label class="control-label col-sm-3 lable_forms new" for="txt_remarks:"><input type="radio" name="type" id="rd_Manual" value="manual" onclick="toggleFrameDelay(true)" checked="true"/> Manual</label>
                                <label class="control-label col-sm-3 lable_forms new" for="txt_remarks:"><input type="radio" name="type" id="rd_auto" value="auto" onclick="toggleFrameDelay(false)"/> Auto</label>
                            </div>
                        </div>

                        <div class="form-group" id = "id_manualdelay">
                            <label class="control-label col-sm-3 lable_forms new">Delay Frames :</label>
                            <div class="control-label col-sm-8">
                                <input type="text" pattern="\d*" class="form-control" id="txt_delay" value="0" required=""/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group" id = "ops-id">
                            <label class="control-label col-sm-3 lable_forms new">OPS Id :</label>
                            <div class="control-label col-sm-8">
                                <input type="text" pattern="\d*" class="form-control" id="txt_ops_id" value="0" required=""/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 lable_forms new">Logo Position:</label>
                            <label class="control-label col-sm-2 lable_forms new" style="width:50px !important">x :</label>
                            <div class="control-label col-sm-3">
                                <input type="text" pattern="\d*" class="form-control" id="txt_logoPositon_x"  value="100" required=""/>
                                <span class="help-block"></span>
                            </div>
                            <label class="control-label col-sm-2 lable_forms new" style="width:50px !important;margin-left: 50px">y :</label>
                            <div class="control-label col-sm-3">
                                <input type="text" pattern="\d*" class="form-control" id="txt_logoPositon_y"  value="100" required=""/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <button class="btn save add btn_color" type="button" onclick="addChannelAfterValidation(this.form)">Add</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<nav  class="navbar navbar-inverse sub footer">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>

<div id = "loading" class="ui-loader-background"></div>
</body>
</html>
