<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>Update client</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/admin/updateClient.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: admin-menu-bar"/>
</div>

<div class="container">
    <div class="col-md-1">
    </div>
    <div style="height:630px; !important" class="col-md-10 content_area">
        <div class="well header_well">
            <p class="header_well_pa">Update Client</p>
        </div>
        <div class="modal-body">
            <div class="row" >
                <div style="height:560px;" class="well">
                    <form id="new_workOrder_form" role="form">

                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms new" for="txt_client_id">Client Id:</label>
                            <div class="control-label col-sm-8">
                                <input type="text" class="form-control" id="txt_client_id" name="Client name" value="" required="" readonly="true" placeholder="Client name"/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms new" for="txt_client_name">Client name:</label>
                            <div class="control-label col-sm-8">
                                <input type="text" class="form-control" id="txt_client_name" name="Client name" value="" required="" title="Please enter Client name" placeholder="Client name"/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms new" for="txt_client_type">Client type:</label>
                            <div class="control-label col-sm-8" id ="dro_commerical_category_add_a">
                                <div class="dropdown">
                                    <select id="client_typeDropdown" name="clientName" required="true" class="form-control">
                                        <option value="-1">Select client type</option>
                                        <option >Client</option>
                                        <option >Agency</option>
                                    </select>
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms new" for="txt_address">Address:</label>
                            <div class="control-label col-sm-8">
                                <input type="text" class="form-control" id="txt_address" name="Address" value="" title="Please enter address" placeholder="Address"/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms new" for="txt_email">E-mail:</label>
                            <div class="control-label col-sm-8">
                                <input type="email" class="form-control" id="txt_email" name="Email" value="" title="Please enter Email" placeholder="Email"/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms new" for="txt_vat_num">VAT no:</label>
                            <div class="control-label col-sm-8">
                                <input type="text" class="form-control" id="txt_vat_num" name="VAT NO" value="" title="Please enter VAT no"/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms new" for="txt_contact_person">Contact person:</label>
                            <div class="control-label col-sm-8">
                                <input type="text" class="form-control" id="txt_contact_person" name="Contact person" value="" title="Please enter Contact Person"/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms new" for="txt_tel_num">Telephone number:</label>
                            <div class="control-label col-sm-8">
                                <input type="text" pattern="\d*" class="form-control" id="txt_tel_num" name="Telephone number" value="" title="Please enter Telephone number" placeholder="Telephone number"/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms new" for="txt_cx_cade">Cx Code:</label>
                            <div class="control-label col-sm-8">
                                <input type="text" class="form-control" id="txt_cx_cade" name="Telephone number" value="" title="Please enter Cx cade"/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 lable_forms new" for="txt_details">Details:</label>
                            <div class="control-label col-sm-8">
                                <input type="text" class="form-control" id="txt_details" name="Details" value="" title="Please enter Details" placeholder="Details"/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 lable_forms new" for="txt_details">Black Listed :</label>
                            <div class="control-label col-sm-8">
                                <div class="radio" id="redio_button">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-3 radio_lable" ><input id="blackList_radio_yes" type="radio" name="optradio" value="1"/>Yes</label>
                                    <label class="control-label ccol-sm-4 col-md-4 col-lg-3 radio_lable" ><input id="blackList_radio_no" type="radio" name="optradio" value="0" checked="checked"/>No</label>
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <button type="button" onclick="updateClientAfterValidation(this.form)" class="btn save add btn_color">Update</button>
                        <button id="client-remove-btn" class="btn btn-block remove" type="button" onclick="removeClient()">Remove</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<nav  class="navbar navbar-inverse sub footer">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>

<div id = "loading" class="ui-loader-background"></div>
</body>
</html>
