<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>One day schedule</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/admin/oneDaySchedule.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"></script>
    <script th:src="@{/assets-__${applicationVersion}__/lib/underscore-min.js}"></script>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>

    <style type="text/css">
            .table>tbody>tr>td.time-belt-cell{
                border-right: 2px solid #ddd;
                width:180px;
            }
            .table>tbody>tr.time-belt-border{
                border-top: 2px solid #888;
            }
            .table>tbody>tr>td.data-cell-green{
                background-color: lightgreen;
            }
            .table>tbody>tr>td.data-cell-orange{
                background-color: #f2bd5a;
            }
            .table>tbody>tr>td.data-cell-red{
                background-color: #e36161;
            }
            .table>tbody>tr>td.data-cell-gray{
                background-color: #B0C4DE;
            }
            .table>tbody>tr>td.data-cell-violet{
                background-color: #9e99df;
            }
            .table>thead>tr>th{
                border-bottom: 2px solid #888;
            }
        </style>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: inventory-management-menu-bar"/>
</div>


<div id="one-day-div" class="container">
    <div class="col-md-1">
    </div>
    <div style="height:700px; !important" class="col-md-12 content_area">
        <div style="width: 105%; margin-left: -23px;" class="well header_well">
            <p class="header_well_pa">One day schedule</p>
        </div>
        <div class="modal-body">
            <div class="row fullwith">
                <div style="height:630px; width: 105%; margin-left: -23px;" class="well middle_well_workorder wrapper-div " id="">

                    <div class="row form-group">
                        <label class="control-label col-sm-1 lable_forms_ad lable_forms" for="txt_end_pop">Wk.Order:</label>
                        <div class="control-label col-sm-2" id="workOrder_list_div">
                            <select id="workOrderDropdown_admin" name="WorkOrder" class="form-control">
                                <option VALUE="-111" >---All----</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                        <label class="control-label col-sm-1 lable_forms_ad lable_forms" for="txt_start_pop">Channel : </label>
                        <div class="control-label col-sm-2" id="cheannel_list_div" >
                            <select id="channelDropdown_admin" name="channelName" class="form-control"><option VALUE="-111" >---All----</option></select>
                            <span class="help-block"></span>
                        </div>
                        <label class="control-label col-sm-1 lable_forms_ad lable_forms" for="txt_end_pop">Advert. : </label>
                        <div class="control-label col-sm-2" id="advertisement_list_div">
                            <select id="AdvertimentDropdown_admin" name="Advertiment" class="form-control">
                                <option VALUE="-111" >---All----</option></select>
                            <span class="help-block"></span>
                        </div>
                        <label class="control-label col-sm-1 lable_forms_ad lable_forms" for="txt_end_pop">Type : </label>
                        <div class="control-label col-sm-2" id="advert_type_list_div">
                            <select id="AdvertTypeDropdown_admin" name="Type" class="form-control">
                                <option VALUE="-111" >---All----</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-1 lable_forms_ad lable_forms">Start hour: </label>
                            <div class="control-label col-sm-2" id="start_list_div">
                                <select id="start_hour"  onchange="changeStartHour()" name="Advertiment" class="form-control">
                                    <option VALUE="-111" >---All----</option>
                                    <option VALUE="0" >00:00</option>
                                    <option VALUE="1" >01:00</option>
                                    <option VALUE="2" >02:00</option>
                                    <option VALUE="3" >03:00</option>
                                    <option VALUE="4" >04:00</option>
                                    <option VALUE="5" >05:00</option>
                                    <option VALUE="6" >06:00</option>
                                    <option VALUE="7" >07:00</option>
                                    <option VALUE="8" >08:00</option>
                                    <option VALUE="9" >09:00</option>
                                    <option VALUE="10" >10:00</option>
                                    <option VALUE="11" >11:00</option>
                                    <option VALUE="12" >12:00</option>
                                    <option VALUE="13" >13:00</option>
                                    <option VALUE="14" >14:00</option>
                                    <option VALUE="15" >15:00</option>
                                    <option VALUE="16" >16:00</option>
                                    <option VALUE="17" >17:00</option>
                                    <option VALUE="18" >18:00</option>
                                    <option VALUE="19" >19:00</option>
                                    <option VALUE="20" >20:00</option>
                                    <option VALUE="21" >21:00</option>
                                    <option VALUE="22" >22:00</option>
                                    <option VALUE="23" >23:00</option>
                                </select>
                                <span class="help-block"></span>
                            </div>
                            <label class="control-label col-sm-1 lable_forms_ad lable_forms" >End hour: </label>
                            <div class="control-label col-sm-2" id="end_list_div">
                                <select id="end_hour" onchange="changeEndHour()" name="Type" class="form-control">
                                    <option VALUE="-111" >---All----</option>
                                    <option VALUE="0" >00:00</option>
                                    <option VALUE="1" >01:00</option>
                                    <option VALUE="2" >02:00</option>
                                    <option VALUE="3" >03:00</option>
                                    <option VALUE="4" >04:00</option>
                                    <option VALUE="5" >05:00</option>
                                    <option VALUE="6" >06:00</option>
                                    <option VALUE="7" >07:00</option>
                                    <option VALUE="8" >08:00</option>
                                    <option VALUE="9" >09:00</option>
                                    <option VALUE="10" >10:00</option>
                                    <option VALUE="11" >11:00</option>
                                    <option VALUE="12" >12:00</option>
                                    <option VALUE="13" >13:00</option>
                                    <option VALUE="14" >14:00</option>
                                    <option VALUE="15" >15:00</option>
                                    <option VALUE="16" >16:00</option>
                                    <option VALUE="17" >17:00</option>
                                    <option VALUE="18" >18:00</option>
                                    <option VALUE="19" >19:00</option>
                                    <option VALUE="20" >20:00</option>
                                    <option VALUE="21" >21:00</option>
                                    <option VALUE="22" >22:00</option>
                                    <option VALUE="23" >23:00</option>
                                </select>
                                <span class="help-block"></span>
                            </div>
                            <div class="control-label col-md-3">
                                <div id="date-selecter" class="input-append">
                                    <div class="input-group">
                                        <span class="input-group-addon">Date</span>
                                        <input id="setected-date" name="setected-date" data-format="yyyy/MM/dd" class="form-control" type="text"/>
                                        <span class="add-on input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                        </span>
                                    </div>
                                </div>
                                <span class="help-block"></span>
                            </div>
                            <div class="control-label col-sm-1">
                                <button type="button" onclick="goToDate()" class="btn btn_color" >Go</button>
                            </div>
                            <label class="control-label col-sm-4 col-md-4 col-lg-4" ></label>
                        </div>
                    </div>

                    <br/>

                    <div class="row form-group">
                        <div class="control-label col-sm-4">
                            <button type="submit" onclick="clickPreviousDay()" class="btn btn_color week" >Previous Day</button>
                        </div>
                        <div id="start_date_div" class="control-label col-sm-4">
                            <label id="lbe_day" style="width:100%;padding-top:5px;font-size:16px;text-align: center;" class="lable_font"></label>
                        </div>
                        <div class="control-label col-sm-4">
                            <button type="submit" onclick="clickNextDay()" class="btn btn_color week" >Next Day</button>
                        </div>
                    </div>
                    <br/>

                    <div id="schedule_main_table" class="table-responsive">
                        <table class="table table-bordered table-workorder">
                            <thead>
                            <tr>
                                <th>Time Belt</th>
                                <th>WO Id</th>
                                <th>Advert Name</th>
                                <th>Scheduled time</th>
                                <th>Duration (s)</th>
                                <th>Cluster</th>
                                <th>Type</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <br/>

                    <div class="row">
                        <div class="control-label col-sm-10"></div>
                        <div class="control-label col-sm-1">
                            <button type="button" onclick="generateExcel()" class="btn btn_color pull-right" >Generate Excel</button>
                        </div>
                        <div class="control-label col-sm-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav  class="navbar navbar-inverse sub">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>

<div id = "loading" class="ui-loader-background"></div>
<div id='msg_info'></div>
</body>
</html>
