<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

    <head th:with="applicationVersion=${@environment.getProperty('application.version')}">
        <title>OPS</title>
        <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>

        <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
        <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>

        <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>
        <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
        <script th:src="@{/assets-__${applicationVersion}__/js/admin/ops.js}"/>

    </head>
    <body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

    <div id="includedMenubar">
        <th:block th:include="common-components :: admin-menu-bar"/>
    </div>

        <div class="container">
            <div class="col-md-1">
            </div>
            <div style="height:470px; !important" class="col-md-10 content_area">
                <div class="well header_well">
                    <p class="header_well_pa">Import ops deals</p>
                </div>
                <div class="modal-body">
                    <div class="row" >
                        <div style="height:150px;" class="well">
                            <form id="new_workOrder_form" role="form">

                                <div class="row">
                                    <div class="form-group">
                                        <!--<label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms new" for="txt_client_name">Import ops Hot deals:</label>-->
                                        <div class="control-label col-sm-8">
                                            <button type="button" onclick="importDeal()" class="btn save add btn_color" style="min-width: 175px;">Import Hot Deals</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <!--<label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms new" for="txt_client_name">Import ops custom schedule:</label>-->
                                        <div class="control-label col-sm-8">
                                            <button type="button" onclick="importCustomSchedule()" class="btn save add btn_color" style="min-width: 175px;">Import Custom Schedules</button>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="row">-->
                                    <!--<div class="form-group">-->
                                        <!--&lt;!&ndash;<label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms new" for="txt_client_name">Import ops custom schedule:</label>&ndash;&gt;-->
                                        <!--<div class="control-label col-sm-8">-->
                                            <!--<button type="button" onclick="importBidItem()" class="btn save add btn_color" style="min-width: 175px;">Import Bid Item</button>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="row">-->
                                    <!--<div class="form-group">-->
                                        <!--&lt;!&ndash;<label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms new" for="txt_client_name">Import ops custom schedule:</label>&ndash;&gt;-->
                                        <!--<div class="control-label col-sm-8">-->
                                            <!--<button type="button" onclick="importPromotion()" class="btn save add btn_color" style="min-width: 175px;">Import Promotion</button>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--input type="file" id="files" name="files[]" /-->
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div id = "loading" class="ui-loader-background"></div>

    <nav  class="navbar navbar-inverse sub footer">
        <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
    </nav>
    </body>
</html>
