<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>Playlist Setting</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/lib/underscore-min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/admin/playlistSetting.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"></script>
    <script type="text/javascript" th:src="@{/assets-__${applicationVersion}__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js}"/>

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: inventory-management-menu-bar"/>
</div>

<div id="playlist-setting-div" class="container">
    <div class="col-md-1">
    </div>
    <div style="height:100%; !important" class="col-md-10 content_area">
        <div class="well header_well">
            <p class="header_well_pa">Max Slot Setting</p>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="well middle_well">
                    <div class="col-md-12 c-content">
                        <form id="new_workOrder_form" role="form">

                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4 col-lg-4 lable_forms">Channel</label>
                                <div class="control-label col-sm-8 col-md-8 col-lg-8 input_width" id="user_drop">
                                    <div class="dropdown">
                                        <select id="dd_channel" class="form-control" onchange="loadSettings()"/>
                                    </div><span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms">Min Limit</label>
                                <div class="control-label col-sm-8 col-md-8 col-lg-9 input_width">
                                    <input type="text" class="form-control" id="txt_min_limit" value="" required=""  placeholder=""/>
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms">Max Limit</label>
                                <div class="control-label col-sm-8 col-md-8 col-lg-9 input_width">
                                    <input type="text" class="form-control" id="txt_max_limit" value="" required=""  placeholder=""/>
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-3 col-lg-3 lable_forms">Spot Count/Hr</label>
                                <div class="control-label col-sm-8 col-md-8 col-lg-9 input_width">
                                    <input type="text" class="form-control" id="txt_spot_count" value="" required=""  placeholder=""/>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-default add_channel save" onclick="pListSettingSave();">Save</button>
                    </div>
                    <hr/>

                    <div id="channel_main_table" class="table-responsive">
                        <table id="channel_main" class="table table-bordered table-workorder">
                            <thead class="tb_align_center">
                            <tr>
                                <th>Min Limit</th>
                                <th>Max Limit</th>
                                <th>Spot Count</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="setting_tb">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<nav  class="navbar navbar-inverse sub">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>

<div id = "loading" class="ui-loader-background"></div>
<div id='msg_info'></div>

<div class="modal fade" id="dsModal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Setting</h4>
            </div>
            <div class="modal-body" style="padding:20px 0px 0px 0px!important;">
                <!-- -->
                <div class="form-horizontal">
                    <div class="form-group text-center">
                            <span>
                                Do you want to delete this setting?
                            </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="deleteSetting()" class="btn btn-default" data-dismiss="modal">YES</button>
                <button id="delete-entry-btn" type="button"  onclick="notOverrideInventory()" class="btn btn-primary">NO</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
