<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>Playlist View</title>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />
    <meta charset="utf-8"/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link type="text/css" rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/multiselect/bootstrap-multiselect.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/eonasdan-bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}"/>
    <!--<link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>-->

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/multiselect/bootstrap-multiselect.js}"></script>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/moment/min/moment.min.js}"></script>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/eonasdan-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/admin/playlistView.js}"/>

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/playlist-view.css}"/>
</head>
<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: inventory-management-menu-bar"/>
</div>
<div id="one-day-div" class="container">
    <div class="col-md-1">
    </div>
    <div style="height:700px; !important" class="col-md-12 content_area">
        <div style="width: 105%; margin-left: -23px;" class="well header_well">
            <p class="header_well_pa">Playlist Preview Report</p>
        </div>
        <div class="modal-body">
            <div class="row fullwith">
                <div style="height:630px; width: 105%; margin-left: -23px;" class="well middle_well_workorder wrapper-div " id="">
                    <div class="col-md-12 form-group">
                        <div class="col-md-12">
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <label>Channel</label>
                                <select id="channel_dd" class="form-control" multiple="true">
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>From Date</label>
                                <input type="text" class="form-control" data-format="yyyy-MM-dd" id="from_date"/>
                            </div>
                            <div class="col-md-2">
                                <label>To Date</label>
                                <input type="text" class="form-control" data-format="yyyy-MM-dd" id="to_date"/>
                            </div>
                            <div class="col-md-2">
                                <label>From Time</label>
                                <select id="from_time"  name="Advertiment" class="form-control">
                                    <option VALUE="0" >00:00</option>
                                    <option VALUE="1" >01:00</option>
                                    <option VALUE="2" >02:00</option>
                                    <option VALUE="3" >03:00</option>
                                    <option VALUE="4" >04:00</option>
                                    <option VALUE="5" >05:00</option>
                                    <option VALUE="6" >06:00</option>
                                    <option VALUE="7" >07:00</option>
                                    <option VALUE="8" >08:00</option>
                                    <option VALUE="9" >09:00</option>
                                    <option VALUE="10" >10:00</option>
                                    <option VALUE="11" >11:00</option>
                                    <option VALUE="12" >12:00</option>
                                    <option VALUE="13" >13:00</option>
                                    <option VALUE="14" >14:00</option>
                                    <option VALUE="15" >15:00</option>
                                    <option VALUE="16" >16:00</option>
                                    <option VALUE="17" >17:00</option>
                                    <option VALUE="18" >18:00</option>
                                    <option VALUE="19" >19:00</option>
                                    <option VALUE="20" >20:00</option>
                                    <option VALUE="21" >21:00</option>
                                    <option VALUE="22" >22:00</option>
                                    <option VALUE="23" >23:00</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>To Time</label>
                                <select id="to_time"  name="Advertiment" class="form-control">
                                    <option VALUE="0" >00:00</option>
                                    <option VALUE="1" >01:00</option>
                                    <option VALUE="2" >02:00</option>
                                    <option VALUE="3" >03:00</option>
                                    <option VALUE="4" >04:00</option>
                                    <option VALUE="5" >05:00</option>
                                    <option VALUE="6" >06:00</option>
                                    <option VALUE="7" >07:00</option>
                                    <option VALUE="8" >08:00</option>
                                    <option VALUE="9" >09:00</option>
                                    <option VALUE="10" >10:00</option>
                                    <option VALUE="11" >11:00</option>
                                    <option VALUE="12" >12:00</option>
                                    <option VALUE="13" >13:00</option>
                                    <option VALUE="14" >14:00</option>
                                    <option VALUE="15" >15:00</option>
                                    <option VALUE="16" >16:00</option>
                                    <option VALUE="17" >17:00</option>
                                    <option VALUE="18" >18:00</option>
                                    <option VALUE="19" >19:00</option>
                                    <option VALUE="20" >20:00</option>
                                    <option VALUE="21" >21:00</option>
                                    <option VALUE="22" >22:00</option>
                                    <option VALUE="23" >23:00</option>
                                </select>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!--<button class="btn success" type="button" onclick="generatePlayList()">Check</button>-->
                        <div class="form-group col-sm-7 col-md-7 col-lg-7">
                            <button type="button" onclick="generatePlayList()" class="btn btn_color pull-right" id="btn_new">Generate Report</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id = "loading" class="ui-loader-background"></div>
<div id='msg_info'></div>
</body>
</html>