<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>Product Create</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/validation.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/lib/underscore-min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/admin/productCreate.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <style>
        .autocomplete {
            position: relative;
            display: inline-block;
        }

        .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
            overflow-y: scroll;
            overflow-x: hidden;
            max-height: 300px;
        }

        .autocomplete-items div {
            padding: 5px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

        /*when hovering an item:*/
        .autocomplete-items div:hover {
            background-color: #e9e9e9;
        }

        /*when navigating through the items using the arrow keys:*/
        .autocomplete-active {
            background-color: DodgerBlue !important;
            color: #ffffff;
        }
    </style>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">
<div id="includedMenubar">
    <th:block th:include="common-components :: admin-menu-bar"/>
</div>
<div class="container">
    <div class="col-md-1"/>
    <div class="col-md-12 content_area">
        <div class="well header_well">
            <p class="header_well_pa">Create Product</p>
        </div>
        <div class="modal-body">
            <div  style="height:500px;overflow:hidden;" class="well middle_well_workorder2 wrapper-div">
                <div class="row form-group">
                    <label class="control-label col-sm-1 col-md-1 col-lg-1 " for="txt_product"></label>
                    <label class="control-label col-sm-2 col-md-2 col-lg-2 ">Client</label>
                    <div class="control-label col-sm-8 col-md-8 col-lg-8 input_width">
                        <div class="dropdown">
                            <select id="cmbClient" name="cmbClient" class="form-control" >
                                <option value="">Select</option>
                            </select>
                        </div>
                        <span class="help-block"/>
                    </div>
                    <label class="control-label col-sm-1 col-md-1 col-lg-1 " for="txt_product"></label>
                </div>

                <div class="row form-group">
                    <label class="control-label col-sm-1 col-md-1 col-lg-1 " for="txt_product"></label>
                    <label class="control-label col-sm-2 col-md-2 col-lg-2 " for="txt_product">Product</label>
                    <div class="control-label col-sm-8 col-md-8 col-lg-8 input_width">
                        <input type="text" class="form-control autocomplete" id="txt_product"
                                placeholder="Product"/>
                        <span class="help-block"/>
                    </div>
                    <label class="control-label col-sm-1 col-md-1 col-lg-1 " for="txt_product"></label>
                </div>

                <div class="row form-group">
                    <label class="control-label col-sm-1 col-md-1 col-lg-1 " for="txt_product"></label>
                    <label class="control-label col-sm-2 col-md-2 col-lg-2 " for="drp_brand">Brand</label>
                    <div class="control-label col-sm-8 col-md-8 col-lg-8 input_width" id ="wo_type">
                        <input type="text" class="form-control autocomplete" id="drp_brand"
                               placeholder="Brand"/>
                        <!--<div class="dropdown">-->
                            <!--<select id="drp_brand" name="wo_type" class="form-control" >-->
                                <!--<option value="">Select Brand</option>-->
                            <!--</select>-->
                        <!--</div>-->
                        <span class="help-block"/>
                    </div>
                    <label class="control-label col-sm-1 col-md-1 col-lg-1 " for="txt_product"></label>
                </div>

                <div class="row form-group">
                    <label class="control-label col-sm-1 col-md-1 col-lg-1 " for="txt_product"></label>
                    <label class="control-label col-sm-2 col-md-2 col-lg-2 " for="">Code</label>
                    <div class="control-label col-sm-8 col-md-8 col-lg-8 input_width">
                        <input type="text" class="form-control" id="txt_brand_code" name="workOrderName" value="" required="" title="Please enter Schedule ref no." placeholder=""/>
                        <span class="help-block"/>
                    </div>
                    <label class="control-label col-sm-1 col-md-1 col-lg-1 " for="txt_product"></label>
                </div>

                <div class="form-group col-sm-9 col-md-9 col-lg-9">

                </div>
                <div class="form-group col-sm-2 col-md-2 col-lg-2">
                    <input class="btn btn-block btn_color advert_upload_size" type="button" id="savebutton" value="Save" onclick="validateCode()"/>
                    <span class="help-block"></span>
                </div>

            </div>
        </div>
    </div>
</div>

<div id = "loading" class="ui-loader-background"></div>

<nav  class="navbar navbar-inverse sub footer">
    <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
</nav>
<div id='msg_info'></div>
</body>
</html>
