<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:with="applicationVersion=${@environment.getProperty('application.version')}">
    <title>Update Server</title>
    <meta charset="utf-8"/>
    <link rel="icon" type="png" th:href="@{/assets-__${applicationVersion}__/dist/img/VCLabslogo.ico}" />
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>

    <script th:src="@{/assets-__${applicationVersion}__/bower_components/jquery/dist/jquery.min.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/bower_components/bootstrap/dist/js/bootstrap.min.js}"/>

    <script th:src="@{/assets-__${applicationVersion}__/js/utils.js}"/>
    <script th:src="@{/assets-__${applicationVersion}__/js/admin/updateServer.js}"/>
    <script type='text/javascript' th:src="@{/assets-__${applicationVersion}__/js/utils.urls.js}"/>

    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets-__${applicationVersion}__/dist/css/vcl_styles.css}"/>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body  th:with="applicationVersion=${@environment.getProperty('application.version')}">

<div id="includedMenubar">
    <th:block th:include="common-components :: admin-menu-bar"/>
</div>

    <input type="hidden" id="serverId" name="serverId" th:value="*{serverId}"/>

    <div class="container">
        <div class="col-md-1">
        </div>
        <div style="height:600px; !important" class="col-md-10 content_area">
            <div class="well header_well">
                <p class="header_well_pa">Add New Server</p>
            </div>
            <div class="modal-body">
                <div class="row" >
                    <div style="height:400px;" class="well">
                        <form id="new_channel_form" role="form">

                            <div class="form-group">
                                <label class="control-label col-sm-3 lable_forms new">Server ID :</label>
                                <div class="control-label col-sm-8">
                                    <input type="text" class="form-control" id="txt_server_id" value="" title="" readonly=""/>
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3 lable_forms new">Server IP :</label>
                                <div class="control-label col-sm-8">
                                    <input type="text"  class="form-control" id="txt_server_ip" value="" required="required" title="Please enter Server IP"/>
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3 lable_forms new">Server Port :</label>
                                <div class="control-label col-sm-8">
                                    <input type="text"  pattern="\d*"  class="form-control" id="txt_server_port" value="" required="" title="Please enter Port"/>
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3 lable_forms new">Card Port :</label>
                                <div class="control-label col-sm-8">
                                    <input type="text" class="form-control" id="txt_card_port" value="" required="" title="Please enter Port"/>
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3 lable_forms new">Service Path :</label>
                                <div class="control-label col-sm-8">
                                    <input type="text" class="form-control" id="txt_service_path" value="" required="" title="Please enter Port"/>
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3 lable_forms new">In Card :</label>
                                <div class="control-label col-sm-8">
                                    <div class="dropdown">
                                        <select id="cmbInCard" name="" class="form-control" required="">
                                            <option value="0">01</option>
                                            <option value="1">02</option>
                                            <option value="2">03</option>
                                            <option value="3">04</option>
                                        </select>
                                    </div>
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3 lable_forms new">Out Card :</label>
                                <div class="control-label col-sm-8">
                                    <div class="dropdown">
                                        <select id="cmbOutCard" name="" class="form-control" required="">
                                            <option value="0">01</option>
                                            <option value="1">02</option>
                                            <option value="2">03</option>
                                            <option value="3">04</option>
                                        </select>
                                    </div>
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <button class="btn save add btn_color" type="button" onclick="updateServerAfterValidation(this.form);">Update</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <nav  class="navbar navbar-inverse sub footer">
        <p class="footer-text pull-right">&copy; Visual Concept Labs Pvt Ltd</p>
    </nav>

    <div id = "loading" class="ui-loader-background"></div>
</body>
</html>
